/* - - - - - - - - - - Quiz Settings - Start */
.quiz-settings-section {
  /* border: 1px solid black; */
  width: 100%;
  text-align: center;
}
.quiz-settings-sub-section {
  width: 30%;
  margin: 50px auto;
}
.quiz-settings-sub-section-title {
  color: var(--company-primary-color);
  font-size: 30px;
  padding: 10px;
}
.quiz-settings-sub-section-title-description {
  color: var(--company-greyed-out-color);
  font-size: 12px;
  margin-bottom: 10px;
}
.quiz-settings-sub-section-items-group {
  padding: 10px 0;
}
.quiz-settings-sub-section-item-single {
  margin: 5px 0;
  font-size: 18px;
}
.quiz-settings-sub-section-last-update {
  color: var(--company-greyed-out-color);
  font-size: 12px;
  margin-bottom: 40px;
}
/* - - - - - - - - - - Quiz Settings - End */


/* - - - - - - - - - - Quiz Settings Edit - Start */
.quiz-settings-edit-section {
  display: none;
}
.quiz-settings-edit-section.show-edit-button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
#quiz-settings-if-payment-admin {
  display: none;
}
.quiz-settings-explain-sub-section-permission {
  color: var(--company-greyed-out-color);
  text-align: center;
  font-size: 12px;
  margin: 5px 0;
}
/* - - - - - - - - - - Quiz Settings Edit - End */


/* - - - - - - - - - - Quiz Feedback - End */
/* - - - - - - - - - - Quiz Feedback - End */