/* - - - - - - - - - - Quiz Feedback Form Start */
form.quiz-feedback-form {
  width: 50%;
  margin: 60px auto;
}
.question-feedback-section {
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.quiz-feedback-section-description {
  font-size: 25px;
  color: var(--company-primary-color);
  padding: 0 0 15px 0;
}
.quiz-feedback-section-sub-description {
  font-size: 15px;
  color: var(--company-greyed-out-color);
}
/* - - - - - - - - - - Quiz Feedback Form End */


/* - - - - - - - - - - Quiz Feedback Text Box Start */
/* - - - - - - - - - - Quiz Feedback Text Box End */


/* - - - - - - - - - - Submit Start */
.button-feedback-page {
  margin: 50px;
}
/* - - - - - - - - - - Submit End */
