/* ============================================== */
/* ================= MOBILE ===================== */
/* ============================================== */
@media (max-width: 1200px) {
  /* - - - - - - - - - - Quiz Feedback Form Start */
  /* - - - - - - - - - - Quiz Feedback Form Start */
  form.quiz-feedback-form {
    width: 95%;
  }
  /* - - - - - - - - - - Quiz Feedback Form End */


  /* - - - - - - - - - - Quiz Feedback Text Box Start */
  /* - - - - - - - - - - Quiz Feedback Text Box End */


  /* - - - - - - - - - - Submit Start */
  /* - - - - - - - - - - Submit End */


  /* - - - - - - - - - - Logo Image Start */
  /* - - - - - - - - - - Logo Image End */
}