{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Quiz Settings / Triviafy</title>
{% endblock %}



{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<nav-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account_js="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}",
              link_create_question_js="{{ url_for('create_question_index_page_render_template.create_question_index_page_render_template_function') }}",
              link_quiz_settings_index_js="{{ url_for('quiz_settings_index_page_render_template.quiz_settings_index_page_render_template_function') }}",
              link_quiz_feedback_index_js="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}",
              link_leaderboard_js="{{ url_for('leaderboard_page_render_template.leaderboard_page_render_template_function') }}",
              link_quiz_archive_js="{{ url_for('quiz_archive_page_render_template.quiz_archive_page_render_template_function') }}",
              link_subscription_js="{{ url_for('subscription_index_page_render_template.subscription_index_page_render_template_function') }}",
              link_claim_prize_js="{{ url_for('claim_prize_index_page_render_template.claim_prize_index_page_render_template_function') }}">
</nav-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->

<main class="logged-in">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro Start -->
  <company-name-channel-component company_name_js="{{ user_company_name_to_html }}",
                                  channel_name_js="{{ user_channel_name_to_html }}",
                                  free_trial_ends_info_js="{{ free_trial_ends_info_to_html }}">
  </company-name-channel-component>

  <div class="template-page-intro-background box-shadow-sm-black">
    <div class="template-page-intro">
      <p class="template-page-intro-title template-page-intro-title-quiz-settings-edit"id='words-stroke-shadow'>Edit Quiz Settings</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Form Start -->
  <form action="{{ url_for('edit_quiz_settings_submit_new_quiz_settings.edit_quiz_settings_submit_new_quiz_settings_function') }}" method="post" class='edit-quiz-settings-form' enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Start -->
    <div class="quiz-settings-section">
      <div class="quiz-settings-sub-section box-shadow-reg-grey box-shadow-rounded">
        <p class="quiz-settings-sub-section-title">Quiz Start</p>
        <p class="quiz-settings-sub-section-title-description">Recommended: Monday, 9 AM - EST (New York Time)</p>
        <div class="quiz-settings-sub-section-items-group">

          <label for="edit-quiz-start-day" class="edit-quiz-label">Select Start Day</label>
          <select name="edit-quiz-start-day" id="edit-quiz-start-day" class="edit-quiz-select">
            <option value="monday" selected>Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
          </select>

          <label for="edit-quiz-start-time" class="edit-quiz-label">Select Start Time - EST (New York Time)</label>
          <select name="edit-quiz-start-time" id="edit-quiz-start-time" class="edit-quiz-select">
            <option value="one_am">1 AM</option>
            <option value="two_am">2 AM</option>
            <option value="three_am">3 AM</option>
            <option value="four_am">4 AM</option>
            <option value="five_am">5 AM</option>
            <option value="six_am">6 AM</option>
            <option value="seven_am">7 AM</option>
            <option value="eight_am">8 AM</option>
            <option value="nine_am" selected>9 AM</option>
            <option value="ten_am">10 AM</option>
            <option value="eleven_am">11 AM</option>
            <option value="noon">12 Noon</option>
            <option value="one_pm">1 PM</option>
            <option value="two_pm">2 PM</option>
            <option value="three_pm">3 PM</option>
            <option value="four_pm">4 PM</option>
            <option value="five_pm">5 PM</option>
            <option value="six_pm">6 PM</option>
            <option value="seven_pm">7 PM</option>
            <option value="eight_pm">8 PM</option>
            <option value="nine_pm">9 PM</option>
            <option value="ten_pm">10 PM</option>
            <option value="eleven_pm">11 PM</option>
          </select>

        </div>
      </div>


      <div class="quiz-settings-sub-section box-shadow-reg-grey box-shadow-rounded">
        <p class="quiz-settings-sub-section-title">Quiz End</p>
        <p class="quiz-settings-sub-section-title-description">Recommended: Wednesday, 7 PM - EST (New York Time)</p>
        <div class="quiz-settings-sub-section-items-group">
          
          <label for="edit-quiz-end-day" class="edit-quiz-label">Select End Day</label>
          <select name="edit-quiz-end-day" id="edit-quiz-end-day" class="edit-quiz-select">
            <option value="monday" class="edit-quiz-option">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday" selected>Wednesday</option>
          </select>

          <label for="edit-quiz-end-time" class="edit-quiz-label">Select End Time - EST (New York Time)</label>
          <select name="edit-quiz-end-time" id="edit-quiz-end-time" class="edit-quiz-select">
            <option value="one_am">1 AM</option>
            <option value="two_am">2 AM</option>
            <option value="three_am">3 AM</option>
            <option value="four_am">4 AM</option>
            <option value="five_am">5 AM</option>
            <option value="six_am">6 AM</option>
            <option value="seven_am">7 AM</option>
            <option value="eight_am">8 AM</option>
            <option value="nine_am">9 AM</option>
            <option value="ten_am">10 AM</option>
            <option value="eleven_am">11 AM</option>
            <option value="noon">12 Noon</option>
            <option value="one_pm">1 PM</option>
            <option value="two_pm">2 PM</option>
            <option value="three_pm">3 PM</option>
            <option value="four_pm">4 PM</option>
            <option value="five_pm">5 PM</option>
            <option value="six_pm">6 PM</option>
            <option value="seven_pm" selected>7 PM</option>
            <option value="eight_pm">8 PM</option>
            <option value="nine_pm">9 PM</option>
            <option value="ten_pm">10 PM</option>
            <option value="eleven_pm">11 PM</option>
          </select>

        </div>
      </div>


      <div class="quiz-settings-sub-section box-shadow-reg-grey box-shadow-rounded">
        <p class="quiz-settings-sub-section-title">Questions per Quiz</p>
        <p class="quiz-settings-sub-section-title-description">Recommended: 10</p>
        <div class="quiz-settings-sub-section-items-group">
          
          <label for="edit-quiz-num-questions" class="edit-quiz-label">Select Questions per Quiz</label>
          <select name="edit-quiz-num-questions" id="edit-quiz-num-questions" class="edit-quiz-select">
            <option value="five_questions">5</option>
            <option value="ten_questions" selected>10</option>
          </select>

        </div>
      </div>


      <div class="quiz-settings-sub-section-last-update">
        <p>Quiz Settings Last Updated: {{ company_quiz_settings_last_updated_timestamp_html }}</p>
      </div>
    
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings End -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Edit Start -->
    <div class="quiz-settings-edit-section">
      <p id="quiz-settings-if-payment-admin">{{ user_payment_admin_status_html }}</p>
      <button class="button-default button-default-color-primary" type="submit" value="submit">Submit</button>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Edit End -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Explain Start -->
    <div class="quiz-settings-explain-section">
      <p class="quiz-settings-explain-sub-section-permission">Only payment admin's can change quiz settings</p>
      <p class="quiz-settings-explain-sub-section-permission">To see user's with "Payment Admin Access" go to Account > Settings.</p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Explain End -->
  </form>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Form End -->

</main>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider START -->
<div class="template-divide-section">  
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider END -->

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}