/* - - - - - - - - - - Account Intro Start */
.account_info_section {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
.account-info-sub-section {
  /* border: 1px black solid; */
  padding: 20px;
}
.account-info-sub-section-title {
  color: var(--company-primary-color);
  font-size: 25px;
  padding: 10px;
}
.account-info-sub-section-sub-title {
  color: var(--company-greyed-out-color);
  font-size: 15px;
  padding: 0 0 5px 0;
}
.account-info-sub-section-data {
  font-size: 18px;
}
/* - - - - - - - - - - Account Intro End */


/* - - - - - - - - - - Account Info Edit Start */
.account-info-edit-section {
  text-align: center;
  padding: 0 0 30px 0;
}
/* - - - - - - - - - - Account Info Edit End */