@media (max-width: 1200px) {
  /* - - - - - - - - - - Account Intro Start */
  .account_info_section {
    width: 95%;
  }
  /* - - - - - - - - - - Account Intro End */


  /* - - - - - - - - - - Account Info Edit Start */
  /* - - - - - - - - - - Account Info Edit End */
}