/* - - - - - - - - - - Img, message, button Start */
.email-consent-section {
  /* border: black 1px solid; */
  width: 50%;
  margin: 0 auto;
}
.email-consent-sub-section {
  text-align: center;
}
img.email-consent-sub-section-img {
  height: 20rem;
  width: 20rem;
  margin-top: 50px;
}
p.email-consent-sub-section-title {
  color: var(--company-primary-color);
  font-size: 40px;
  padding-bottom: 20px;
}
p.email-consent-sub-section-email {
  color: var(--company-primary-color);
  font-size: 20px;
  padding: 0 0 10px 0;
}
p.email-consent-sub-section-description {
  color: black;
  font-size: 20px;
  padding: 10px 0;
}
p.email-consent-sub-section-description-disclaimer {
  /* color: var(--company-greyed-out-color); */
  color: black;
  font-size: 10px;
  padding: 10px 0;
}
.email-consent-form-label {
  margin: 20px 0;
}
/* - - - - - - - - - - Img, message, button End */