/* - - - - - - - - - - Claim Prize Form Start */
form.claim-prize-form {
  width: 50%;
  margin: 60px auto;
}
.claim-prize-section {
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.claim-prize-section-description {
  font-size: 25px;
  color: var(--company-primary-color);
  padding: 0 0 15px 0;
}
.claim-prize-section-sub-description {
  font-size: 15px;
  color: var(--company-greyed-out-color);
  margin: 10px 0;
}

.claim-prize-span {
  color: var(--company-primary-color);
  font-size: 18px;
}
/* - - - - - - - - - - Claim Prize Form End */