{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="blog-single-post-section">
  <div class="blog-single-post-sub-section-title-and-subtitle-section">
    <p class="blog-single-post-sub-section-title"><strong>Top Workplace Trivia Platform That Improves Employee Engagement</strong></p>
    <p class="blog-single-post-sub-section-sub-title"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
  <div class="blog-single-post-all-articles-section">
    <p class="blog-single-post-regular-paragraph">Does This Sound Like Your Team’s Weekly Routine?</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- M: “How was your weekend?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- T/W: “Can you believe this weather? How was your commute?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Th/F: “Any plans for the weekend?”</p>
    
    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Results/Cons:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Company culture suffers = Work quality suffers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Team members feel unengaged, robotic, and lacking in personal connection.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- False sense of team camaraderie among co-workers.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Question: How can employee engagement at a typical company be improved?</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Answer: Improve Employee Engagement With Trivia Quizzes</p>
    <p class="blog-single-post-regular-paragraph">Benefits/Pros of weekly team trivia quizzes:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Discover your team members hidden knowledge and passions.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Build team camaraderie and strengthen relationships.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase employee satisfaction at your company.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Reduce stress levels.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase brain performance.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Improve company PR.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Test and enhance your memory.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Earn bragging rights among co-workers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Win prizes.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Question: How can I get weekly trivia quizzes sent to my team automatically?</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Answer: Triviafy.com</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Summary</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Pros</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- 100% Automated: Triviafy creates/grades weekly trivia quizzes automatically.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Asynchronous: team members submit answers on their own time throughout the week.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Fully Customizable: Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Gift Card Prizes: Team members that win quizzes consistently win free gift cards to popular companies like Amazon, Nike, Adidas, etc.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Flat Monthly Rate: Unlimited users per team for one flat monthly rate.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- First 30 Days are Free: no credit card required, cancel any time.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Cons</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Cheating: No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Slack Integration Only: Currently Triviafy is 100% focused on Slack integration while Microsoft Teams/Email signups are scheduled to be in production in early 2022.</p>
  </div>  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact START -->
<div class="blog-single-post-contact-info-section">
  <p>Contact: Robert@Triviafy.com</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact End -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos START -->
<div class="blog-single-post-triviafy-character">
  <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo questioning" class="blog-single-post-triviafy-character-sub-section-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}