{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="blog-single-post-section">
  <div class="blog-single-post-sub-section-title-and-subtitle-section">
    <p class="blog-single-post-sub-section-title"><strong>Top Workplace Trivia Platform That Improves Employee Engagement</strong></p>
    <p class="blog-single-post-sub-section-sub-title"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
  <img src="/static/images/blog_post_images/free_image_1.jpeg" alt="People working free image" class="blog-single-post-img box-shadow-reg-grey">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
  <div class="blog-single-post-all-articles-section">
    <p class="blog-single-post-regular-paragraph">Does This Sound Like Your Team’s Weekly Routine?</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- M: “How was your weekend?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- T/W: “Can you believe this weather? How was your commute?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Th/F: “Any plans for the weekend?”</p>
    
    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Results/Cons:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Company culture suffers = Work quality suffers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Team members feel unengaged, robotic, and lacking in personal connection.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- False sense of team camaraderie among coworkers.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph"><span class="blog-single-post-highlight-color"><strong>Question:</strong></span> How can employee engagement at a typical company be improved?</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph"><span class="blog-single-post-highlight-color"><strong>Answer:</strong></span> Improve Employee Engagement With Trivia Quizzes</p>
    <p class="blog-single-post-regular-paragraph">Benefits/Pros of weekly team trivia quizzes:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Discover your team members hidden knowledge and passions.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Build team camaraderie and strengthen relationships.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase employee satisfaction at your company.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Reduce stress levels.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase brain performance.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Improve company PR.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Test and enhance your memory.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Earn bragging rights among coworkers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Win prizes.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph"><span class="blog-single-post-highlight-color"><strong>Question:</strong></span> How can I get weekly trivia quizzes sent to my team automatically?</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph"><span class="blog-single-post-highlight-color"><strong>Answer:</strong></span> Triviafy.com</p>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
    <img src="/static/images/blog_post_images/screenshot_of_landing_page.png" alt="Screenshot of landing page" class="blog-single-post-img box-shadow-reg-grey">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Summary</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Pros</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>100% Automated:</strong></span> Triviafy creates/grades weekly trivia quizzes automatically.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Asynchronous:</strong></span> team members submit answers on their own time throughout the week.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fully Customizable:</strong></span> Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Gift Card Prizes:</strong></span> Team members that win quizzes consistently win free gift cards to popular companies like Amazon, Nike, Adidas, etc.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Flat Monthly Rate:</strong></span> Unlimited users per team for one flat monthly rate.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>First 30 Days are Free:</strong></span> no credit card required, cancel any time.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Cons</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Cheating:</strong></span> No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Slack Integration Only:</strong></span> Currently Triviafy is 100% focused on Slack integration while Microsoft Teams/Email signups are scheduled to be in production in early 2022.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Conclusion</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Weekly workplace trivia is a great way to engage employees and strengthen coworker relationships.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Asynchronous trivia quizzes work best because they allow employees to complete questions on their own time which does not interfere with company workflows.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Weekly trivia allows team members to get to know each other on a more personal level and conversations become less robotic in the workplace.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Finally, weekly trivia quizzes help make your company unique.</p>
  </div>  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line START -->
  <div class="blog-single-post-finish-article-line"></div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links START -->
  <div class="blog-single-post-supporting-links-section">
    <p>Supporting Links</p>
    <a href="https://medium.com/@robertjborowski/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank"><p>Medium Article</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links End -->
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact START -->
<div class="blog-single-post-contact-info-section">
  <p>Contact: Robert@Triviafy.com</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact End -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos START -->
<div class="blog-single-post-triviafy-character">
  <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo questioning" class="blog-single-post-triviafy-character-sub-section-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}