{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                              pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                              pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                              pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                              pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                              pdf_example_quiz_mixed_categories_js="{{ url_for('example_quiz_mixed_categories_render_template.example_quiz_mixed_categories_render_template_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">Top 3 Hybrid Team Building Activities</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="blog-single-post-page-content-section">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
    <div class="blog-single-post-img-section">
      <img src="/static/images/blog_post_images/blog_post_0002_images/unsplash_office_image.jpg" alt="Working on computer" class="blog-single-post-img default-box-shadow-grey-reg">
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
    <div class="blog-single-post-all-articles-section">
      <p class="default-not-signed-in-page-header-font">Overview</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Question: What is hybrid work?</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Problem: How does hybrid work impact my team?</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Solution: List of best hybrid team building activities.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Question: What is hybrid work?</p>
      <p class="default-not-signed-in-page-p-font">A hybrid work schedule is a combination of working remotely and working in office.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Problem: How does hybrid work impact my team?</p>
      <p class="default-not-signed-in-page-p-font">Many companies are adopting the hybrid work model and pushing employees to work in office for longer than 60% of the time.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Impact: Mandatory participation in this *return to office policy* is likely to cause unhappy and unengaged team members.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Solution: List of best hybrid team building activities.</p>
      <p class="default-not-signed-in-page-p-font">You can help make the hybrid work model enjoyable with the following team building activities:</p>
      <div class="blog-single-post-space-divider"></div>



      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 START -->
      <p class="default-not-signed-in-page-header-font">1. Triviafy</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://triviafy.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://triviafy.com/</a></p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0002_images/triviafy_landing_page_with_border.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary: Triviafy is a weekly trivia quiz sent directly to your team.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Asynchronous:</span> employees complete the weekly Triviafy quiz on their own time.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Automated:</span> Quiz creation, grading, weekly winner rewards are 100% automated.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Free Trial:</span> 30 days / 4 weeks of free Triviafy quizzes takes less than 50 seconds to set up.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 END -->
      <div class="blog-single-post-space-divider"></div>



      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 START -->
      <p class="default-not-signed-in-page-header-font">2. Pinturillo 2</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://www.pinturillo2.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://www.pinturillo2.com/</a></p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0002_images/pinturillo_landing_page_with_border.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary: Pinturillo 2 is a timed drawing and word guessing game.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Art Skills:</span> Showcase your artistic skills to coworkers.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Free</span> to play online.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 END -->
      <div class="blog-single-post-space-divider"></div>



      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 START -->
      <p class="default-not-signed-in-page-header-font">3. Donut</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://www.donut.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://www.donut.com/</a></p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0002_images/donut_landing_page_with_border.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary: Introduce teammates for virtual coffees or post engaging prompts in communication channels.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Culture of camaraderie:</span> Coworkers can develop new, more personable, relationships and conversations.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Free</span> and Paid features.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Conclusion</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">The best companies tend to have the best company culture. Build a better team culture and engage employees with these services:</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span"><a href="https://triviafy.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Triviafy</a></span></p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span"><a href="https://www.pinturillo2.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Pinturillo 2</a></span></p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span"><a href="https://www.donut.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">Donut</a></span></p>
    </div>  
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-contact-section">
    <p class="default-not-signed-in-page-contact-font">Contact: Robert@Triviafy.com</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-img-section">
    <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo active." class="default-not-signed-in-bottom-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->








  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email START -->
  <div class="blog-single-post-email-collect-section">
    <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
      <label for="user_input_email" class="landing-page-form-email-label"></label>
      <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
      <input type="submit" value="Request a demo" class="default-button-format default-button-format-primary-color landing-page-button-position">
    </form>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links START -->
  <div class="blog-single-post-supporting-links-section">
    <p class="default-not-signed-in-page-p-font">Supporting Links</p>
    <a href="https://medium.com/triviafy/top-3-hybrid-team-building-activities-ddf48b78f694" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a"><p>Medium Article</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author START -->
  <div class="blog-single-post-about-author-section">
    <a href="https://twitter.com/robertjborowski" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a"><img src="/static/images/blog_post_images/author_picture/author_me.jpeg" alt="Blog post author" class="blog-single-post-about-author-sub-section-img"></a>
    <div class="blog-single-post-about-author-sub-section-words">
      <p class="default-not-signed-in-page-header-font">About the author</p>
      <p class="default-not-signed-in-page-p-font"><a href="https://twitter.com/robertjborowski" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a">Robert Borowski</a> is the founder/engineer of Triviafy.</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published START -->
  <div class="blog-single-post-date-published">
    <p class="default-not-signed-in-page-p-font">Published: 10/05/2021</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published END -->

</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}