{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<div class="blog-single-post-section">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
  <div class="blog-single-post-sub-section-title-and-subtitle-section">
    <p class="blog-single-post-sub-section-title"><strong>Top 3 Workplace Trivia Platforms That Improve Employee Engagement</strong></p>
    <p class="blog-single-post-sub-section-sub-title"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
  <img src="/static/images/blog_post_images/free_image_1.jpeg" alt="People working free image" class="blog-single-post-img box-shadow-reg-grey">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
  <div class="blog-single-post-all-articles-section">
    <p class="blog-single-post-regular-paragraph">Does This Sound Like Your Team’s Weekly Routine?</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- M: “How was your weekend?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- T/W: “Can you believe this weather? How was your commute?”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Th/F: “Any plans for the weekend?”</p>
    
    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Results/Cons:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Company culture suffers = Work quality suffers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Team members feel unengaged, robotic, and lacking in personal connection.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- False sense of team camaraderie among coworkers.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph-header"><span class="blog-single-post-highlight-color"><strong>Question:</strong></span> How can employee engagement at a typical company be improved?</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph-header"><span class="blog-single-post-highlight-color"><strong>Answer:</strong></span> Improve Employee Engagement With Trivia Quizzes</p>
    
    <div class="blog-single-post-space-divider"></div>
    
    <p class="blog-single-post-regular-paragraph">Benefits/Pros of weekly team trivia quizzes:</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Discover your team members hidden knowledge and passions.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Build team camaraderie and strengthen relationships.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase employee satisfaction at your company.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Reduce stress levels.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Increase brain performance.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Improve company PR.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Test and enhance your memory.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Earn bragging rights among coworkers.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Win prizes.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph-header"><span class="blog-single-post-highlight-color"><strong>Question:</strong></span> How can I get weekly trivia quizzes sent to my team automatically? Below are some of the leading platforms to help improve employee engagement through trivia.</p>

    <div class="blog-single-post-space-divider"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 START -->
    <p class="blog-single-post-regular-paragraph-header"><strong>1. Triviafy</strong></p>
    <p class="blog-single-post-regular-paragraph">Website: <a href="https://triviafy.com/" class="blog-single-post-link" target="_blank">https://triviafy.com/</a></p>

    <img src="/static/images/blog_post_images/screenshot_of_landing_page.png" alt="Screenshot of landing page" class="blog-single-post-img box-shadow-reg-grey">

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Summary</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Pros</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>100% Automated:</strong></span> Triviafy creates/grades weekly trivia quizzes automatically.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Asynchronous:</strong></span> team members submit answers on their own time throughout the week.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fully Customizable:</strong></span> Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Gift Card Prizes:</strong></span> Team members that win quizzes consistently win free gift cards to popular companies like Amazon, Nike, Adidas, etc.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Flat Monthly Rate:</strong></span> Unlimited users per team for one flat monthly rate.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>First 30 Days are Free:</strong></span> no credit card required, cancel any time.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Cons</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Cheating:</strong></span> No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Slack Integration Only:</strong></span> Currently Triviafy is 100% focused on Slack integration while Microsoft Teams/Email signups are scheduled to be in production in early 2022.</p>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 END -->

    <div class="blog-single-post-space-divider"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 START -->
    <p class="blog-single-post-regular-paragraph-header"><strong>2. WaterCoolerTrivia</strong></p>
    <p class="blog-single-post-regular-paragraph">Website: <a href="https://www.watercoolertrivia.com/" class="blog-single-post-link" target="_blank">https://www.watercoolertrivia.com/</a></p>

    <img src="/static/images/blog_post_images/competitor_images/wct.png" alt="Screenshot of landing page" class="blog-single-post-img box-shadow-reg-grey">

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Summary</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Pros</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>100% Automated:</strong></span> WaterCoolerTrivia creates/grades weekly trivia quizzes automatically.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Asynchronous:</strong></span> team members submit answers on their own time throughout the week.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fully Customizable:</strong></span> Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Slack, Microsoft Teams, Email:</strong></span> WaterCoolerTrivia has both Slack and Microsoft Teams integrations as well as Email signups available.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>First 4 Quizzes are Free:</strong></span> no credit card required, cancel any time.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Cons</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Cheating:</strong></span> No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>No Prizes = Less Incentive:</strong></span> Currently, at the time this article was written, WaterCoolerTrivia’s website states that they are a “prize-less trivia contest.”</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fluctuating Monthly Rate:</strong></span> Depending on how many people are on your team your monthly rate differs. When you increase the size of your team you likely have to get approval from your boss to increase the monthly subscription cost.</p>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 END -->

    <div class="blog-single-post-space-divider"></div>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 START -->
    <p class="blog-single-post-regular-paragraph-header"><strong>3. SpringWorks - Trivia</strong></p>
    <p class="blog-single-post-regular-paragraph">Website: <a href="https://www.springworks.in/trivia/" class="blog-single-post-link" target="_blank">https://www.springworks.in/trivia/</a></p>

    <img src="/static/images/blog_post_images/competitor_images/springworks.png" alt="Screenshot of landing page" class="blog-single-post-img box-shadow-reg-grey">

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Summary</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- Friendly workplace/office games platform. Trivia/Games include but are not limited to: Instant Quizzes, (Un)popular Opinion, Word Puzzle, This or That, Peer Introductions, Pictionary.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Pros</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Variety of Workplace Games:</strong></span> Employees are less likely to grow bored of one quiz type/game and can interact with another.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Cheating is Less Likely:</strong></span> Team members are completing trivia quizzes at the same time and are less likely to be Googling answers in front of each other.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fully Customizable:</strong></span> Able to create custom trivia questions/quizzes for your team.</p>

    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph">Cons</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Variety of Workplace Games:</strong></span> Employees can become distracted by the amount of games available.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Synchronous:</strong></span> The majority of games/trivia quizzes require all team members to participate at the same time.</p>
    <p class="blog-single-post-regular-paragraph blog-single-post-regular-bullet-point">- <span class="blog-single-post-highlight-color"><strong>Fluctuating Monthly Rate:</strong></span> Depending on how many people are on your team your monthly rate differs. When you increase the size of your team you likely have to get approval from your boss to increase the monthly subscription cost.</p>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 END -->


    <div class="blog-single-post-space-divider"></div>

    <p class="blog-single-post-regular-paragraph-header">Conclusion</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Weekly workplace trivia is a great way to engage employees and strengthen co-worker relationships.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Asynchronous trivia quizzes work best because they allow employees to complete questions on their own time which does not interfere with company workflows.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Weekly trivia allows team members to get to know each other on a more personal level and conversations become less robotic in the workplace.</p>
    <div class="blog-single-post-space-divider"></div>
    <p class="blog-single-post-regular-paragraph">Finally, weekly trivia quizzes help make your company unique.</p>
  </div>  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Fix This START -->
  <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-closing-sub-section-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <label for="user_input_email" class="landing-page-form-email-label"></label>
    <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="landing-page-closing-sub-section-email-input" required><br><br>
    <input type="submit" value="Request a demo" class="landing-page-closing-sub-section-submit-input">
  </form>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Fix This END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line START -->
  <div class="blog-single-post-finish-article-line"></div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links START -->
  <div class="blog-single-post-supporting-links-section">
    <p>Supporting Links</p>
    <a href="https://medium.com/@robertjborowski/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="blog-single-post-link"><p>Medium Article</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published START -->
  <div class="blog-single-post-date-published">
    <p class="blog-single-post-sub-section-date-published">Published: 08/30/2021</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author START -->
  <div class="blog-single-post-about-author-section">
    <img src="/static/images/blog_post_images/author_picture/author_me.jpeg" alt="Blog post author" class="blog-single-post-about-author-sub-section-img">
    <div class="blog-single-post-about-author-sub-section-words">
      <p class="blog-single-post-regular-paragraph-header">About the author</p>
      <p class="blog-single-post-regular-paragraph-author">Robert Borowski is the founder/engineer of Triviafy.</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line START -->
  <div class="blog-single-post-finish-article-line"></div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line END -->
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact START -->
<div class="blog-single-post-contact-info-section">
  <p>Contact: Robert@Triviafy.com</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Contact End -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos START -->
<div class="blog-single-post-triviafy-character">
  <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo questioning" class="blog-single-post-triviafy-character-sub-section-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}