{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog Post / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">Top 3 Workplace Trivia Platforms That Improve Employee Engagement</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="blog-single-post-page-content-section">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
    <div class="blog-single-post-img-section">
      <img src="/static/images/blog_post_images/blog_post_0001_images/unsplash_image.jpeg" alt="People working free image" class="blog-single-post-img default-box-shadow-grey-reg">
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article START -->
    <div class="blog-single-post-all-articles-section">
      <p class="default-not-signed-in-page-p-font">Does This Sound Like Your Team’s Weekly Routine?</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- M: “How was your weekend?”</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- T/W: “Can you believe this weather? How was your commute?”</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Th/F: “Any plans for the weekend?”</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Results/Cons:</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Company culture suffers = Work quality suffers.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Team members feel unengaged, robotic, and lacking in personal connection.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- False sense of team camaraderie among coworkers.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Question: How can employee engagement at a typical company be improved?</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Answer: Improve Employee Engagement With Trivia Quizzes</p>
      <div class="blog-single-post-space-divider"></div>
      
      <p class="default-not-signed-in-page-p-font">Benefits/Pros of weekly team trivia quizzes:</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Discover your team members hidden knowledge and passions.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Build team camaraderie and strengthen relationships.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Increase employee satisfaction at your company.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Reduce stress levels.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Increase brain performance.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Improve company PR.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Test and enhance your memory.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Earn bragging rights among coworkers.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Win prizes.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-header-font">Question: How can I get weekly trivia quizzes sent to my team automatically? Below are some of the leading platforms to help improve employee engagement through trivia.</p>
      <div class="blog-single-post-space-divider"></div>




      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 START -->
      <p class="default-not-signed-in-page-header-font">1. Triviafy</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://triviafy.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://triviafy.com/</a></p>
  
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0001_images/screenshot_of_landing_page.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Pros</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">100% Automated:</span> Triviafy creates/grades weekly trivia quizzes automatically.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Asynchronous:</span> team members submit answers on their own time throughout the week.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Fully Customizable:</span> Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Gift Card Prizes:</span> Team members that win quizzes consistently win free gift cards to popular companies like Amazon, Nike, Adidas, etc.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Flat Monthly Rate:</span> Unlimited users per team for one flat monthly rate.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">First 30 Days are Free:</span> no credit card required, cancel any time.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Cons</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Cheating:</span> No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Slack Integration Only:</span> Currently Triviafy is 100% focused on Slack integration while Microsoft Teams/Email signups are scheduled to be in production in early 2022.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 1 END -->
      <div class="blog-single-post-space-divider"></div>




      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 START -->
      <p class="default-not-signed-in-page-header-font">2. WaterCoolerTrivia</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://www.watercoolertrivia.com/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://www.watercoolertrivia.com/</a></p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0001_images/competitor_images/wct.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Weekly trivia quizzes sent to your team automatically.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Pros</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">100% Automated:</span> WaterCoolerTrivia creates/grades weekly trivia quizzes automatically.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Asynchronous:</span> team members submit answers on their own time throughout the week.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Fully Customizable:</span> Able to create custom trivia questions for your team, select quiz difficulty, create custom quiz categories, customize quiz open and close dates and times.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Slack, Microsoft Teams, Email:</span> WaterCoolerTrivia has both Slack and Microsoft Teams integrations as well as Email signups available.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">First 4 Quizzes are Free:</span> no credit card required, cancel any time.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Cons</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Cheating:</span> No way to prove if an employee is Googling answers on their own time. (If an employee wants to put their own honesty/reputation at risk within their company then that is their own choice).</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">No Prizes = Less Incentive:</span> Currently, at the time this article was written, WaterCoolerTrivia’s website states that they are a “prize-less trivia contest.”</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Fluctuating Monthly Rate:</span> Depending on how many people are on your team your monthly rate differs. When you increase the size of your team you likely have to get approval from your boss to increase the monthly subscription cost.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 2 END -->
      <div class="blog-single-post-space-divider"></div>



      
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 START -->
      <p class="default-not-signed-in-page-header-font">3. SpringWorks - Trivia</p>
      <p class="default-not-signed-in-page-p-font">Website: <a href="https://www.springworks.in/trivia/" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a" target="_blank">https://www.springworks.in/trivia/</a></p>

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image START -->
      <div class="blog-single-post-img-section">
        <img src="/static/images/blog_post_images/blog_post_0001_images/competitor_images/springworks.png" alt="Screenshot of landing page" class="blog-single-post-img default-box-shadow-grey-reg">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Image END -->
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Summary</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- Friendly workplace/office games platform. Trivia/Games include but are not limited to: Instant Quizzes, (Un)popular Opinion, Word Puzzle, This or That, Peer Introductions, Pictionary.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Pros</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Variety of Workplace Games:</span> Employees are less likely to grow bored of one quiz type/game and can interact with another.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Cheating is Less Likely:</span> Team members are completing trivia quizzes at the same time and are less likely to be Googling answers in front of each other.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Fully Customizable:</span> Able to create custom trivia questions/quizzes for your team.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Cons</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Variety of Workplace Games:</span> Employees can become distracted by the amount of games available.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Synchronous:</span> The majority of games/trivia quizzes require all team members to participate at the same time.</p>
      <p class="default-not-signed-in-page-p-font blog-single-post-regular-bullet-point">- <span class="default-not-signed-in-highlight-span">Fluctuating Monthly Rate:</span> Depending on how many people are on your team your monthly rate differs. When you increase the size of your team you likely have to get approval from your boss to increase the monthly subscription cost.</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Website 3 END -->
      <div class="blog-single-post-space-divider"></div>




      <p class="default-not-signed-in-page-header-font">Conclusion</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Weekly workplace trivia is a great way to engage employees and strengthen co-worker relationships.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Asynchronous trivia quizzes work best because they allow employees to complete questions on their own time which does not interfere with company workflows.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Weekly trivia allows team members to get to know each other on a more personal level and conversations become less robotic in the workplace.</p>
      <div class="blog-single-post-space-divider"></div>

      <p class="default-not-signed-in-page-p-font">Finally, weekly trivia quizzes help make your company unique.</p>
    </div>  
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Whole Article END -->
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-contact-section">
    <p class="default-not-signed-in-page-contact-font">Contact: Robert@Triviafy.com</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-img-section">
    <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo active." class="default-not-signed-in-bottom-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->






  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email START -->
  <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <label for="user_input_email" class="landing-page-form-email-label"></label>
    <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
    <input type="submit" value="Request a demo" class="default-button-format default-button-format-primary-color landing-page-button-position">
  </form>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Form Email END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line START -->
  <!-- <div class="blog-single-post-finish-article-line"></div> -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Finish Article Line END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links START -->
  <div class="blog-single-post-supporting-links-section">
    <p>Supporting Links</p>
    <a href="https://medium.com/triviafy/top-3-workplace-trivia-platforms-that-improve-employee-engagement-34953838a86f" target="_blank" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a"><p>Medium Article</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Supporting Links End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published START -->
  <div class="blog-single-post-date-published">
    <p class="blog-single-post-sub-section-date-published">Published: 08/30/2021</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Date Published END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author START -->
  <div class="blog-single-post-about-author-section">
    <img src="/static/images/blog_post_images/author_picture/author_me.jpeg" alt="Blog post author" class="blog-single-post-about-author-sub-section-img">
    <div class="blog-single-post-about-author-sub-section-words">
      <p class="default-not-signed-in-page-header-font">About the author</p>
      <p class="default-not-signed-in-page-p-font">Robert Borowski is the founder/engineer of Triviafy.</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Author End -->


</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}