/* - - - - - - - - - - Company and Channel name - Start */
.client-company-and-channel-names {
  text-align: center;
  color: var(--company-greyed-out-color);
  margin-top: 30px;
}
.client-company-name {
  font-size: 40px;
  padding-bottom: 20px;
}
.client-channel-name {
  font-size: 20px;
  padding-bottom: 20px;
}
.client-free-trial-period {
  color: red;
  font-size: 13px;
  padding-bottom: 10px;
  display: block;
}
/* - - - - - - - - - - Company and Channel name - End */