/* - - - - - - - - - - Company and Channel name - Start */
.client-company-and-channel-names {
  text-align: center;
  color: var(--company-greyed-out-color);
  margin-top: 30px;
}
.client-company-and-channel-names .client-company-name {
  font-size: 40px;
  padding-bottom: 20px;
}
.client-company-and-channel-names .client-channel-name {
  font-size: 20px;
  padding-bottom: 20px;
}
/* - - - - - - - - - - Company and Channel name - End */