/* - - - - - - - - - - Content - FAQ Page - Start */
.faq-question-header {
  color: var(--company-primary-color);
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
/* - - - - - - - - - - Content - FAQ Page - End */