/* - - - - - - - - - - Intro - Start */
.faq-section {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0 auto;
}
.faq-sub-section-title-and-subtitle-section {
  /* border: 1px solid black; */
  text-align: center;
}
p.faq-sub-section-title {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
  font-size: 60px;
  padding: 50px 0 10px 0;
}
p.faq-sub-section-sub-title {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
  font-size: 25px;
}
/* - - - - - - - - - - Intro - End */




/* - - - - - - - - - - All Questions - Start */
.faq-all-questions-section {
  /* border: 1px solid black; */
  margin: 50px 0 0 0;
}
.faq-individual-question-answer-section {
  border: 1px solid var(--company-greyed-out-color);
  margin: 0 0 25px 0;
  padding: 30px;
  border-radius: 15px;
}
.faq-individual-question {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
  font-size: 25px;
  padding: 0 0 15px 0;
}
.faq-individual-answer {
  font-size: 18px;
}
/* - - - - - - - - - - All Questions - End */




/* - - - - - - - - - - Celebrate Logos - Start */
.faq-celebrate-logos-section {
  /* border: 1px solid black; */
  width: 90%;
  margin: 50px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img.faq-celebrate-logo-sub-section-img {
  height: 300px;
  width: 300px;
}
/* - - - - - - - - - - Celebrate Logos - End */