@media (max-width: 800px) {
  /* - - - - - - - - - - Intro - Start */
  .faq-section {
    /* border: 1px solid black; */
    width: 90%;
  }
  /* - - - - - - - - - - Intro - End */


  /* - - - - - - - - - - Celebrate Logos - Start */
  img.faq-celebrate-logo-sub-section-img {
    height: 150px;
    width: 150px;
  }
  /* - - - - - - - - - - Celebrate Logos - End */
}