<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="slack-app-id" content="A021726L200">

    <!-- ------------------------------------------------ Connect to Google Fonts Start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------ Connect to Google Fonts End -->

    <!-- ------------------------------------------------ Favicon Start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/images/logo/favicon_io/site.webmanifest">
    <!-- ------------------------------------------------ Favicon End -->

    <!-- ------------------------------------------------ Global site tag (gtag.js) - Google Analytics Start -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RV52SWE7RC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RV52SWE7RC');
    </script>
    <!-- ------------------------------------------------ Global site tag (gtag.js) - Google Analytics End -->
    
    <!-- ------------------------------------------------ Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
      (function() {
      window.__insp = window.__insp || [];
      __insp.push(['wid', 121057973]);
      var ldinsp = function(){
      if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=121057973&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
      setTimeout(ldinsp, 0);
      })();
      </script>
      <!-- ------------------------------------------------ End Inspectlet Asynchronous Code -->

    <!-- ------------------------------------------------ Font awesome icons Start -->
    <script src="https://kit.fontawesome.com/f23f12952c.js" crossorigin="anonymous"></script>
    <!-- ------------------------------------------------ Font awesome icons End -->

    <!-- ------------------------------------------------ Connect to the style pages Start -->
    <!-- blueprint all root styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/AA_SUPPORTING_PAGE_STYLES/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/AA_SUPPORTING_PAGE_STYLES/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Template Styles - styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page_intro_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page_intro_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Index Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- About Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Dashboard Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/quiz_graded_winner_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/quiz_graded_winner_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Account Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Create Question - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create_question_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create_question_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Waitlist styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/waitlist_styles/waitlist_create_question_styles/waitlist_create_question_signup_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/waitlist_styles/waitlist_create_question_styles/waitlist_create_question_signup_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/waitlist_styles/waitlist_create_question_styles/waitlist_create_question_confirm_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/waitlist_styles/waitlist_create_question_styles/waitlist_create_question_confirm_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Quiz Settings styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_settings_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_settings_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_settings_page_styles/edit_quiz_settings_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Navbars styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_signed_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_signed_in_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_not_signed_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_not_signed_in_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Company name and channel name styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/company_name_channel_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Footer styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer_page_styles/footer_logged_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer_page_styles/footer_not_logged_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Present Quiz Question styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/present_quiz_question_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/present_quiz_question_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- For DataTables.net css styles -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/datatables_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Quiz Feedback styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_feedback_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_feedback_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_feedback_page_styles/quiz_feedback_success_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_feedback_page_styles/quiz_feedback_success_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Quiz Archive styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_archive_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/quiz_archive_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- ------------------------------------------------ Connect to the style pages End -->

    <!-- ------------------------------------------------ Load javascript function(s) Start -->
    <!-- navbar not signed in javascript -->
    <script src="/static/javascript/components/navbar_not_signed_in_js/nav.js" type="text/javascript" defer></script>
    <!-- navbar signed in javascript -->
    <script src="/static/javascript/components/navbar_signed_in_js/nav.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/navbar_signed_in_js/navbar_hamburger_toggle.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/navbar_signed_in_js/navbar_drill_down.js" type="text/javascript" defer></script>
    <!-- navbar not signed in javascript -->
    <script src="/static/javascript/components/navbar_not_signed_in_js/nav_slack_beta.js" type="text/javascript" defer></script>
    <script src="/static/javascript/components/navbar_not_signed_in_js/nav.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/navbar_not_signed_in_js/navbar_hamburger_toggle.js" type="text/javascript" defer></script>
    <!-- footer signed in javascript -->
    <script src="/static/javascript/components/footer_signed_in_js/footer.js" type="text/javascript" defer></script>
    <script src="/static/javascript/components/footer_not_signed_in_js/footer.js" type="text/javascript" defer></script>
    <!-- Company name and channel name component javascript -->
    <script src="/static/javascript/components/company_name_channel_js/company_name_channel.js" type="text/javascript" defer></script>
    <!-- Count characters in input text field javascript -->
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsActualQuestion.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsCategory.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsTitle.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsAnswers.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsHint.js" type="text/javascript" defer></script>
    <!-- Click submit button only once javascript -->
    <script src="/static/javascript/javascript_utils/submit_button_js/click_submit_button_once.js" type="text/javascript" defer></script>
    <!-- Create Question - Check image file size -->
    <script src="/static/javascript/javascript_utils/create_question_page_js/filesize.js" type="text/javascript" defer></script>
    <!-- Present Quiz Question javascript -->
    <script src="/static/javascript/javascript_utils/present_quiz_question_js/check_if_image_present.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/present_quiz_question_js/check_if_hint_present.js" type="text/javascript" defer></script>
    <!-- Check Quiz Settings if Payment Admin -->
    <script src="/static/javascript/javascript_utils/quiz_settings_page_js/quiz_settings_check_if_user_is_payment_admin.js" type="text/javascript" defer></script>
    <!-- jQuery CDN nessessary to use DataTables -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- For DataTables.net javascript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="/static/javascript/javascript_utils/datatables_js/datatables.js" type="text/javascript"></script>
    <!-- Dashboard Page javascript -->
    <script src="/static/javascript/javascript_utils/dashboard_page_js/modal_verify.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/check_if_html_element_is_blank_js/check_if_html_quiz_answers_submitted_is_blank.js" type="text/javascript" defer></script>
    <!-- ------------------------------------------------ Load javascript function(s) End -->

    <!-- ------------------------------------------------ Additional head elements per page Start -->
    {% block title %}
    {% endblock %}
    <!-- ------------------------------------------------ Additional head elements per page End -->
  </head>

  <body>
  <!-- ------------------------------------------------ body elements per page Start -->
    {% block content %}
    {% endblock %}
  <!-- ------------------------------------------------ body elements per page End -->
  </body>
  
</html>