{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Create Question Waitlist / Triviafy</title>
{% endblock %}



{% block content %}
<nav-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account_js="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}",
              link_create_question_js="{{ url_for('create_question_index_page_render_template.create_question_index_page_render_template_function') }}",
              link_quiz_settings_index_js="{{ url_for('quiz_settings_index_page_render_template.quiz_settings_index_page_render_template_function') }}",
              link_quiz_feedback_index_js="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}",
              link_leaderboard_js="{{ url_for('leaderboard_page_render_template.leaderboard_page_render_template_function') }}",
              link_quiz_archive_js="{{ url_for('quiz_archive_page_render_template.quiz_archive_page_render_template_function') }}",
              link_subscription_js="{{ url_for('subscription_index_page_render_template.subscription_index_page_render_template_function') }}",
              link_claim_prize_js="{{ url_for('claim_prize_index_page_render_template.claim_prize_index_page_render_template_function') }}">
</nav-component>

<main class="logged-in waitlist">


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist confirm Start -->
  <div class="waitlist-create-question-confirm-section default-box-shadow-grey-reg">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist title, description Start -->
    <div class="waitlist-create-question-confirm-sub-section-title">
      <p>Joined Waitlist - Create Question</p>
    </div>

    <div class="waitlist-create-question-confirm-sub-section-description">
      <p>You are on the waitlist for creating quiz questions!</p>
      <p>You will be notified by email once we've launched this functionality.</p>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist title, description End -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist Submit Form Start -->
    <div class="waitlist-create-question-confirm-sub-section-button">
      <a href="{{ url_for('index_page_render_template.index_page_render_template_function') }}"><button class="default-button-format button-default-color-primary" type="submit" value="submit">Home</button></a>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist Submit Form End -->
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Waitlist confirm End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Logo Caricatures Start -->
  <div class="waitlist-create-question-confirm-logo-caricatures-group">
    <div class="waitlist-create-question-confirm-logo-caricature">
      <img src="/static/images/logo/Logo_active/Logo_cheering_black.png" alt="Logo cheer black" class="waitlist-create-question-confirm-logo-caricature-cheer-black">
    </div>

    <div class="waitlist-create-question-confirm-logo-caricature">
      <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo cheer black" class="waitlist-create-question-confirm-logo-caricature-cheer-purple">
    </div>

    <div class="waitlist-create-question-confirm-logo-caricature">
      <img src="/static/images/logo/Logo_active/Logo_cheering_white.png" alt="Logo cheer black" class="waitlist-create-question-confirm-logo-caricature-cheer-white">
    </div>

    <div class="waitlist-create-question-confirm-logo-caricature">
      <img src="/static/images/logo/Logo_active/Logo_cheering_green.png" alt="Logo cheer black" class="waitlist-create-question-confirm-logo-caricature-cheer-green">
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Logo Caricatures End -->

</main>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}