/* - - - - - - - - - - Regular screen - Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}
/* Set Global Variables */
:root {
  --company-primary-color: rgb(196, 94, 255);
  --company-primary-color-shadow: rgba(196, 94, 255, 0.15);
  --company-secondary-color: rgb(0, 255, 192);
  --company-greyed-out-color: rgb(170, 170, 170);
  /* - - - */
  --company-primary-white-substitute-color: rgb(247, 232, 255);
}
/* - - - - - - - - - - Regular screen - End */

/* - - - - - - - - - - Bootstrap - Start */
.shadow-sm-black {box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;}
.shadow-reg-black {box-shadow: 0 .5rem 1rem rgba(0,0,0,.075)!important;}
/* - - - */
.shadow-sm-primary {box-shadow: 0 .125rem .25rem var(--company-primary-color-shadow)!important;}
.shadow-reg-primary {box-shadow: 0 .5rem 1rem var(--company-primary-color-shadow)!important;}
/* - - - */
.shadow-sm-secondary {box-shadow: 0 .125rem .25rem var(--company-secondary-color-shadow)!important;}
.shadow-reg-secondary {box-shadow: 0 .5rem 1rem var(--company-secondary-color-shadow)!important;}
/* - - - */
.bg-white {background-color: rgb(255, 255, 255)!important;}
.rounded {border-radius: .25rem!important;}
/* - - - - - - - - - - Bootstrap - End */



/* - - - - - - - - - - Mobile screen - Start */
@media (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
  }
}
/* - - - - - - - - - - Mobile screen - End */