/* - - - - - - - - - - Regular screen - Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}
/* - - - - - - - - - - Regular screen - End */

/* - - - - - - - - - - Mobile screen - Start */
@media (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
  }
}
/* - - - - - - - - - - Mobile screen - End */

/* Set Global Variables */
/* - - - - - - - - - - Root global variables - Start */
:root {
  --company-primary-color: rgb(196, 94, 255);
  /* --company-primary-color-faded: rgba(196, 94, 255, 0.15); */
  --company-primary-color-faded: rgba(196, 94, 255, 0.400);
  --company-secondary-color: rgb(0, 255, 192);
  --company-secondary-color-darker: rgb(0, 168, 126);
  --company-greyed-out-color: rgb(170, 170, 170);
}
/* - - - - - - - - - - Root global variables - End */

/* Set Global Classes and ID's */
/* - - - - - - - - - - Box shadows - Start */
.box-shadow-sm-grey {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.box-shadow-reg-grey {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.075)!important;
}
.box-shadow-sm-black {
  box-shadow: 0 .125rem .5rem rgba(0,0,0,.750)!important;
}
.box-shadow-reg-black {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.750)!important;
}
.box-shadow-sm-primary {
  box-shadow: 0 .125rem .25rem var(--company-primary-color-faded)!important;
}
.box-shadow-reg-primary {
  box-shadow: 0 .5rem 1rem var(--company-primary-color-faded)!important;
}
.box-shadow-sm-secondary {
  box-shadow: 0 .125rem .25rem var(--company-secondary-color)!important;
}
.box-shadow-reg-secondary {
  box-shadow: 0 .5rem 1rem var(--company-secondary-color)!important;
}
.box-shadow-rounded {
  border-radius: .25rem!important;
}
.box-shadow-stroke {
  box-shadow: 4px 4px 4px rgb(70, 0, 80);;
}
/* - - - - - - - - - - Box shadows - End */

/* - - - - - - - - - - Stroke - Start */
#words-stroke-shadow {
  /* -webkit-text-stroke: 1px black; */
	text-shadow: 1px 1px 1px rgb(70, 0, 80);
}
/* - - - - - - - - - - Stroke - End */

/* - - - - - - - - - - Other - Start */
/* Remove default behavior of textbox style */
input:focus, textarea:focus, select:focus{
  outline: none;
  /* border: 0px solid; */
}
/* - - - - - - - - - - Other - End */