{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Confirm Demo / Triviafy</title>
{% endblock %}



{% block content %}


<div class="default-not-signed-in-simple-page-section">
  <div class="default-not-signed-in-simple-page-img-section">
    <img src="/static/images/logo/Logo.png" alt="Triviafy logo" class="default-not-signed-in-simple-page-img">
  </div>
  
  <div class="default-not-signed-in-simple-page-desctiption-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">Thank you, we will be in touch shortly to schedule your demo.</p>
  </div>

  <div class="default-not-signed-in-simple-page-button-section">
    <a href="{{ url_for('index_page_render_template.index_page_render_template_function') }}"><button class="default-button-format default-button-format-primary-color" type="submit" value="submit">Home</button></a>
  </div>
</div>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}