/* - - - - - - - - - - Waitlist confirm Start */
.waitlist-create-question-confirm-section {
  text-align: center;
  margin: 50px auto 20px auto;
  padding: 20px;
  width: 50%;
}
/* - - - - - - - - - - Waitlist title, description Start */
.waitlist-create-question-confirm-sub-section-title {
  color: var(--company-primary-color);
  font-size: 40px;
}
.waitlist-create-question-confirm-sub-section-description p {
  color: var(--company-greyed-out-color);
  margin: 10px 0px 0px 0px;
}
/* - - - - - - - - - - Waitlist title, description End */


/* - - - - - - - - - - Waitlist Submit Form Start */
.waitlist-create-question-confirm-sub-section-button {
  margin: 40px 0 0px 0;
}
/* - - - - - - - - - - Waitlist Submit Form End */
/* - - - - - - - - - - Waitlist confirm End */


/* - - - - - - - - - - Logo Caricatures Start */
.waitlist-create-question-confirm-logo-caricatures-group {
  /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.waitlist-create-question-confirm-logo-caricature {
  display: inline-block;
}
img.waitlist-create-question-confirm-logo-caricature-cheer-black,
img.waitlist-create-question-confirm-logo-caricature-cheer-purple,
img.waitlist-create-question-confirm-logo-caricature-cheer-white,
img.waitlist-create-question-confirm-logo-caricature-cheer-green {
  /* border: 1px solid black; */
  height: 280px;
  width: 280px;
  margin: 50px 0;
}
/* - - - - - - - - - - Logo Caricatures End */