@media (max-width: 1200px) {
  /* - - - - - - - - - - Waitlist confirm Start */
  .waitlist-create-question-confirm-section {
    padding: 10px;
    width: 95%;
  }
  /* - - - - - - - - - - Waitlist title, description Start */
  /* - - - - - - - - - - Waitlist title, description End */


  /* - - - - - - - - - - Waitlist Submit Form Start */
  .waitlist-create-question-confirm-sub-section-button {
    margin: 40px 0 0px 0;
  }
  /* - - - - - - - - - - Waitlist Submit Form End */
  /* - - - - - - - - - - Waitlist confirm End */


  /* - - - - - - - - - - Logo Caricatures Start */
  .waitlist-create-question-confirm-logo-caricatures-group {
    width: 95%;
  }
  img.waitlist-create-question-confirm-logo-caricature-cheer-black,
  img.waitlist-create-question-confirm-logo-caricature-cheer-purple,
  img.waitlist-create-question-confirm-logo-caricature-cheer-white,
  img.waitlist-create-question-confirm-logo-caricature-cheer-green {
    /* border: 1px solid black; */
    height: 150px;
    width: 150px;
    margin: 0px 0 20px 0;
  }
  /* - - - - - - - - - - Logo Caricatures End */
}