/* - - - - - - - - - - Quiz Results Winner Start */
p.quiz-winner-name {
  color: black;
  font-size: 50px;
}
p.quiz-winner-num-answers, p.quiz-winner-timestamp {
  font-size: 18px;
}
/* - - - - - - - - - - Quiz Results Winner End */

/* - - - - - - - - - - Bragging Rights Image Start */
.bragging-rights-section {
  /* border: black 1px solid; */
  width: 100%;
  height: 250px;
  text-align: center;
}
img.bragging-rights-img {
  height: 500px;
  width: 500px;
}
/* - - - - - - - - - - Bragging Rights Image End */