@media (max-width: 1200px) {
  /* - - - - - - - - - - Bragging Rights Image Start */
  .bragging-rights-section {
    /* border: black 1px solid; */
    width: 100%;
    height: 150px;
    text-align: center;
  }
  img.bragging-rights-img {
    height: 300px;
    width: 300px;
  }
  /* - - - - - - - - - - Bragging Rights Image End */
}