{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>About / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                              pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                              pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                              pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                              pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                              pdf_example_quiz_mixed_categories_js="{{ url_for('example_quiz_mixed_categories_render_template.example_quiz_mixed_categories_render_template_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">About</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="about-page-content-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span">Triviafy</span> is a weekly trivia quiz sent to your team. Triviafy quizzes are guaranteed to spark new and interesting conversations among team members.</p>
    
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">Triviafy has helped team members discover each others passions, interests, hobbies, talents, and hidden knowledge. Triviafy is a tool that will <span class="default-not-signed-in-highlight-span">standardize and automate weekly trivia quizzes at the company-team level</span>.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span">Benefits of weekly Triviafy quizzes:</span> build team camaraderie, test and enhance your memory, increase brain performance, reduce stress levels, increase employee satisfaction at the company, improve company PR, earn bragging-rights, win free gift card prizes.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section">Triviafy writes well thought out questions across a broad range of categories, handles automated grading, and distributes rewards so that you do not have to. <span class="default-not-signed-in-highlight-span">Triviafy saves you time, improves company culture, and strengthens your team</span>.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-contact-section">
    <p class="default-not-signed-in-page-contact-font">Contact: Robert@Triviafy.com</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-img-section">
    <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo active." class="default-not-signed-in-bottom-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}