{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>About / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Summary START -->
<div class="about-section">
  <div class="about-sub-section-title-and-subtitle-section">
    <p class="about-sub-section-title"><strong>About</strong></p>
    <p class="about-sub-section-sub-title"><em>Triviafy</em> your workspace.</p>
  </div>

  <div class="about-sub-section-description">
    <div class="about-sub-section-sub-description">
      <p>Hi, my name is Robert Borowski and I am the founder/engineer of <span class="about-span">Triviafy.com</span>. I have always been a fan of trivia games and believe that they are one of the most effective forms of healthy competition and bonding between people.</p>
      <p>Trivia games help us discover other people’s passions, interests, hobbies, talents, and hidden knowledge. I saw an opportunity to <span class="about-span">standardize and automate weekly trivia quizzes at the company-team level.</span></p>
      <p><span class="about-span">Benefits of weekly Triviafy quizzes:</span> build team camaraderie, test and enhance your memory, increase brain performance, reduce stress levels, increase employee satisfaction at the company, improve company PR, earn bragging-rights, win free gift card prizes.</p>
      <p>Triviafy writes well thought out questions across a broad range of categories, handles automated grading, and distributes rewards so that you do not have to. <span class="about-span">Triviafy saves you time and strengthens your team.</span></p>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - About Summary END -->



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider START -->
<div class="about-section-divider-line">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider END -->



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Founder START -->
<div class="about-founder-section">
  <div class="about-founder-sub-section-title-section">
    <p class="about-founder-sub-section-title"><strong>Founder</strong></p>
    
    <div class="person-section">
      <div class="person-sub-section-img-section">
        <img src="/static/images/pictures/profile pic.jpeg" alt="founder picture" class="person-sub-section-img">
      </div>
      <div class="person-sub-section-name-and-description-section">
        <p class="person-sub-section-name">Robert Borowski</p>
        <p class="person-sub-section-description">Founder/engineer of Triviafy.com</p>
        <p class="person-sub-section-description">Contact: Robert@Triviafy.com</p>
      </div>
    </div>
  
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Founder END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos START -->
<div class="about-celebrate-logos-section">
  <img src="/static/images/logo/Logo_active/Logo_cheering_black.png" alt="Logo cheering" class="about-celebrate-logo-sub-section-img">
  <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo cheering" class="about-celebrate-logo-sub-section-img">
  <img src="/static/images/logo/Logo_active/Logo_cheering_white.png" alt="Logo cheering" class="about-celebrate-logo-sub-section-img">
  <img src="/static/images/logo/Logo_active/Logo_cheering_green.png" alt="Logo cheering" class="about-celebrate-logo-sub-section-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}