{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
<title>Account Edit / Triviafy</title>
{% endblock %}



{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<nav-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account_js="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}",
              link_create_question_js="{{ url_for('create_question_index_page_render_template.create_question_index_page_render_template_function') }}",
              link_quiz_settings_index_js="{{ url_for('quiz_settings_index_page_render_template.quiz_settings_index_page_render_template_function') }}",
              link_quiz_feedback_index_js="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}",
              link_leaderboard_js="{{ url_for('leaderboard_page_render_template.leaderboard_page_render_template_function') }}",
              link_quiz_archive_js="{{ url_for('quiz_archive_page_render_template.quiz_archive_page_render_template_function') }}",
              link_subscription_js="{{ url_for('subscription_index_page_render_template.subscription_index_page_render_template_function') }}">
</nav-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<main class="logged-in">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Account Intro Start -->
  <company-name-channel-component company_name_js="{{ user_company_name_to_html }}",
                                  channel_name_js="{{ user_channel_name_to_html }}",
                                  free_trial_days_left_js="{{ free_trial_days_left_to_html }}",
                                  free_trial_end_date_js="{{ free_trial_end_date_to_html }}">
  </company-name-channel-component>

  <div class="template-page-intro-background box-shadow-sm-black">
    <div class="template-page-intro">
      <p class="template-page-intro-title template-page-intro-title-no-latest-quiz" id='words-stroke-shadow'>Account Edit</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Account Intro End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Account Info Start -->
  <form action="{{ url_for('account_edit_settings_processing_changes_page_render_template.account_edit_settings_processing_changes_page_render_template_function') }}" method="post" class='account-edit-settings-form' enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
    <div class="account_info_section box-shadow-reg-grey box-shadow-rounded">

      <div class="account-info-sub-section">
        <p class="account-info-sub-section-title">Company Name</p>
        <p class="account-info-sub-section-sub-title">Changing the Company Name will affect all users.</p>
        <p class="account-info-sub-section-sub-title">Only Payment Admins can change the company name.</p>
        <input type="text" id="user_input_account_settings_company_name" name="user_input_account_settings_company_name" class="answer-text-box" placeholder="Accepted Characters: Letters Numbers Spaces only" maxlength="50" pattern="[a-zA-z0-9-_ ]{1,50}" value="{{ user_company_name_to_html }}" required>
      </div>
      
      <div class="account-info-sub-section">
        <p class="account-info-sub-section-title">First Name</p>
        <input type="text" id="user_input_account_settings_first_name" name="user_input_account_settings_first_name" class="answer-text-box" placeholder="Accepted Characters: Letters only" maxlength="50" pattern="[a-zA-z]{1,50}" value="{{ user_first_name_to_html }}" required>
      </div>

      <div class="account-info-sub-section">
        <p class="account-info-sub-section-title">Last Name</p>
        <input type="text" id="user_input_account_settings_last_name" name="user_input_account_settings_last_name" class="answer-text-box" placeholder="Accepted Characters: Letters only" maxlength="50" pattern="[a-zA-z]{1,50}" value="{{ user_last_name_to_html }}" required>
      </div>

      <div class="account-info-sub-section">
        <p class="account-info-sub-section-title">Users With Payment Admin Access</p>
        <p class="account-info-sub-section-sub-title">Only users with already existing Payment Admin access can grant other users Payment Admin Access. At Least 1 Payment Admin is required.</p>
        
        {% for i in company_all_payment_admins_arr_to_html %}
        <input type="checkbox" id="{{ i[1] }}" name="{{ i[1] }}" value="{{ i[1] }}" checked>
        <label for="{{ i[1] }}">{{ i[0] }}</label><br>
        {% endfor %}
        
        <hr class="template-divider-line-dotted">

        {% for i in company_all_non_payment_admins_arr_to_html %}
        <input type="checkbox" id="{{ i[1] }}" name="{{ i[1] }}" value="{{ i[1] }}">
        <label for="{{ i[1] }}">{{ i[0] }}</label><br>
        {% endfor %}
      </div>

    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Account Info End -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Submit Button Start -->
    <div class="button-section-middle">
      <button class="button-default button-default-color-primary" type="submit" value="submit">Submit</button>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Submit Button End -->
  </form>

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider START -->
  <div class="template-divide-section">  
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider END -->
  
</main>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}