/* - - - - - - - - - - All Styles - Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Noto Serif', serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
}
@media (max-width: 800px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
  }
}
/* - - - - - - - - - - All Styles - End */


/* Set Global Variables */
/* - - - - - - - - - - Root global variables - Start */
:root {
  /* Company colors */
  /* Primary Colors */
  --company-primary-color: rgb(196, 94, 255);
  --company-primary-darker-outline-color: rgb(161, 0, 255);
  --company-primary-color-faded: rgba(196, 94, 255, 0.400);
  
  /* Se ondary colors */
  --company-secondary-color: rgb(0, 255, 192);
  --company-secondary-color-darker: rgb(0, 168, 126);
  
  /* Grey colors */
  --company-greyed-out-color: rgb(170, 170, 170);
  
  /* Button Colors */
  --company-button-interior-light-grey-color: rgb(234, 234, 234);
  --company-button-outline-light-grey-color: rgb(190, 190, 190);
}
/* - - - - - - - - - - Root global variables - End */


/* Set Global Classes and ID's */
/* - - - - - - - - - - Box shadows - Start */
.box-shadow-sm-grey {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.box-shadow-reg-grey {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.075)!important;
}
.box-shadow-sm-black {
  box-shadow: 0 .125rem .5rem rgba(0,0,0,.750)!important;
}
.box-shadow-reg-black {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.750)!important;
}
.box-shadow-sm-primary {
  box-shadow: 0 .125rem .25rem var(--company-primary-color-faded)!important;
}
.box-shadow-reg-primary {
  box-shadow: 0 .5rem 1rem var(--company-primary-color-faded)!important;
}
.box-shadow-sm-secondary {
  box-shadow: 0 .125rem .25rem var(--company-secondary-color)!important;
}
.box-shadow-reg-secondary {
  box-shadow: 0 .5rem 1rem var(--company-secondary-color)!important;
}
.box-shadow-rounded {
  border-radius: .25rem!important;
}
.box-shadow-stroke {
  box-shadow: 4px 4px 4px rgb(70, 0, 80);;
}
/* - - - - - - - - - - Box shadows - End */


/* - - - - - - - - - - Stroke - Start */
#words-stroke-shadow {
  /* -webkit-text-stroke: 1px black; */
	text-shadow: 1px 1px 1px rgb(70, 0, 80);
}
/* - - - - - - - - - - Stroke - End */


/* - - - - - - - - - - Other - Start */
/* Remove default behavior of textbox style */
input:focus, textarea:focus, select:focus{
  outline: none;
}
/* - - - - - - - - - - Button Defaults - Start */
.button-default {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  border: none;
}
.button-default-color-primary {
  color: white;
  background-color: var(--company-primary-color);
  border: none;
}
.button-default:hover {
  text-decoration: underline;
}
/* - - - - - - - - - - Button Defaults - End */

/* - - - - - - - - - - Text box Defaults - Start */
.answer-text-box {
  width: 70%;
  padding: 12px 20px;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--company-greyed-out-color);
}
.answer-text-box:focus {
  border: 2px solid var(--company-primary-color);
}
textarea.answer-text-box {
  resize: none;
}
/* - - - - - - - - - - Text box Defaults - End */
/* - - - - - - - - - - Other - End */