/* ==================================== Global Font and Borders START ==================================== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-appearance: none;
}
@media (max-width: 1200px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    -webkit-appearance: none;
  }
}
/* ==================================== Global Font and Borders END ==================================== */


/* ==================================== Global Colors START ==================================== */
/* - - - - - - - - - - Root global variables Start */
:root {
  --company-primary-color: rgb(196, 94, 255);     /* OFFICIAL CURRENT */
  --company-secondary-color: rgb(0, 255, 192);
  --company-greyed-out-color: rgb(170, 170, 170);
}
/* - - - - - - - - - - Root global variables - End */
/* ==================================== Global Colors END ==================================== */



/* ==================================== Global Classes START ==================================== */
/* - - - - - - - - - - Box shadows - Start */
.default-box-shadow-grey-reg {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.115)!important;
}
.default-box-shadow-black-small {
  box-shadow: 0 .125rem .5rem rgba(0,0,0,.750)!important;
}
/* - - - - - - - - - - Box shadows - End */


/* - - - - - - - - - - No Category  - Start */
/* Remove default behavior of textbox style */
input:focus, textarea:focus, select:focus{
  outline: none;
}
/* - - - - - - - - - - No Category  - End */


/* - - - - - - - - - - Button Defaults - 1 - Start */
.button-default {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  border: none;
}
.button-default:hover {
  /* text-decoration: underline; */
  text-decoration: none;
}
.button-default-color-primary {
  color: white;
  background-color: var(--company-primary-color);
  border: none;
}
.button-default-color-primary:hover {
  /* background-color: rgb(196, 94, 255); */
  background-color: rgb(205, 120, 255);
  transition: 0.2s;
}
.button-section-middle {
  text-align: center;
}

.button-default-longer {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  border: none;
}
.button-default-longer:hover {
  /* text-decoration: underline; */
  text-decoration: none;
}
/* - - - - - - - - - - Button Defaults - 1 - End */


/* - - - - - - - - - - Button Defaults - 2 - Start */
.button-default-2 {
  /* .btn.form__btn-submit */
  text-align: center;
  min-width: 180px;
  /* input.w-button */
  -webkit-appearance: button;
  /* .btn */
  padding: 11px 21px;
  border-radius: 8px;
  transition: color .4s,background-color .4s;
  font-size: 18px;
  line-height: 156%;
  font-weight: 600;
  white-space: nowrap;
  max-height: 52px;
  /* .w-button */
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  /* input[type="submit" i] */
  user-select: none;
  align-items: flex-start;
  /* input */
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  /* Media */
  /* -webkit-box-direction: normal; */
}
.button-default-2-primary-color {
  color: white;
  background-color: var(--company-primary-color);
}
.button-default-2-primary-color:hover {
  color: white;
  background-color: rgb(208, 126, 255);
}
/* - - - - - - - - - - Button Defaults - 2 - End */


/* - - - - - - - - - - Input Defaults - 2 - Start */
.text-input-default {
  /* border: 1px solid green; */
  /* .input.form__input */
  width: 323px;
  /* .input */
  height: 50px;
  margin-bottom: 0px;
  padding: 12px 16px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color .3s,box-shadow .4s,border-width .2s linear,background-color .4s linear;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: 0.02em;
  /* .w-input */
  display: block;
  color: #333;
  /* input */
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  /* Media screen */
  /* -webkit-box-direction: normal; */
  }
  .text-input-default:hover {
    border: 2px solid #b7b7b7;
    transition: 0.2s;
  }
/* - - - - - - - - - - Input Defaults - 2 - End */



/* - - - - - - - - - - Hyperlink Redirect - Start */
.template-hyperlink-redirect-section {
  text-align: center;
}
a.template-hyperlink-redirect-section-a, a.template-hyperlink-redirect-section-a:visited {
  text-decoration-color: var(--company-primary-color);
}
.template-hyperlink-redirect-section-p {
  margin: 30px 0 80px 0;
  font-size: 20px;
  color: var(--company-primary-color);
}
/* - - - - - - - - - - Hyperlink Redirect - End */


/* - - - - - - - - - - Text box Defaults - Start */
.answer-text-box {
  width: 70%;
  padding: 12px 20px;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--company-greyed-out-color);
}
.answer-text-box:focus {
  border: 2px solid var(--company-primary-color);
}
textarea.answer-text-box {
  resize: none;
}
/* - - - - - - - - - - Text box Defaults - End */


/* - - - - - - - - - - Template Page Intro Start */
.template-page-intro-background {
  height: 150px;
  background-color: var(--company-primary-color);
  width: 100%;
}
.template-page-intro {
  text-align: center;
}
.template-page-intro-title, .template-page-intro-sub-title {
  color: white;
}
/* - - - - - - - - - - Template Page Intro - Specific Pages Start */
.template-page-intro-title-no-latest-quiz, .template-page-intro-title-create-question, .template-page-intro-title-view_submitted, .template-page-intro-title-quiz-feedback, .template-page-intro-title-quiz-feedback-success, .template-page-intro-title-quiz-settings, .template-page-intro-title-quiz-settings-edit, .template-page-intro-title-quiz-past-due, .template-page-intro-title-quiz-graded, .template-page-intro-title-quiz-pre-open, .template-page-intro-title-leaderboard, .template-page-intro-title-quiz-archive {
  font-size: 60px;
  padding: 30px 0 0 0;
}
.template-page-intro-title-dashboard {
  font-size: 60px;
  padding: 0 0 0 0;
}
.template-page-intro-sub-title-dashboard {
  /* font-size: 10px; */
  padding: 10px;
}
.template-page-intro-sub-title-quiz-archive {
  padding: 0px
}
/* - - - - - - - - - - Template Page Intro - Specific Pages End */
/* - - - - - - - - - - Template Page Intro End */


/* - - - - - - - - - - Template Small Logo Caricature Bottom Page Start */
.template-small-logo-caricature-section {
  text-align: center;
  margin: 40px 0;
}
img.template-logo-caricature-img {
  height: 250px;
  width: 250px;
}
/* - - - - - - - - - - Template Small Logo Caricature Bottom Page End */


/* - - - - - - - - - - Template Post Intro Description Start */
.template-page-post-intro-description-section {
  /* border: solid black 1px; */
  text-align: center;
  margin: 50px 0;
}
.template-page-post-intro-description-sub-section {
  color: var(--company-greyed-out-color);
  width: 95%;
  margin: 0 auto;
}
.template-page-post-intro-description-sub-section p {
  margin: 10px 0;  
}
/* - - - - - - - - - - Template Post Intro Description End */


/* - - - - - - - - - - Leaderboard Datatables Start */
.template-datatable-section {
  width: 50%;
  margin: 50px auto;
  text-align: center;
}
/* - - - - - - - - - - Leaderboard Datatables End */


/* - - - - - - - - - - Checkboxes Appear Start */
input[type=checkbox] {
  -webkit-appearance:checkbox;
}
/* - - - - - - - - - - Checkboxes Appear End */


/* - - - - - - - - - - Divider Line Start */
hr.template-divider-line-dotted {
  border-top: 3px dotted #bbb;
  width: 70%;
  margin: 10px auto;
}
/* - - - - - - - - - - Divider Line End */


/* - - - - - - - - - - Quiz Results Start */
.template-quiz-correct-answers-ratio {
  text-align: center;
  margin: 50px 0 0 0;
}
.template-quiz-correct-answers-ratio-small-title {
  font-size: 20px;
  color: var(--company-greyed-out-color);
}
.template-quiz-correct-answers-ratio-large-title {
  font-size: 60px;
}
/* - - - - - - - - - - Quiz Results End */


/* - - - - - - - - - - Divider - Start */
.template-divide-section {
  margin: 75px auto;
}
/* - - - - - - - - - - Divider - End */


/* ==================================== Global Classes END ==================================== */


/* ==================================== Global ID's START ==================================== */
/* - - - - - - - - - - Stroke - Start */
#words-stroke-shadow {
  /* -webkit-text-stroke: 1px black; */
	text-shadow: 1px 1px 1px rgb(70, 0, 80);
}
.words-stroke-shadow-class {
  /* -webkit-text-stroke: 1px black; */
	text-shadow: 1px 1px 1px rgb(70, 0, 80);
}
/* - - - - - - - - - - Stroke - End */
/* ==================================== Global ID's END ==================================== */