/* ==================================== Mobile Version START ==================================== */
@media (max-width: 1200px) {
  /* - - - - - - - - - - Default Text Input - Signed In - Start */
  input.default-signed-in-text-input, textarea.default-signed-in-text-input {
    width: 95%;
  }
  /* - - - - - - - - - - Default Text Input - Signed In - End */
  

  /* - - - - - - - - - - Default Page Intro - Signed In - Start */
  /* - - - - - - - - - - Default Page Intro - Specific Pages - Signed In - Start */
  .default-signed-in-page-intro-title-no-latest-quiz, .default-signed-in-page-intro-title-create-question, .default-signed-in-page-intro-title-view_submitted, .default-signed-in-page-intro-title-quiz-feedback, .default-signed-in-page-intro-title-quiz-feedback-success, .default-signed-in-page-intro-title-quiz-settings, .default-signed-in-page-intro-title-quiz-settings-edit, .default-signed-in-page-intro-title-quiz-past-due, .default-signed-in-page-intro-title-quiz-graded, .default-signed-in-page-intro-title-dashboard, .default-signed-in-page-intro-title-quiz-pre-open, .default-signed-in-page-intro-title-leaderboard, .default-signed-in-page-intro-title-quiz-archive {
    font-size: 50px;
    padding: 15px 0 0 0;
  }
  .default-signed-in-page-intro-title-dashboard {
    font-size: 50px;
    padding: 0 0 0 0;
  }
  /* - - - - - - - - - - Default Page Intro - Specific Pages - Signed In - End */
  /* - - - - - - - - - - Default Page Intro - Signed In - End */


  /* - - - - - - - - - - Default Datatables - Signed In - Start */
  .default-signed-in-datatable-section {
    width: 95%;
    margin: 50px auto;
    text-align: center;
  }
  /* - - - - - - - - - - Default Datatables - Signed In - End */


  /* - - - - - - - - - - Default Text Input - Not Signed In - Start */
  .default-not-signed-in-text-input {
    -webkit-box-direction: normal;
  }
  /* - - - - - - - - - - Default Text Input - Not Signed In - End */

}
/* ==================================== Mobile Version END ==================================== */