/* - - - - - - - - - - Quiz Categories - Start */
.category-explain-section {
  /* border: 1px solid black; */
  text-align: center;
  padding: 50px 0 25px 0;
}
.category-section {
  /* border: 1px solid black; */
  padding: 10px 0;
  text-align: center;
}
.categories-divider-line {
  border: 1px solid var(--company-greyed-out-color);
  margin: 25px auto;
  width: 50%;
}
.category-submit-button-section {
  margin: 25px 0;
}
/* - - - - - - - - - - Quiz Categories - End */