{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>WIP | Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 slack_state_uuid_js="{{ slack_state_uuid_html }}",
                              link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="landing-page-intro-2">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Left Side START -->
  <div class="landing-page-intro-2-words-section">
    <p class="landing-page-intro-2-header">Weekly trivia quiz for your team.</p>
    <p class="landing-page-2-subheader landing-page-intro-2-sub-header">Internal team building tool, guaranteed to increase employee engagement.</p>

    <div class="landing-page-intro-2-next-steps-section">
      <div class="landing-page-intro-2-slack-button-section">
        <a href="https://slack.com/oauth/v2/authorize?client_id=2010284559270.2041074682000&scope=incoming-webhook,team:read,users.profile:read,users:read,users:read.email&state={{ slack_state_uuid_html }}&user_scope=openid,profile,email"><img alt="Add to Slack" height="50" width="173.75" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" class="landing-page-2-button" /></a>
      </div>  
      <div class="landing-page-2-subheader landing-page-intro-2-or-section">
        <p>OR</p>
      </div>
      <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-closing-sub-section-email-form-2" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="text-input-default" required><br><br>
        <input type="submit" value="Request a demo" class="button-default-2 button-default-2-primary-color landing-page-button-position">
      </form>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Left Side END -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Right Side START -->
  <div class="landing-page-intro-2-video-section">
    <iframe src="https://player.vimeo.com/video/618792251?h=7cbce57383" class="triviafy_promo_video_2 box-shadow-reg-grey-2" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Right Side END -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Gift Card Other Companies START -->
<div class="landing-page-gift-card-other-companies-section">
  <div class="landing-page-2-subheader landing-page-gift-card-other-companies-title">
    <p>1st place team members win free gift card prizes to popular companies.</p>
  </div>
  <div class="landing-page-gift-card-other-companies-logos">
    <img src="/static/images/logo_other_companies/Logo_Adidas_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Amazon_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_LuLuLemon_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Nike_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Apple_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Gift Card Other Companies END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Choose Platform START -->
<div class="landing-page-choose-platform-2">
  <div class="landing-page-2-header landing-page-choose-platform-2-header">
    <p>How It Works</p>
  </div>
  <div class="landing-page-2-subheader landing-page-choose-platform-2-subheader">
    <p>Add to company's communication platform.</p>
  </div>
  <div class="landing-page-choose-platforms-2-all-platforms-section">
    <p class="box-shadow-reg-grey-2 landing-page-2-subheader"><i class="fab fa-slack font-awesome-icon-choose-platform-section"></i>Slack</p>
    <p class="box-shadow-reg-grey-2 landing-page-2-subheader"><i class="fab fa-windows font-awesome-icon-choose-platform-section"></i>Microsoft Teams</p>
    <p class="box-shadow-reg-grey-2 landing-page-2-subheader"><i class="far fa-envelope font-awesome-icon-choose-platform-section"></i>Email</p>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Choose Platform END -->


{% endblock %}