{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 slack_state_uuid_js="{{ slack_state_uuid_html }}",
                              link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_engineer_js="{{ url_for('download_engineering_example_quiz_pdf_redirect.download_engineering_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_hr_js="{{ url_for('download_hr_example_quiz_pdf_redirect.download_hr_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_marketing_js="{{ url_for('download_marketing_example_quiz_pdf_redirect.download_marketing_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_finance_js="{{ url_for('download_finance_example_quiz_pdf_redirect.download_finance_example_quiz_pdf_redirect_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="landing-page-intro-2">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Left Side START -->
  <div class="landing-page-intro-2-words-section">
    <p class="landing-page-intro-2-header">Weekly trivia quiz for your team.</p>
    <p class="landing-page-2-subheader landing-page-intro-2-sub-header">Internal team building/learning and development tool, guaranteed to increase employee engagement.</p>

    <div class="landing-page-intro-2-next-steps-section">
      <div class="landing-page-intro-2-slack-button-section">
        <a href="https://slack.com/oauth/v2/authorize?client_id=2010284559270.2041074682000&scope=incoming-webhook,team:read,users.profile:read,users:read,users:read.email&state={{ slack_state_uuid_html }}&user_scope=openid,profile,email"><img alt="Add to Slack" height="50" width="173.75" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" class="landing-page-2-button" /></a>
      </div>  
      <div class="landing-page-2-subheader landing-page-intro-2-or-section">
        <p>OR</p>
      </div>
      <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Request a demo" class="default-button-format default-button-format-primary-color landing-page-button-position">
      </form>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Left Side END -->
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Right Side START -->
  <div class="landing-page-intro-2-video-section">
    <iframe src="https://player.vimeo.com/video/618792251?h=7cbce57383" class="triviafy_promo_video_2 default-box-shadow-grey-reg" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro Right Side END -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Gift Card Other Companies START -->
<div class="landing-page-gift-card-other-companies-section">
  <div class="landing-page-2-subheader landing-page-gift-card-other-companies-title">
    <p>1st place team members win free gift card prizes to popular companies.</p>
  </div>
  <div class="landing-page-gift-card-other-companies-logos">
    <img src="/static/images/logo_other_companies/Logo_Adidas_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Amazon_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_LuLuLemon_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Nike_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
    <img src="/static/images/logo_other_companies/Logo_Apple_Dark.png" alt="Other company logo dark" class="gift-card-other-company-img">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Gift Card Other Companies END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Choose Platform START -->
<div class="landing-page-choose-platform-2">
  <div class="landing-page-2-header landing-page-choose-platform-2-header">
    <p>How It Works</p>
  </div>
  <div class="landing-page-2-subheader landing-page-choose-platform-2-subheader">
    <p>Add to company's communication platform.</p>
  </div>
  <div class="landing-page-choose-platforms-2-all-platforms-section">
    <p class="default-box-shadow-grey-reg landing-page-2-subheader"><i class="fab fa-slack font-awesome-icon-choose-platform-section"></i>Slack</p>
    <p class="default-box-shadow-grey-reg landing-page-2-subheader"><i class="fab fa-windows font-awesome-icon-choose-platform-section"></i>Microsoft Teams</p>
    <p class="default-box-shadow-grey-reg landing-page-2-subheader"><i class="far fa-envelope font-awesome-icon-choose-platform-section"></i>Email</p>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Choose Platform END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - START -->
<div class="landing-page-2-hiw-1-section">
  <div class="landing-page-2-hiw-1-left-section">
    <p class="landing-page-2-header">Receive weekly quiz open notification.</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Triviafy quizzes are asynchronous, meaning team members complete the quiz on their own time throughout the week.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Slack Setup</button></a>
    </div>
  </div>
  <div class="landing-page-2-hiw-1-right-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Slack.png" alt="Receive weekly quiz open notification image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - START -->
<div class="landing-page-2-hiw-2-section">
  <div class="landing-page-2-hiw-2-left-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Quiz_Question_2.png" alt="Answer quiz questions image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
  <div class="landing-page-2-hiw-2-right-section">
    <p class="landing-page-2-header">Answer quiz questions for any category.</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Exact spelling for answers does not matter but try your best. Completing a quiz can take 1-5 minutes.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Example Quiz</button></a>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 3 - START -->
<div class="landing-page-2-hiw-3-section">
  <div class="landing-page-2-hiw-3-left-section">
    <p class="landing-page-2-header">Collect end of week rewards.</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Earn ‘Bragging-Rights’ cards that showcase your trivia skills. Consistent Triviafy quiz winners earn free gift cards to popular companies.</p>
    <div class="landing-page-hiw-a-link-position-section">
      <a href="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}" class="landing-page-2-subheader-a">Learn more. <i class="fas fa-angle-right landing-page-2-icon-move"></i></a>
    </div>
  </div>
  <div class="landing-page-2-hiw-3-right-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Prizes_2.png" alt="Collect end-of-week rewards image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 3 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 4 - START -->
<div class="landing-page-2-hiw-4-section">
  <div class="landing-page-2-hiw-4-left-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Customize_2.png" alt="Customize your team's weekly quizzes image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
  <div class="landing-page-2-hiw-4-right-section">
    <p class="landing-page-2-header">Customize your team's weekly quizzes.</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Customizable settings: question department/categories, number of questions per quiz, question difficulty, quiz timeframe, create custom Triviafy questions.</p>
    <div class="landing-page-hiw-a-link-position-section">
      <a href="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}" class="landing-page-2-subheader-a">Learn more. <i class="fas fa-angle-right landing-page-2-icon-move"></i></a>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 4 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Department Specific START -->
<div class="landing-page-department-specific">
  <div class="landing-page-2-header landing-page-department-specific-header">
    <p>Department Specific</p>
  </div>
  <div class="landing-page-2-subheader landing-page-department-specific-subheader">
    <p>Choose quiz categories specific to your department.</p>
    <p>Automated learning and development tool for your team.</p>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Department Specific END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - START -->
<div class="landing-page-2-hiw-1-section">
  <div class="landing-page-2-hiw-1-left-section">
    <p class="landing-page-2-header">Engineering Department</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Weekly trivia for your engineering and technology department.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_engineering_example_quiz_pdf_redirect.download_engineering_example_quiz_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Department Example Quiz</button></a>
    </div>
  </div>
  <div class="landing-page-2-hiw-1-right-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Department_Specific_EngineeringTech.png" alt="Receive weekly quiz open notification image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - START -->
<div class="landing-page-2-hiw-2-section">
  <div class="landing-page-2-hiw-2-left-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Department_Specific_HR_TalAcq.png" alt="Answer quiz questions image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
  <div class="landing-page-2-hiw-2-right-section">
    <p class="landing-page-2-header">Human Resources Department</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Weekly trivia for your human resources and talent acquisition department.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_hr_example_quiz_pdf_redirect.download_hr_example_quiz_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Department Example Quiz</button></a>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - START -->
<div class="landing-page-2-hiw-1-section">
  <div class="landing-page-2-hiw-1-left-section">
    <p class="landing-page-2-header">Marketing Sales Department</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Weekly trivia for your marketing and sales department.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_marketing_example_quiz_pdf_redirect.download_marketing_example_quiz_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Department Example Quiz</button></a>
    </div>
  </div>
  <div class="landing-page-2-hiw-1-right-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Department_Specific_MarketingSales.png" alt="Receive weekly quiz open notification image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 1 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - START -->
<div class="landing-page-2-hiw-2-section">
  <div class="landing-page-2-hiw-2-left-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Department_Specific_FinanceAccounting.png" alt="Answer quiz questions image." class="landing-page-2-hiw-image default-box-shadow-grey-reg">
  </div>
  <div class="landing-page-2-hiw-2-right-section">
    <p class="landing-page-2-header">Finance Accounting Department</p>
    <p class="landing-page-2-subheader landing-page-2-hiw-p">Weekly trivia for your finance and accounting department.</p>
    <div class="landing-page-2-hiw-button-position-section">
      <a href="{{ url_for('download_finance_example_quiz_pdf_redirect.download_finance_example_quiz_pdf_redirect_function') }}"><button class="default-button-format default-button-format-primary-color landing-page-2-hiw-button-position">Department Example Quiz</button></a>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works - 2 - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Request Demo - START -->
<div class="landing-page-2-demo-section default-box-shadow-grey-reg">
  <div class="landing-page-2-demo-left-sub-section">
    <div class="landing-page-2-demo-words-section">
      <p class="landing-page-2-header landing-page-2-demo-header-position">Build better teams with Triviafy.</p>
      <p class="landing-page-2-subheader landing-page-2-demo-sub-header-position">Speak to one of our trivia experts and learn how Triviafy can help your team.</p>
      <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="default-not-signed-in-text-input" required><br><br>
        <input type="submit" value="Request a demo" class="default-button-format default-button-format-primary-color landing-page-button-position">
      </form>
    </div>
    
  </div>
  
  <div class="landing-page-2-demo-right-sub-section">
    <img src="/static/images/landing_page_2/Landing_Page_2_Request_Demo.png" alt="Request Demo image" class="landing-page-2-demo-img">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Request Demo - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->
{% endblock %}