{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component slack_state_uuid_js="{{ slack_state_uuid_html }}",
                              link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="landing-page-intro-section-background">
  <div class="landing-page-intro-grid-outline">
    <div class="landing-page-intro-title-and-subtitle">
      <h1 class="landing-page-intro-title words-stroke-shadow-class"><strong>Weekly trivia quiz for your team.</strong></h1>
      <ul class="landing-page-intro-ul">
        <li><h2 class="landing-page-intro-sub-title words-stroke-shadow-class">Internal team building tool, guaranteed to increase employee engagement.</h2></li>
        <li><h2 class="landing-page-intro-sub-title words-stroke-shadow-class">Asynchronous: employees submit answers on their own time weekly.</h2></li>
        <li><h2 class="landing-page-intro-sub-title words-stroke-shadow-class">You select the quiz schedule + categories, we handle the grading & prizes.</h2></li>
      </ul>
      
      <div class="landing-page-into-button-section">
        <a href="https://slack.com/oauth/v2/authorize?client_id=2010284559270.2041074682000&scope=incoming-webhook,team:read,users.profile:read,users:read,users:read.email&state={{ slack_state_uuid_html }}&user_scope=openid,profile,email"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" class="landing-page-button" /></a>
      </div>
      <div class="landing-page-intro-or-section">
        <p>OR</p>
      </div>

      <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-closing-sub-section-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <label for="user_input_email" class="landing-page-form-email-label"></label>
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="landing-page-closing-sub-section-email-input" required><br><br>
        <input type="submit" value="Request a demo" class="landing-page-closing-sub-section-submit-input">
      </form>
    </div>
    
    <div class="landing-page-intro-video">
      <iframe src="https://player.vimeo.com/video/618792251?h=7cbce57383" class="triviafy_promo_video" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Win Gift Cards START -->
<div class="landing-page-other-companies-container box-shadow-reg-grey box-shadow-rounded">
  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Sample Quiz PDF START -->
  <div class="landing-page-pdf-section">
    <a href="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}"><button class="button-default-longer button-default-color-primary landing-page-intro-button">View Example Quiz PDF</button></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Sample Quiz PDF END -->
  
  <div class="landing-page-other-company-logos-description">
    <p>1st place team members win free gift card prizes to popular companies.</p>
  </div>
  <div class="landing-page-other-company-logos-container">
    <img src="/static/images/logo_other_companies/Logo_Adidas.png" alt="Other company logo" class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_Amazon.png" alt="Other company logo" class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_Disney.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_DoorDash.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_Hulu.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
  </div>
  <div class="landing-page-other-company-logos-container">
    <img src="/static/images/logo_other_companies/Logo_LuLuLemon.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-square">
    <img src="/static/images/logo_other_companies/Logo_Netflix.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_Nike.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
    <img src="/static/images/logo_other_companies/Logo_Starbucks.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-square">
    <img src="/static/images/logo_other_companies/Logo_Zara.png" alt="Other company logo" 
    class="landing-page-other-company-logos-container-img-rectangle">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Win Gift Cards END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works START -->
<div class="landing-page-how-it-works-section">
  <div class="landing-page-how-it-works-title">
    <p>How It Works</p>
  </div>

  <div class="landing-page-choose-platform">
    <p>Add to company's communication platform:</p>
  </div>
  <div class="landing-page-communication-platform">
    <div class="landing-page-communication-platform-icon-rectangle">
      <p><i class="far fa-envelope"></i> Email</p>
    </div>
    <img src="/static/images/logo_other_companies/Logo_slack.png" alt="Other company logo" 
    class="landing-page-communication-platform-img-rectangle">
    <img src="/static/images/logo_other_companies/logo_microsoft_teams.png" alt="Other company logo" class="landing-page-communication-platform-img-rectangle">
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - How It Works END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Receive Quiz START -->
<div class="landing-page-step-section">
  <div class="landing-page-left-grid landing-page-img-center popup-left-one">
    <img src="/static/images/screenshots/slack_message.png" alt="Quiz Screenshot" class="box-shadow-reg-grey box-shadow-rounded screenshot-quiz-open">
  </div>

  <div class="landing-page-step-sub-section-description-section landing-page-right-grid landing-page-text-margin-right popup-right-one">
    <p class="landing-page-step-sub-section-description-sub-section-title">Receive weekly <em>quiz open</em> notification.</p>
    <ul class="landing-page-step-sub-section-description-sub-section-ul">
      <li>Submit quiz responses based on your team's schedule.</li>
      <li>Awesome way to discover coworker passions.</li>
      <li>Great conversation starter.</li>
    </ul>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Receive Quiz END -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Answer Question START -->
<div class="landing-page-step-section">
  <div class="landing-page-right-grid landing-page-img-left popup-right-two">
    <img src="/static/images/screenshots/quiz_question_screenshot.png" alt="Quiz Screenshot" class="screenshot-quiz-question-example">
  </div>

  <div class="landing-page-left-grid landing-page-text-margin-left popup-left-two">
    <p class="landing-page-step-sub-section-description-sub-section-title">Answer quiz questions.</p>
    <ul class="landing-page-step-sub-section-description-sub-section-ul">
      <li>Exact spelling does not matter, try your best.</li>
      <li>Showcase your trivia knowledge.</li>
      <li>Impress your coworkers.</li>
    </ul>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Answer Question END -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Rewards START -->
<div class="landing-page-step-section">
  <div class="landing-page-left-grid landing-page-img-center popup-left-three">
    <img src="/static/images/bragging_rights/Earn_Rewards_Horizontal.png" alt="Quiz Screenshot" class="screenshot-quiz-rewards">
  </div>

  <div class="landing-page-right-grid landing-page-text-margin-right popup-right-three">
    <p class="landing-page-step-sub-section-description-sub-section-title">Collect end-of-week rewards.</p>
    <ul class="landing-page-step-sub-section-description-sub-section-ul">
      <li>Earn 'Bragging-Rights-Cards.'</li>
      <li>Win free gift cards.</li>
      <li>Take pride in your trivia knowledge.</li>
    </ul>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Rewards END -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Customize Settings START -->
<div class="landing-page-step-section">
  <div class="landing-page-right-grid landing-page-img-left popup-right-four">
    <img src="/static/images/bragging_rights/customize_quiz_horizontal.png" alt="Quiz Screenshot" class="screenshot-quiz-rewards">
  </div>

  <div class="landing-page-left-grid landing-page-text-margin-left popup-left-four">
    <p class="landing-page-step-sub-section-description-sub-section-title">Customize your team's weekly quizzes.</p>
    <ul class="landing-page-step-sub-section-description-sub-section-ul">
      <li>Adjust start/end date and time.</li>
      <li>Adjust number of questions per quiz.</li>
      <li>Adjust question categories.</li>
      <li>Create custom triviafy questions.</li>
    </ul>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Customize Settings END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Sample Quiz PDF START -->
<div class="landing-page-pdf-section">
  <a href="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}"><button class="button-default-longer button-default-color-primary landing-page-intro-button">View Example Quiz PDF</button></a>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Sample Quiz PDF END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider START -->
<div class="template-divide-section">  
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Divider END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Closing START -->
<div class="landing-page-closing-section">
  <div class="landing-page-closing-section-content-top">
    
    <div class="landing-page-closing-sub-section-box-aa">
      <p class="landing-page-closing-sub-section-title words-stroke-shadow-class"><strong><em>Triviafy</em> your workspace!</strong></p>
      <p class="landing-page-closing-sub-section-sub-title words-stroke-shadow-class"><strong>Weekly trivia quiz for your team.</strong></p>
      <ul class="landing-page-closing-sub-section-ul words-stroke-shadow-class">
        <li><p>Set up takes seconds.</p></li>
        <li><p>Unlock new conversations with coworkers.</p></li>
        <li><p>Increase employee engagement.</p></li>
        <li><p>Give your team something to look forward to every week.</p></li>
      </ul>
    </div>

    <div class="landing-page-closing-sub-section-box-ab">
      <img src="/static/images/logo/Logo_active/Logo_cheering_white_correct_direction.png" alt="Logo Active" class="landing-page-closing-sub-section-img">
    </div>
  </div>

  <div class="landing-page-closing-section-content-bottom">
    
    <div class="landing-page-closing-sub-section-box-ac">
      <a href="https://slack.com/oauth/v2/authorize?client_id=2010284559270.2041074682000&scope=incoming-webhook,team:read,users.profile:read,users:read,users:read.email&state={{ slack_state_uuid_html }}&user_scope=openid,profile,email"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcSet="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" class="slack-image-button-landing-page" /></a>
      
      <p class="landing-page-closing-sub-section-or-statement words-stroke-shadow-class">OR</p>
      
      <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="landing-page-closing-sub-section-email-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="Your work email" class="landing-page-closing-sub-section-email-input" required><br><br>
        <input type="submit" value="Request a demo" class="landing-page-closing-sub-section-submit-input">
      </form>

    </div>
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Closing START -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->


{% endblock %}