/* - - - - - - - - - - Whole Page Variables - Start */
.landing-page-2-header {
  font-size: 50px;
  font-weight: 700;
  color: black;
}
.landing-page-2-subheader {
  font-size: 20px;
  color: rgb(51, 28, 86);
}
/* - - - - - - - - - - Whole Page Variables - End */


/* - - - - - - - - - - Intro - Start */
.landing-page-intro-2 {
  /* border: 1px solid red; */
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 55px;
  row-gap: 0;
}
/* - - - - - - - - - - Intro Left Side - Start */
.landing-page-intro-2-words-section {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2; 
}
.landing-page-intro-2-header {
  padding: 125px 0 0 0;
  font-size: 70px;
  font-weight: 700;
}
.landing-page-intro-2-sub-header {
  padding: 20px 0 20px 0;
}
.landing-page-intro-2-next-steps-section {
  /* border: 1px solid black; */
  text-align: center;
}
.landing-page-intro-2-slack-button-section {
  padding: 20px 0 0 0;
}
.landing-page-intro-2-or-section {
  padding: 20px 0;
}
form.landing-page-closing-sub-section-email-form-2 {
  /* border: 1px solid black; */
  /* .hero-form */
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  /* Media */
  /* -webkit-box-direction: normal; */
}
.landing-page-button-position {
  margin: 0 0 0 16px;
}
/* - - - - - - - - - - Intro Left Side - End */
/* - - - - - - - - - - Intro Right Side - Start */
.landing-page-intro-2-video-section {
  /* border: 1px solid black; */
  grid-area: 1 / 2 / 2 / 3;
}
.triviafy_promo_video_2 {
  /* border: 1px solid black; */
  height: 329.4px;
  width: 585px;
  margin: 125px 0 0 0;
  border-radius: 10px;
}
/* - - - - - - - - - - Intro Right Side - End */
/* - - - - - - - - - - Intro - End */


/* - - - - - - - - - - Gift Card Other Companies - Start */
.landing-page-gift-card-other-companies-section {
  /* border: 1px solid black; */
  height: 250px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-gift-card-other-companies-title p {
  /* border: 1px solid black; */
  text-align: center;
  padding: 50px 0 50px 0;
}
.landing-page-gift-card-other-companies-logos {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
img.gift-card-other-company-img {
  /* border: 1px solid black; */
  height: 75px;
  width: auto;
}
/* - - - - - - - - - - Gift Card Other Companies - End */


/* - - - - - - - - - - Choose Platform - Start */
.landing-page-choose-platform-2 {
  /* border: 1px solid black; */
  height: 350px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-choose-platform-2-header {
  /* border: 1px solid black; */
  text-align: center;
  padding: 150px 0 15px 0;
}
.landing-page-choose-platform-2-subheader {
  /* border: 1px solid black; */
  text-align: center;
  padding: 0 0 20px 0;
}
.landing-page-choose-platforms-2-all-platforms-section {
  /* border: 1px solid black; */
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.landing-page-choose-platforms-2-all-platforms-section p {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
}
.font-awesome-icon-choose-platform-section {
  font-size: 30px;
  margin: 0 10px 0 0;
}
/* - - - - - - - - - - Choose Platform - End */