/* - - - - - - - - - - Intro - Start */
.landing-page-intro-section-background {
  height: 450px;
  width: 100%;
  background-color: var(--company-primary-color);
}
.landing-page-intro-grid-outline {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  width: 90%;
  margin: 0 auto;
}
.landing-page-intro-title-and-subtitle {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
  color: white;
  padding: 90px 0 0 0;
}
.landing-page-intro-title {
  font-size: 50px;
  padding: 0 0 25px 0;
}
.landing-page-intro-sub-title {
  font-size: 20px;
  margin: 0 0 5px 0;
}
.landing-page-intro-button {
  margin: 20px 0 0 0;
}
.landing-page-fine-print {
  margin: 10px 0 0 0;
  font-size: 10px;
}
.landing-page-quiz-example-screenshot {
  /* border: 1px solid black; */
  grid-area: 1 / 2 / 2 / 3;
  width: 90%;
  margin: 70px auto 0 auto;
}
img.quiz-example-screenshot {
  /* border: 1px solid rgb(120, 120, 120); */
  height: auto;
  width: 100%;
  max-width: 650px;
  border-radius: 20px;
}
/* - - - - - - - - - - Into - End */


/* - - - - - - - - - - Win Gift Cards - Start */
.landing-page-other-company-logos-description {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: var(--company-primary-color);
  padding: 60px 0;
  font-size: 25px;
}
.landing-page-other-company-logos-container {
  /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
img.landing-page-other-company-logos-container-img-rectangle {
  height: 75px;
  max-width: 150px;
  width: 100%;
}
img.landing-page-other-company-logos-container-img-square {
  height: 75px;
  max-width: 75px;
  width: 100%;
}
/* - - - - - - - - - - Win Gift Cards - End */


/* - - - - - - - - - - How It Works - Start */
.landing-page-how-it-works-title {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 50px;
  color: var(--company-primary-color);
  padding: 15px 0;
}
.landing-page-choose-platform {
  text-align: center;
  color: var(--company-primary-color);
  font-size: 15px;
}
.landing-page-communication-platform {
  /* border: 1px solid black; */
  width: 350px;
  margin: 20px auto;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.landing-page-communication-platform-img-rectangle {
  border: 1px solid var(--company-greyed-out-color);
  border-radius: 10px;
  padding: 5px 10px;
  height: 50px;
  max-width: 100px;
  width: 100%;
}
.landing-page-communication-platform-icon-rectangle {
  border: 1px solid var(--company-greyed-out-color);
  border-radius: 10px;
  height: 50px;
  max-width: 100px;
  width: 100%;
  text-align: center;
  padding: 15px 10px;
}
/* - - - - - - - - - - How It Works - End */