/* - - - - - - - - - - Whole Page Variables - Start */
.landing-page-2-header {
  font-size: 50px;
  font-weight: 700;
  color: black;
}
.landing-page-2-subheader {
  font-size: 20px;
  color: rgb(51, 28, 86);
}
.landing-page-2-subheader-a {
  font-size: 20px;
  color: var(--company-primary-color);
  text-decoration: none;
}
.landing-page-2-subheader-a:hover {
  text-decoration: underline;
}
/* - - - - - - - - - - Whole Page Variables - End */


/* - - - - - - - - - - Intro - Start */
.landing-page-intro-2 {
  /* border: 1px solid red; */
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 55px;
  row-gap: 0;
}
/* - - - - - - - - - - Intro Left Side - Start */
.landing-page-intro-2-words-section {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2; 
}
.landing-page-intro-2-header {
  padding: 125px 0 0 0;
  font-size: 70px;
  font-weight: 700;
}
.landing-page-intro-2-sub-header {
  padding: 20px 0 20px 0;
}
.landing-page-intro-2-next-steps-section {
  /* border: 1px solid black; */
  text-align: center;
}
.landing-page-intro-2-slack-button-section {
  padding: 20px 0 0 0;
}
.landing-page-intro-2-or-section {
  padding: 20px 0;
}
form.landing-page-email-form {
  /* border: 1px solid black; */
  /* .hero-form */
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  /* Media */
  /* -webkit-box-direction: normal; */
}
.landing-page-button-position {
  margin: 0 0 0 16px;
}
/* - - - - - - - - - - Intro Left Side - End */
/* - - - - - - - - - - Intro Right Side - Start */
.landing-page-intro-2-video-section {
  /* border: 1px solid black; */
  grid-area: 1 / 2 / 2 / 3;
}
.triviafy_promo_video_2 {
  /* border: 1px solid black; */
  height: 329.4px;
  width: 585px;
  margin: 125px 0 0 0;
  border-radius: 10px;
}
/* - - - - - - - - - - Intro Right Side - End */
/* - - - - - - - - - - Intro - End */


/* - - - - - - - - - - Gift Card Other Companies - Start */
.landing-page-gift-card-other-companies-section {
  /* border: 1px solid black; */
  height: 250px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-gift-card-other-companies-title p {
  /* border: 1px solid black; */
  text-align: center;
  padding: 50px 0 50px 0;
}
.landing-page-gift-card-other-companies-logos {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-around;
}
img.gift-card-other-company-img {
  /* border: 1px solid black; */
  height: 75px;
  width: auto;
}
/* - - - - - - - - - - Gift Card Other Companies - End */


/* - - - - - - - - - - Choose Platform - Start */
.landing-page-choose-platform-2 {
  /* border: 1px solid black; */
  height: 350px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-choose-platform-2-header {
  /* border: 1px solid black; */
  text-align: center;
  padding: 150px 0 15px 0;
}
.landing-page-choose-platform-2-subheader {
  /* border: 1px solid black; */
  text-align: center;
  padding: 0 0 20px 0;
}
.landing-page-choose-platforms-2-all-platforms-section {
  /* border: 1px solid black; */
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.landing-page-choose-platforms-2-all-platforms-section p {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
}
.landing-page-choose-platforms-2-all-platforms-section p:hover {
  border: 1px solid var(--company-primary-color);
  color: var(--company-primary-color);
  transition: 300ms;
}
.font-awesome-icon-choose-platform-section {
  font-size: 20px;
  margin: 0 10px 0 0;
}
/* - - - - - - - - - - Choose Platform - End */


/* - - - - - - - - - - How It Works - Step 1 and 3 - Start */
.landing-page-2-hiw-1-section, .landing-page-2-hiw-3-section {
  /* border: 1px solid black; */
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(150px,400px) minmax(auto,max-content);
  grid-column-gap: 115px;
  align-items: center;
}
.landing-page-2-hiw-1-left-section, .landing-page-2-hiw-3-left-section {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2;
}
.landing-page-2-hiw-ul {
  padding: 25px 0 0 0;
  margin: 0 0 0 25px;
}
.landing-page-2-hiw-li, .landing-page-2-hiw-p {
  padding: 15px 0 0 0;
}
.landing-page-2-hiw-button-position-section {
  /* border: 1px solid black; */
  padding: 50px 0 0 0;
  text-align: center;
}
.landing-page-2-hiw-1-right-section, .landing-page-2-hiw-3-right-section {
  /* border: 2px solid red; */
  grid-area: 1 / 2 / 2 / 4;
}
img.landing-page-2-hiw-image {
  border-radius: 16px;
  max-height: 458px;
}
.landing-page-hiw-a-link-position-section {
  text-align: center;
  padding: 50px 0 0 0;
}
/* - - - - - - - - - - How It Works - Step 1 and 3 - End */


/* - - - - - - - - - - How It Works - Step 2 and 4 - Start */
.landing-page-2-hiw-2-section, .landing-page-2-hiw-4-section {
  /* border: 1px solid black; */
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(auto,max-content) minmax(150px,400px);
  grid-column-gap: 115px;
  align-items: center;
}
.landing-page-2-hiw-2-left-section, .landing-page-2-hiw-4-left-section {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2;
}
.landing-page-2-hiw-2-right-section, .landing-page-2-hiw-4-right-section {
  /* border: 2px solid red; */
  grid-area: 1 / 2 / 2 / 4;
}
/* - - - - - - - - - - How It Works - Step 2 and 4 - End */


/* - - - - - - - - - - Dropdown Arrow Animation - Start */
.landing-page-2-subheader-a:hover .landing-page-2-icon-move {
  animation: learn-more-arrow-animation 300ms ease-in-out forwards;
}
@keyframes learn-more-arrow-animation {
  0% {
    transform:translateX(0px)
  }
  100% {
    transform:translateX(20px)
  }
}
/* - - - - - - - - - - Dropdown Arrow Animation - End */


/* - - - - - - - - - - Department Specific - Start */
.landing-page-department-specific {
  /* border: 1px solid black; */
  height: 325px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.landing-page-department-specific-header {
  /* border: 1px solid black; */
  text-align: center;
  padding: 100px 0 15px 0;
}
.landing-page-department-specific-subheader {
  /* border: 1px solid black; */
  text-align: center;
  padding: 0 0 20px 0;
}
/* - - - - - - - - - - Department Specific - End */


/* - - - - - - - - - - Request Demo - Start */
.landing-page-2-demo-section {
  /* border: 3px solid blue; */
  border-radius: 24px;
  height: 500px;
  width: 80%;
  max-width: 1200px;
  margin: 100px auto 0 auto;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 1fr;
}
.landing-page-2-demo-left-sub-section {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2;
}
.landing-page-2-demo-words-section {
  /* border: 3px solid red; */
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 0 0 50px;
}
.landing-page-2-demo-header-position, .landing-page-2-demo-sub-header-position {
  margin: 0 0 25px 0;
}
.landing-page-2-demo-right-sub-section {
  /* border: 1px solid black; */
  grid-area: 1 / 2 / 2 / 3;
}
img.landing-page-2-demo-img {
  height: auto;
  width: 100%;
  border-radius: 24px;
}
/* - - - - - - - - - - Request Demo - End */


/* - - - - - - - - - - Transfer from index OLD - Start */
/* - - - - - - - - - - Transfer from index OLD - End */