@media (max-width: 800px) {
  /* - - - - - - - - - - Intro - Start */
  .landing-page-intro-section-background {
    height: 1100px;
  }
  .landing-page-intro-grid-outline {
    /* border: 1px solid black; */
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
  }
  .landing-page-intro-title-and-subtitle {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
    padding: 50px 10px 0 10px;
    text-align: center;
  }
  .landing-page-intro-title {
    font-size: 40px;
  }
  .landing-page-intro-ul {
    text-align: left;
  }
  .landing-page-intro-video {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
    width: 95%;
  }
  .triviafy_promo_video {
    height: 175px;
    width: 100%;
  }
  /* - - - - - - - - - - Into - End */


  /* - - - - - - - - - - Win Gift Cards - Start */
  .landing-page-other-company-logos-description {
    width: 95%;
  }
  .landing-page-other-company-logos-container {
    /* border: 1px solid black; */
    width: 95%;
    height: 320px;
  }
  /* - - - - - - - - - - Win Gift Cards - End */


  /* - - - - - - - - - - Receive Quiz - Start */
  .landing-page-step-section {
    /* border: 1px solid black; */
    height: 500px;
    width: 95%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }

  /* Position attributes */
  .landing-page-left-grid {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .landing-page-right-grid {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
  }
  .landing-page-img-left {
    text-align: center;
  }
  .landing-page-text-margin-left {
    margin: 0 0 0 0;
  }
  .landing-page-text-margin-right {
    margin: 0 0 0 0;
  }

  /* Img attributes */
  img.screenshot-quiz-open {
    height: 200px;
    max-width: 100%;
  }
  img.screenshot-quiz-question-example {
    height: 200px;
    max-width: 100%;
  }
  img.screenshot-quiz-rewards {
    height: 200px;
    max-width: 100%;
  }
  /* - - - - - - - - - - Receive Quiz - End */

  /* - - - - - - - - - - Closing Top - Start */
  .landing-page-closing-section {
    /* border: 1px solid black; */
    height: 1200px;
  }
  .landing-page-closing-section-content-top {
    /* border: 1px solid black; */
    height: 500px;
    width: 90%;
    flex-direction: column;
  }
  .landing-page-closing-sub-section-box-ab {
    text-align: center;
  }
  img.landing-page-closing-sub-section-img {
    /* border: 1px solid black; */
    height: 200px;
    width: 200px;
  }
  /* - - - - - - - - - - Closing Top - End */

  /* - - - - - - - - - - Closing Bottom - Start */
  .landing-page-closing-section-content-bottom {
    /* border: 5px solid blue; */
    height: 400px;
    width: 90%;
    margin: 300px auto 0 auto;
  }
  .form.landing-page-closing-sub-section-email-form {
    -webkit-box-direction: normal;
  }
  .landing-page-closing-sub-section-email-input {
    -webkit-box-direction: normal;
  }
  .landing-page-closing-sub-section-submit-input {
    -webkit-box-direction: normal;
  }
  /* - - - - - - - - - - Closing Bottom - End */

  /* - - - - - - - - - - Animation - Start */
  @keyframes popup_animation {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1);
    }
  }
  /* - - - - - - - - - - Animation - End */

  .landing-page-how-it-works-section.start,
  .popup-left-one.start,
  .popup-left-two.start,
  .popup-left-three.start,
  .popup-left-four.start,
  .popup-right-one.start,
  .popup-right-two.start,
  .popup-right-three.start,
  .popup-right-four.start {
    animation-name: popup_animation;
    animation-duration: 0s;
    animation-timing-function: none;
  }
}