@media (max-width: 800px) {
  /* - - - - - - - - - - Intro - Start */
  .landing-page-intro-section-background {
    height: 850px;
  }
  .landing-page-intro-grid-outline {
    /* border: 1px solid black; */
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
    width: 95%;
  }
  .landing-page-intro-title-and-subtitle {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
    padding: 50px 10px 0 10px;
  }
  .landing-page-quiz-example-screenshot {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
    width: 95%;
  }
  .triviafy_promo_video {
    height: 175px;
    width: 100%;
  }
  /* - - - - - - - - - - Into - End */


  /* - - - - - - - - - - Win Gift Cards - Start */
  .landing-page-other-company-logos-description {
    width: 95%;
  }
  .landing-page-other-company-logos-container {
    /* border: 1px solid black; */
    width: 95%;
    height: 320px;
  }
  /* - - - - - - - - - - Win Gift Cards - End */


  /* - - - - - - - - - - Receive Quiz - Start */
  .landing-page-step-section {
    /* border: 1px solid black; */
    height: 500px;
    width: 95%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 1fr);
  }

  /* Position attributes */
  .landing-page-left-grid {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .landing-page-right-grid {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
  }
  .landing-page-img-left {
    text-align: center;
  }
  .landing-page-text-margin-left {
    margin: 0 0 0 0;
  }
  .landing-page-text-margin-right {
    margin: 0 0 0 0;
  }

  /* Img attributes */
  img.screenshot-quiz-open {
    height: 200px;
    max-width: 100%;
  }
  img.screenshot-quiz-question-example {
    height: 200px;
    max-width: 100%;
  }
  img.screenshot-quiz-rewards {
    height: 200px;
    max-width: 100%;
  }
  /* - - - - - - - - - - Receive Quiz - End */

  
  /* - - - - - - - - - - Pricing - Start */
  .landing-page-pricing-sub-section-features {
    /* border: 1px solid black; */
    width: 90%;
  }
  /* - - - - - - - - - - Pricing - End */
}