@media (max-width: 1200px) {
  /* - - - - - - - - - - Intro - Start */
  .landing-page-intro-2 {
    /* border: 1px solid red; */
    height: 850px;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0px;
    row-gap: 55px;
  }
  /* - - - - - - - - - - Intro Left Side - Start */
  .landing-page-intro-2-words-section {
    /* border: 1px solid black; */
    text-align: center;
  }
  .landing-page-intro-2-header {
    padding: 100px 0 0 0;
    font-size: 40px;
  }
  form.landing-page-email-form {
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  /* - - - - - - - - - - Intro Left Side - End */
  /* - - - - - - - - - - Intro Right Side - Start */
  .landing-page-intro-2-video-section {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
  }
  .triviafy_promo_video_2 {
    /* border: 1px solid black; */
    height: 162px;
    width: 288px;
    margin: 0 0 0 0;
  }
  /* - - - - - - - - - - Intro Right Side - End */
  /* - - - - - - - - - - Intro - End */


  /* - - - - - - - - - - Gift Card Other Companies - Start */
  .landing-page-gift-card-other-companies-section {
    /* border: 1px solid black; */
    height: 900px;
    width: 90%;
  }
  .landing-page-gift-card-other-companies-logos {
    /* border: 1px solid black; */
    flex-direction: column;
    align-items: center;
  }
  img.gift-card-other-company-img {
    /* border: 1px solid black; */
    height: auto;
    width: 150px;
    padding: 20px 0;
  }
  /* - - - - - - - - - - Gift Card Other Companies - End */


  /* - - - - - - - - - - Choose Platform - Start */
  .landing-page-choose-platform-2 {
    /* border: 1px solid black; */
    height: 550px;
    width: 90%;
  }
  .landing-page-choose-platforms-2-all-platforms-section {
    /* border: 1px solid black; */
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .landing-page-choose-platforms-2-all-platforms-section p {
    margin: 10px 0;
  }
  /* - - - - - - - - - - Choose Platform - End */


  /* - - - - - - - - - - How It Works - Step 1 to 4 - Start */
  .landing-page-2-hiw-1-section, .landing-page-2-hiw-2-section, .landing-page-2-hiw-3-section, .landing-page-2-hiw-4-section {
    /* border: 1px solid black; */
    height: 800px;
    width: 90%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
  }
  .landing-page-2-hiw-1-left-section, .landing-page-2-hiw-2-right-section, .landing-page-2-hiw-3-left-section, .landing-page-2-hiw-4-right-section {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .landing-page-2-hiw-1-right-section, .landing-page-2-hiw-2-left-section, .landing-page-2-hiw-3-right-section, .landing-page-2-hiw-4-left-section {
    /* border: 2px solid red; */
    grid-area: 2 / 1 / 3 / 2;
  }
  img.landing-page-2-hiw-image {
    width: 100%;
  }
  /* - - - - - - - - - - How It Works - Step 1 to 4 - End */


  /* - - - - - - - - - - Department Specific - Start */
  .landing-page-department-specific {
    /* border: 1px solid black; */
    height: 425px;
    width: 90%;
  }
  /* - - - - - - - - - - Department Specific - End */


  /* - - - - - - - - - - Request Demo - Start */
  .landing-page-2-demo-section {
    /* border: 1px solid black; */
    height: 900px;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 500px 1fr;
    text-align: center;
  }
  .landing-page-2-demo-left-sub-section {
    /* border: 1px solid black; */
    grid-area: 1 / 1 / 2 / 2;
  }
  .landing-page-2-demo-words-section {
    /* border: 3px solid red; */
    margin: 0 0 0 0;
  }
  .landing-page-2-demo-right-sub-section {
    /* border: 1px solid black; */
    grid-area: 2 / 1 / 3 / 2;
  }
  /* - - - - - - - - - - Request Demo - End */


  /* - - - - - - - - - - Transfer from index OLD - Start */
  /* - - - - - - - - - - Transfer from index OLD - End */
}