/* - - - - - - - - - - Template Page Intro Start */
.template-page-intro-background {
  height: 150px;
  background-color: var(--company-primary-color);
  width: 100%;
}
.template-page-intro {
  text-align: center;
}
.template-page-intro-title {
  color: white;
}
/* - - - - - - - - - - Template Page Intro - Specific Pages Start */
.no-latest-quiz-page-intro-title, .create-question-page-intro-title, .view-submitted-page-intro-title, .quiz-feedback-page-intro-title, .quiz-feedback-success-page-intro-title, .quiz-settings-page-intro-title, .quiz-settings-edit-page-intro-title {
  font-size: 60px;
  padding: 30px 0 0 0;
}
/* - - - - - - - - - - Template Page Intro - Specific Pages End */
/* - - - - - - - - - - Template Page Intro End */