{% extends "base_blueprint_page_templates/index.html" %}

<!-- head tag block content -->
{% block title %}
<title>Account / Triviafy</title>
{% endblock %}



{% block content %}
<nav-component link_home="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}">
</nav-component>

<main class="account-main">
  <form action="{{ url_for('logout.logout_function') }}" method="post">
    <button>Logout</button>
  </form>
  <form action="{{ url_for('send_channel_test_message.send_channel_test_message_function') }}" method="post">
    <button>Send test message</button>
  </form>
</main>

<footer>
</footer>
{% endblock %}