{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Demo | Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo - START -->
<div class="demo-section">
  <div class="demo-section-grid">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo Left - START -->
    <div class="demo-section-grid-left">
      <p class="landing-page-2-header demo-page-position-header">Book a demo</p>
      <p class="landing-page-2-subheader demo-page-position-subheader">Schedule a call with Triviafy's product expert to discuss:</p>
      <ul class="demo-page-position-subheader-ul">
        <li class="landing-page-2-subheader demo-page-position-subheader-li">Your business' goals for improving employee engagement and team building activities.</li>
        <li class="landing-page-2-subheader demo-page-position-subheader-li">How Triviafy works and what separates us from our competitors.</li>
        <li class="landing-page-2-subheader demo-page-position-subheader-li">How weekly Triviafy quizzes can be customized for your team’s needs.</li>
      </ul>
      <div class="demo-logo">
        <img src="/static/images/logo/Logo_active/Logo_feedback_bubble.png" alt="Triviafy logo" class="demo-logo-img">
      </div>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo Left - END -->

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo Right - START -->
    <div class="demo-section-grid-right">
      <div class="demo-section-grid-right-inner-section default-box-shadow-grey-reg">

        <form action="{{ url_for('collect_email_processing.collect_email_processing_function') }}" method="post" class="demo-form" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">
          
          <div class="form-input-section">
            <label for="user_input_email" class="demo-page-form-label">Work email</label>
            <input type="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" id="user_input_email" name="user_input_email" placeholder="jane.doe@triviafy.com" class="default-not-signed-in-text-input demo-text-input-position" required>
          </div>

          <div class="form-input-section">
            <label for="demo_user_input_first_name" class="demo-page-form-label">First name</label>
            <input type="text" pattern="[a-zA-Z']{2,20}$" id="demo_user_input_first_name" name="demo_user_input_first_name" placeholder="Jane" class="default-not-signed-in-text-input demo-text-input-position" required>
          </div>

          <div class="form-input-section">
            <label for="demo_user_input_last_name" class="demo-page-form-label">Last name</label>
            <input type="text" pattern="[a-zA-Z']{2,20}$" id="demo_user_input_last_name" name="demo_user_input_last_name" placeholder="Doe" class="default-not-signed-in-text-input demo-text-input-position" required>
          </div>

          <div class="form-input-section">
            <label for="demo_user_input_job_title" class="demo-page-form-label">Job title</label>
            <input type="text" pattern="[a-zA-Z\s]{2,30}$" id="demo_user_input_job_title" name="demo_user_input_job_title" placeholder="Job title" class="default-not-signed-in-text-input demo-text-input-position" required>
          </div>
          
          <input type="submit" value="Submit" class="default-button-format default-button-format-primary-color landing-page-button-position">
        </form>

      </div>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo Right - END -->
  </div>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Demo - END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->
{% endblock %}