{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>404 / Triviafy</title>
{% endblock %}



{% block content %}

<main class="logged-in error-main">


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button Start -->
  <div style="text-align:center;">
    <img src="/static/images/logo/Logo.png" alt="Triviafy Logo" style="height:20rem;width:20rem;margin-top:50px;">
    <p style="color:var(--company-primary-color);font-size:40px;padding-bottom: 50px;">404 - Page Not Found!</p>

    <a href="{{ url_for('index_page_render_template.index_page_render_template_function') }}"><button class="default-button-format default-button-format-primary-color" type="submit" value="submit">Home</button></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Img, message, button End -->


</main>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}