/* - - - - - - - - - - Quiz Intro - Start */
.modal-see-rules {
  color: var(--company-secondary-color);
  text-decoration: underline;
}
/* - - - - - - - - - - Modal - Start */
.quiz-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  margin: 20% auto;
  width: 70%;
  animation-name: modal-open-animation;
  animation-duration: 1s;
}
.modal-header {
  background-color: var(--company-primary-color);
  padding: 15px;
  color: white;
}
.close-modal-x-button {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 30px;
}
.close-modal-x-button:hover, .close-modal-x-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  padding: 10px 20px;
}
.modal-body ul {
  text-align: center;
}
.modal-body ul li {
  text-align: left;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.modal-body ul li .modal-bolder-rules {
  color: var(--company-secondary-color-darker);
}
.modal-footer {
  background-color: var(--company-primary-color);
  padding: 10px;
  color: white;
  text-align: center;
}
@keyframes modal-open-animation {
  from{ opacity: 0; }
  to{ opacity: 1; }
}
/* - - - - - - - - - - Modal - End */
/* - - - - - - - - - - Quiz Intro - End */


/* - - - - - - - - - - Answers Submitted Message - Start */
.user-answers-submitted-message-section {
  text-align: center;
  margin: 50px auto;
  width: 50%;
  padding: 25px;
  background-color: rgb(255, 255, 186);
  display: none;
  border-radius: 50px;
}
.user-answers-submitted-message-section p {
  /* color: var(--company-primary-color); */
  font-size: 20px;
}
/* - - - - - - - - - - Answers Submitted Message - End */


/* - - - - - - - - - - Current Quiz Form Start */
/* Separate file in the present_quiz_question_styles
/* Separate file in the AA_SUPPORTING_PAGE_STYLES
/* - - - - - - - - - - Current Quiz Form End */


/* - - - - - - - - - - Quiz Zero Desc Start */
.dashboard-page-sample-and-pdf-section {
  text-align: center;
}
.dashboard-page-sample-and-pdf-section a {
  display: block;
}
/* - - - - - - - - - - Quiz Zero Desc End */