/* ============================================== */
/* ================= MOBILE ===================== */
/* ============================================== */
@media (max-width: 1200px) {
  /* - - - - - - - - - - Latest quiz intro - Start */
  /* - - - - - - - - - - Latest quiz intro - End */

  /* - - - - - - - - - - Modal - Start */
  .modal-content {
    width: 90%;
  }
  .modal-body ul li {
    margin-left: 5%;
    font-size: 15px;
  }
  /* - - - - - - - - - - Modal - End */

  /* - - - - - - - - - - Answers Submitted Message - Start */
  .user-answers-submitted-message-section {
    width: 95%;
  }
  /* - - - - - - - - - - Answers Submitted Message - End */
}