/* - - - - - - - - - - Content - Blog Page - Start */
.blog-single-article-section-a, .blog-single-article-section-a:visited {
  text-decoration: none;
}
.blog-single-article-sub-section-author-date {
  /* border: 1px solid black; */
  color: var(--company-greyed-out-color);
  font-size: 15px;
  margin: 5px 0;
}
p.blog-single-article-sub-section-read-more-p {
  /* border: 1px solid black; */
  text-align: end;
}
a.blog-single-article-sub-section-read-more-a, a.blog-single-article-sub-section-read-more-a:visited {
  /* border: 1px solid black; */
  color: var(--company-greyed-out-color);
}
a.blog-single-article-sub-section-read-more-a:hover {
  color: var(--company-primary-color);
  transition: 0.1s;
}
/* - - - - - - - - - - Content - Blog Page - End */