/* - - - - - - - - - - Quiz Archive Datatables Start */
.default-signed-in-datatable-section-quiz-archive {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}
/* - - - - - - - - - - Quiz Archive Datatables End */