/* ==================================== Mobile Version START ==================================== */
@media (max-width: 1200px) {
  
  /* - - - - - - - - - - Leaderboard Datatables Start */
  .default-signed-in-datatable-section-quiz-archive {
    width: 95%;
    margin: 50px auto;
    text-align: center;
    font-size: 5px;
  }
  /* - - - - - - - - - - Leaderboard Datatables End */

}
/* ==================================== Mobile Version END ==================================== */