{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>FAQ / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                              pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                              pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                              pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                              pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                              pdf_example_quiz_mixed_categories_js="{{ url_for('example_quiz_mixed_categories_render_template.example_quiz_mixed_categories_render_template_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">Frequently Asked Questions</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="faq-page-content-section">
    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
      <p class="default-not-signed-in-word-bubble-header-font">Does Triviafy offer a free trial?</p>
      <p class="default-not-signed-in-page-p-font">Yes. All new teams automatically receive a 30-day free trial (4 weekly Triviafy quizzes). No credit card is necessary.</p>
    </div>
    
    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
        <p class="default-not-signed-in-word-bubble-header-font">How long will it take for my team to set up Triviafy?</p>
        <p class="default-not-signed-in-page-p-font">Each team member can setup their Triviafy account in less than 50 seconds. <a href="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}" class="default-not-signed-in-page-p-font default-not-signed-in-page-p-font-hyperlink-a">View Slack Setup PDF</a></p>
    </div>

    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
      <p class="default-not-signed-in-word-bubble-header-font">How many people am I limited to per Triviafy team?</p>
      <p class="default-not-signed-in-page-p-font">Unlimited.</p>
    </div>

    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
      <p class="default-not-signed-in-word-bubble-header-font">What is the minimum number of team members needed to participate in the weekly Triviafy quiz?</p>
      <p class="default-not-signed-in-page-p-font">There is no minimum requirement, you can sign up and complete the weekly Triviafy quiz all alone if you wish.</p>
    </div>

    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
      <p class="default-not-signed-in-word-bubble-header-font">What if people cheat on the weekly Triviafy quiz?</p>
      <p class="default-not-signed-in-page-p-font">Team members are putting their own workplace reputation at risk when they cheat. Do you really want to be thought of as the dishonest person at work?</p>
    </div>

    <div class="default-not-signed-in-word-bubble-section default-box-shadow-grey-reg">
      <p class="default-not-signed-in-word-bubble-header-font">Can we customize our company's weekly Triviafy quiz?</p>
      <p class="default-not-signed-in-page-p-font">Triviafy is fully customizable. Personalize your team’s quizzes with custom questions, categories, difficulty, number of questions, and timeframe. </p>
    </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - All Questions END -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
<div class="default-not-signed-in-bottom-contact-section">
  <p class="default-not-signed-in-page-contact-font">Contact: Robert@Triviafy.com</p>
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
<div class="default-not-signed-in-bottom-img-section">
  <img src="/static/images/logo/Logo_active/Logo_cheering_green.png" alt="Logo active." class="default-not-signed-in-bottom-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->




<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('setup_slack_index_page_render_template.setup_slack_index_page_render_template_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}