/* - - - - - - - - - - Intro - Start */
.privacy-policy-section {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0 auto;
}
.privacy-policy-sub-section-title-and-subtitle-section {
  text-align: center;
}
p.privacy-policy-sub-section-title {
  color: var(--company-primary-color);
  font-size: 60px;
  padding: 50px 0 10px 0;
}
p.privacy-policy-sub-section-sub-title {
  color: var(--company-primary-color);
  font-size: 25px;
}
.privacy-policy-sub-section-description {
  /* border: 1px solid black; */
  padding: 25px 0;
}
.privacy-policy-sub-section-sub-description {
  /* border: 1px solid black; */
  padding: 10px 0;
}
.privacy-policy-sub-section-sub-description p {
  margin: 20px 0;
  line-height: 1.5rem;
  font-size: 15px;
}
.privacy-policy-span {
  color: var(--company-primary-color);
  font-size: 19px;
}
/* - - - - - - - - - - Pricing - End */


/* - - - - - - - - - - Divider - Start */
.privacy-policy-section-divider-line {
  width: 75%;
  margin: 0 auto;
  border: 1px solid var(--company-greyed-out-color);
}
/* - - - - - - - - - - Divider - End */


p.privacy-policy-sub-section-sub-description-title {
  color: var(--company-primary-color);
  font-size: 25px;
}