{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Privacy / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_engineer_js="{{ url_for('download_engineering_example_quiz_pdf_redirect.download_engineering_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_hr_js="{{ url_for('download_hr_example_quiz_pdf_redirect.download_hr_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_marketing_js="{{ url_for('download_marketing_example_quiz_pdf_redirect.download_marketing_example_quiz_pdf_redirect_function') }}",
                              pdf_example_quiz_finance_js="{{ url_for('download_finance_example_quiz_pdf_redirect.download_finance_example_quiz_pdf_redirect_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page START -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - START -->
<div class="default-not-signed-in-page-width">
  <div class="default-not-signed-in-page-title-subtitle-section">
    <p class="default-not-signed-in-page-title">Privacy</p>
    <p class="default-not-signed-in-page-subtitle"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Page Intro - END -->

  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - Start -->
  <div class="privacy-page-content-section">
    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Thank you for using Triviafy. This Privacy Policy helps to explain the information that we collect about users when they sign up for our Services.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>By accessing or using our Services, you imply that you have read, understood, and agree to our collection, storage, use, and disclosure of your personal information. The Personal Information that we collect are used for providing and improving the Triviafy Service. Triviafy will not use or share your information with any third parties except as described in this Privacy Policy.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Any additional questions about our Privacy Policy, contact: robert@triviafy.com</p>

    <p class="default-not-signed-in-page-header-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Information Collection and Use</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>When visiting Triviafy's site, you may choose to provide us with your email address, main platform for team communication, and any other contact information in order to obtain information about our Services. We collect this information for internal marketing purposes and will not share this information with third parties. Our databases run on Amazon Web Services.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Triviafy store's your email address and other profile information to provide you with great user experience and also to communicate with you and your team. We do not store any sensitive information like Slack messages or files outside of the Triviafy application.</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>We store your data using a secure, encrypted database using commonly-accepted security practices. We retain your account information only until you make a permanent change to the data itself or if you request complete deletion of your account.</p>

    <p class="default-not-signed-in-page-header-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Cookies and Other Web Technologies</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>We use automated data collection tools such as Cookies, Inspectlet, Google Analytics to collect information on user experience.</p>

    <p class="default-not-signed-in-page-header-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Personal Data</p>

    <p class="default-not-signed-in-page-p-font default-not-signed-in-page-content-sub-section"><span class="default-not-signed-in-highlight-span"></span>Your personal data will not be sold or released to any third parties. Personal data such as email, first name, last name are used to further improve the Triviafy user experience. For more inquiries on how to access or delete your personal data please email robert@triviafy.com.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content - About Page - END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-contact-section">
    <p class="default-not-signed-in-page-contact-font">Contact: Robert@Triviafy.com</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Contact Bottom Page - End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - Start -->
  <div class="default-not-signed-in-bottom-img-section">
    <img src="/static/images/logo/Logo_active/Logo_cheering_white_correct_direction.png" alt="Logo active." class="default-not-signed-in-bottom-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Default - Img Bottom Page - End -->
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                pdf_example_quiz_engineering_js="{{ url_for('download_engineering_example_quiz_pdf_redirect.download_engineering_example_quiz_pdf_redirect_function') }}",
                                pdf_example_quiz_hr_js="{{ url_for('download_hr_example_quiz_pdf_redirect.download_hr_example_quiz_pdf_redirect_function') }}",
                                pdf_example_quiz_marketing_js="{{ url_for('download_marketing_example_quiz_pdf_redirect.download_marketing_example_quiz_pdf_redirect_function') }}",
                                pdf_example_quiz_finance_js="{{ url_for('download_finance_example_quiz_pdf_redirect.download_finance_example_quiz_pdf_redirect_function') }}",
                                pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}