{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Admin / Triviafy</title>
{% endblock %}



{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<nav-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account_js="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}",
              link_create_question_js="{{ url_for('create_question_index_page_render_template.create_question_index_page_render_template_function') }}",
              link_quiz_settings_index_js="{{ url_for('quiz_settings_index_page_render_template.quiz_settings_index_page_render_template_function') }}",
              link_quiz_feedback_index_js="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}",
              link_leaderboard_js="{{ url_for('leaderboard_page_render_template.leaderboard_page_render_template_function') }}",
              link_quiz_archive_js="{{ url_for('quiz_archive_page_render_template.quiz_archive_page_render_template_function') }}",
              link_subscription_js="{{ url_for('subscription_index_page_render_template.subscription_index_page_render_template_function') }}",
              link_claim_prize_js="{{ url_for('claim_prize_index_page_render_template.claim_prize_index_page_render_template_function') }}">
</nav-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->

<main class="logged-in">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro Start -->
  <company-name-channel-component company_name_js="{{ user_company_name_to_html }}",
                                  channel_name_js="{{ user_channel_name_to_html }}",
                                  free_trial_ends_info_js="{{ free_trial_ends_info_to_html }}">
  </company-name-channel-component>

  <div class="default-signed-in-page-into-background default-box-shadow-black-small">
    <div class="default-signed-in-page-intro">
      <p class="default-signed-in-page-intro-title default-signed-in-page-intro-title-quiz-feedback" id='default-signed-in-words-stroke-shadow'>Admin</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro End -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content Start -->
  <div class="default-not-signed-in-page-width">


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - List All Remainder Categories Start -->
    <div class="admin-analysis-section">
      <div class="admin-analysis-title-section">
        <p class="admin-analysis-title-p">Category Question Count Remaining For Team/Channel Combos Next Quiz</p>
      </div>
      
      {% for i_dict in master_all_companies_remainder_arr_of_dicts_to_html %}
      <div class="admin-analysis-remainder-section">
        <p class="default-not-signed-in-page-p-font">{{ i_dict['company_team_name'] }}, {{ i_dict['company_channel_name'] }}</p>
        <p class="default-not-signed-in-page-p-font">{{ i_dict['company_team_id'] }}, {{ i_dict['company_channel_id'] }}</p>
        
        {% for j_dict in i_dict['category_remainder_count'] %}
          <p class="default-not-signed-in-page-p-font">{{ j_dict['question_categories_list'] }}, {{ j_dict['count'] }}</p>
        {% endfor %}

        <p class="default-not-signed-in-page-p-font">Categories 0 Questions: {{ i_dict['categories_ran_out_of_questions'] }}</p>
        
      </div>
      {% endfor %}
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - List All Remainder Categories End -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - List All Winners Count Start -->
    <div class="admin-analysis-section">
      <div class="admin-analysis-title-section">
        <p class="admin-analysis-title-p">Quiz/Winner Count</p>
      </div>
      
      {% for i_dict in master_all_companies_winner_counts_arr_of_dicts_to_html %}
      <div class="admin-analysis-remainder-section">
        <p class="default-not-signed-in-page-p-font">{{ i_dict['company_team_name'] }}, {{ i_dict['company_channel_name'] }}</p>
        <p class="default-not-signed-in-page-p-font">{{ i_dict['company_team_id'] }}, {{ i_dict['company_channel_id'] }}</p>
        
        <p class="default-not-signed-in-page-p-font">User Count: {{ i_dict['company_user_count'] }}</p>
        <p class="default-not-signed-in-page-p-font">Company Current Quiz Count: {{ i_dict['company_current_quiz_count_int'] }}</p>
        
        {% for j_arr in i_dict['quiz_winners_count_arr'] %}
          <p class="default-not-signed-in-page-p-font">User Total Wins: {{ j_arr[0] }}, {{ j_arr[1] }}, {{ j_arr[2] }}, {{ j_arr[3] }}</p>
        {% endfor %}
        
      </div>
      {% endfor %}
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - List All Winners Count End -->


  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Content End -->
</main>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}