/* - - - - - - - - - - Whole Page Variables - Start */
.footer-title {
  color: white;
  font-size: 25px;
}
.footer-sub-title-item {
  color: white;
  font-size: 18px;
}
.footer-a, .footer-a:hover, .footer-a:visited {
  color: white;
  text-decoration: none;
}
.footer-copyright-2 {
  color: white;
  font-size: 16px;
}
/* - - - - - - - - - - Whole Page Variables - End */


/* - - - - - - - - - - Footer All - Start */
/* - - - - - - - - - - Footer Top - Start */
.footer-not-signed-in-2-background-color {
  height: 500px;
  width: 100%;
  background-image: linear-gradient(to right, var(--company-primary-color) , rgb(136, 142, 255));
  margin: 150px 0 0 0;
}
.footer-not-signed-in-2-section-top {
  /* border: 1px solid black; */
  height: 400px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-title-position {
  margin: 50px 0 20px 0;
}
.footer-sub-title-item-position {
  margin: 10px 0;
}
ul.footer-not-signed-in-2-ul li {
  text-decoration: none;
  list-style-type: none;
}
/* - - - - - - - - - - Footer Top - End */


/* - - - - - - - - - - Footer Bottom - Start */
.footer-not-signed-in-2-section-bottom {
  /* border: 1px solid black; */
  height: 100px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer-not-signed-in-2-sub-section-bottom {
  display: flex;
}
.footer-social-logo {
  color: white;
  font-size: 50px;
  margin: 0 10px;
}
/* - - - - - - - - - - Footer Bottom - End */
/* - - - - - - - - - - Footer All - End */