.footer-not-signed-in-background {
  background-color: rgb(18, 18, 18);
  height: 350px;
  width: 100%;
  margin: 0 auto;
}
.footer-not-signed-in-links {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 30px 0 0 0;
  width: 750px;
  margin: 0 auto;
  text-align: center;
}
.footer-not-signed-in-links-group-1 {
  /* border: 1px solid red; */
  grid-area: 1, 1, 2, 2;
}
.footer-not-signed-in-links-group-2 {
  /* border: 1px solid green; */
  grid-area: 1, 2, 2, 3;
}
.footer-not-signed-in-links-group-3 {
  /* border: 1px solid white; */
  grid-area: 1, 3, 2, 4;
}
.footer-not-signed-in-links-group-title {
  color: white;
  font-size: 25px;
}
.footer-not-signed-in-links ul li {
  margin: 10px 0;
  font-size: 20px;
}
.footer-not-signed-in-links ul li a, .footer-not-signed-in-links ul li a:visited {
  text-decoration: none;
  color: grey;
}
.footer-not-signed-in-links ul li a:hover {
  color: white;
  transition: 0.2s;
}
.footer-not-signed-in-copyright {
  text-align: center;
}
.footer-not-signed-in-copyright p {
  color: grey;
  /* margin: 10px 0; */
}

.company-name-and-logo-footer-not-signed-in img.company-logo-footer-not-signed-in {
  height: 100px;
  width: 100px;
  margin: 5px 0 0 0;
  /* float: left; */
}

.privacy-and-tos-footer a, .privacy-and-tos-footer a:visited {
  font-size: 10px;
  color: grey;
  text-decoration: none;
}
.privacy-and-tos-footer a:hover {
  transition: 0.2s;
  color: white;
}