@media (max-width: 1200px) {
  /* - - - - - - - - - - Whole Page Variables - Start */
  /* - - - - - - - - - - Whole Page Variables - End */


  /* - - - - - - - - - - Footer All - Start */
  /* - - - - - - - - - - Footer Top - Start */
  .footer-not-signed-in-2-background-color {
    height: 800px;
    margin: 100px 0 0 0;
  }
  .footer-not-signed-in-2-section-top {
    /* border: 1px solid black; */
    height: 600px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
  }
  .footer-title-position {
    margin: 20px 0 20px 0;
  }
  .footer-sub-title-item-position {
    margin: 10px 0;
  }
  /* - - - - - - - - - - Footer Top - End */


  /* - - - - - - - - - - Footer Bottom - Start */
  .footer-not-signed-in-2-section-bottom {
    /* border: 1px solid black; */
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .footer-not-signed-in-2-sub-section-bottom {
    display: block;
    text-align: center;
  }
  /* - - - - - - - - - - Footer Bottom - End */
  /* - - - - - - - - - - Footer All - End */
}