@media (max-width: 1200px) {
  .footer-not-signed-in-background {
    height: 750px;
  }
  .footer-not-signed-in-links {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
  }
  .footer-not-signed-in-links-group-1 {
    /* border: 1px solid red; */
    grid-area: 1, 1, 2, 2;
  }
  .footer-not-signed-in-links-group-2 {
    /* border: 1px solid green; */
    grid-area: 2, 1, 3, 2;
  }
  .footer-not-signed-in-links-group-3 {
    /* border: 1px solid white; */
    grid-area: 3, 1, 4, 2;
  }
}