/* - - - - - - - - - - Create Question Logo Caricature - Start */
.create-question-image-section img.logo-create-question-construction-outfit {
  float: right;
  height: 20rem;
  width: 20rem;
  margin-right: 0px;
  margin-top: 20px;
}
/* - - - - - - - - - - Create Question Logo Caricature - End */

/* - - - - - - - - - - Create Question Form - Start */
form.create-question-form {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0px auto 0px auto;
}
.create-question-section {
  /* border: black 1px solid; */
  padding: 20px;
  margin: 40px 0px;
  text-align: center;
}
p.create-question-section-description {
  /* border: black 1px solid; */
  font-size: 25px;
  color: var(--company-primary-color);
  padding: 0 0 15px 0;
}
p.create-question-section-sub-description {
  font-size: 15px;
  color: var(--company-greyed-out-color);
}
p.character-count-tracker {
  font-size: 12px;
  padding-top: 10px;
}
/* - - - - - - - - - - Create Question - Category Select Start */
/* - - - - - - - - - - Create Question - Category Select End */

/* - - - - - - - - - - Create Question - Title Start */
/* - - - - - - - - - - Create Question - Title End */

/* - - - - - - - - - - Create Question - Actual Question Start */
/* - - - - - - - - - - Create Question - Actual Question End */

/* - - - - - - - - - - Create Question - Answers Start */
/* - - - - - - - - - - Create Question - Answers End */

/* - - - - - - - - - - Create Question - Difficulty Start */
.create-question-select-difficulty input[type="radio"] + label.radio-as-button {
  border: 1px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 5px;
  width: 100px;
  display: inline-block;
  border-radius: 10px;
}
.create-question-select-difficulty input[type="radio"]:checked + label.radio-as-button {
  border: none;
  background-color: var(--company-primary-color);
  color: white;
}
/* - - - - - - - - - - Create Question - Difficulty End */

/* - - - - - - - - - - Create Question - Hint Start */
/* - - - - - - - - - - Create Question - Hint End */

/* - - - - - - - - - - Create Question - Image Upload Start */
.create-question-image-upload input[type="file"] {
  margin-top: 20px;
}
/* - - - - - - - - - - Create Question - Image Upload End */
/* - - - - - - - - - - Create Question Form - End */

/* - - - - - - - - - - Create Question Logo Caricature 2 - Start */
.create-question-image-section img.logo-create-question-construction-outfit-two {
  display: block;
  height: 20rem;
  width: 20rem;
  margin: 75px auto;
}
/* - - - - - - - - - - Create Question Logo Caricature 2 - End */

/* - - - - - - - - - - Create Question - submitted link- Start */
/* - - - - - - - - - - Create Question - submitted link- End */