/* - - - - - - - - - - Create Question Intro - Start */
main.logged-in.create-question-main .create-question-background {
  width: 100%;
  height: 100px;
  background-color: var(--company-primary-color);
  text-align: center;
}
main.logged-in.create-question-main .create-question-background .create-question-intro .create-question-title {
  color: white;
  font-size: 60px;
  padding-top: 11px;
}
/* - - - - - - - - - - Create Question Intro - End */

/* main.logged-in.create-question-main img.logo-create-question-construction-outfit {
  float: right;
  height: 20rem;
  width: 20rem;
  margin-right: 15%;
  margin-top: 20px;
} */

/* - - - - - - - - - - Create Question Form - Start */
main.logged-in.create-question-main form.create-question-form {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0px auto 0px auto;
}
main.logged-in.create-question-main form.create-question-form .create-question-section {
  /* border: black 1px solid; */
  padding: 20px;
  margin: 40px 0px;
  text-align: center;
}
main.logged-in.create-question-main form.create-question-form .create-question-section p.create-question-section-description {
  /* border: black 1px solid; */
  font-size: 25px;
  color: var(--company-primary-color);
  padding: 0 0 15px 0;
}
main.logged-in.create-question-main form.create-question-form .create-question-section p.create-question-section-sub-description {
  font-size: 15px;
  color: var(--company-greyed-out-color);
} 
main.logged-in.create-question-main form.create-question-form .create-question-section input.create-question-answer-text-box {
  width: 70%;
  padding: 12px 20px;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--company-greyed-out-color);
}
main.logged-in.create-question-main form.create-question-form .create-question-section input.create-question-answer-text-box:focus {
  border: 2px solid var(--company-primary-color);
}
/* - - - - - - - - - - Create Question - Category Select Start */
/* - - - - - - - - - - Create Question - Category Select End */

/* - - - - - - - - - - Create Question - Title Start */
/* - - - - - - - - - - Create Question - Title End */

/* - - - - - - - - - - Create Question - Actual Question Start */
/* - - - - - - - - - - Create Question - Actual Question End */

/* - - - - - - - - - - Create Question - Answers Start */
/* - - - - - - - - - - Create Question - Answers End */
/* - - - - - - - - - - Create Question Form - End */