@media (max-width: 1200px) {
  /* - - - - - - - - - - Create Question Intro - Start */
  /* - - - - - - - - - - Create Question Intro - End */

  /* - - - - - - - - - - Create Question Logo Caricature - Start */
.create-question-image-section img.logo-create-question-construction-outfit {
    float: none;
    height: 15rem;
    width: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* - - - - - - - - - - Create Question Logo Caricature - End */

  /* - - - - - - - - - - Create Question Form - Start */
form.create-question-form {
    /* border: 1px solid black; */
    width: 95%;
  }
  /* - - - - - - - - - - Create Question - Category Select Start */
  /* - - - - - - - - - - Create Question - Category Select End */

  /* - - - - - - - - - - Create Question - Title Start */
  /* - - - - - - - - - - Create Question - Title End */

  /* - - - - - - - - - - Create Question - Actual Question Start */
  /* - - - - - - - - - - Create Question - Actual Question End */

  /* - - - - - - - - - - Create Question - Answers Start */
  /* - - - - - - - - - - Create Question - Answers End */

  /* - - - - - - - - - - Create Question - Difficulty Start */
  /* - - - - - - - - - - Create Question - Difficulty End */

  /* - - - - - - - - - - Create Question - Hint Start */
  /* - - - - - - - - - - Create Question - Hint End */

  /* - - - - - - - - - - Create Question - Submit Question Start */
  /* - - - - - - - - - - Create Question - Submit Question End */

  /* - - - - - - - - - - Create Question Form - Emd */


  /* - - - - - - - - - - Create Question Logo Caricature 2 - Start */
.create-question-image-section img.logo-create-question-construction-outfit-two {
    display: block;
    height: 15rem;
    width: 15rem;
    margin: 50px auto;
  }
  /* - - - - - - - - - - Create Question Logo Caricature 2 - End */

  /* - - - - - - - - - - Create Question - submitted link- Start */
  /* - - - - - - - - - - Create Question - submitted link- End */
}