/* - - - - - - - - - - Admin Styles - Start */
.admin-analysis-section {
  border: 1px solid black;
}
.admin-analysis-title-section {
  text-align: center;
  margin: 50px 0 25px 0;
}
.admin-analysis-title-p {
  font-size: 25px;
}
.admin-analysis-remainder-section {
  /* border: 1px solid black; */
  padding: 25px 0;
  text-align: center;
}
/* - - - - - - - - - - Admin Styles - Emd */