/* - - - - - - - - - - Waitlist form Start */
form.waitlist-form {
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 75px auto 0 auto;
  /* border: 5px solid var(--company-primary-color); */
  border-radius: 10px;
  padding: 40px;
}


/* - - - - - - - - - - Waitlist title, description, and email Start */
.waitlist-title {
  color: var(--company-primary-color);
  margin-bottom: 20px;
  font-size: 40px;
}
.waitlist-description p, .user_email_section p {
  color: var(--company-greyed-out-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* - - - - - - - - - - Waitlist title, description, and email End */


/* - - - - - - - - - - Waitlist Submit Form Start */
.waitlist_submit_button_section {
  margin-top: 40px;
  margin-bottom: 20px;
}
/* - - - - - - - - - - Waitlist Submit Form End */


/* - - - - - - - - - - Go back Start */
/* - - - - - - - - - - Go back End */
/* - - - - - - - - - - Waitlist form End */


/* - - - - - - - - - - Logo caricatures Start */
.logo-caricatures-group {
  /* border: 1px solid black; */
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.waitlist-create-question-logo-caricature {
  display: inline-block;
}
img.waitlist-create-question-logo-caricature-jackhammer, img.waitlist-create-question-logo-caricature-blueprint {
  height: 250px;
  width: 250px;
  margin: 50px 0;
}
/* - - - - - - - - - - Logo caricatures End */

