@media (max-width: 1200px) {
  /* - - - - - - - - - - Waitlist form Start */
  form.waitlist-form {
    width: 95%;
    padding: 10px;
  }


  /* - - - - - - - - - - Waitlist title, description, and email Start */
  .waitlist-title {
    font-size: 30px;
  }
  /* - - - - - - - - - - Waitlist title, description, and email End */


  /* - - - - - - - - - - Waitlist Submit Form Start */
  /* - - - - - - - - - - Waitlist Submit Form End */


  /* - - - - - - - - - - Go back Start */
  /* - - - - - - - - - - Go back End */
  /* - - - - - - - - - - Waitlist form End */


  /* - - - - - - - - - - Logo Caricature 2 Start */
  /* - - - - - - - - - - Logo Caricature 2 End */

  /* - - - - - - - - - - Logo caricatures Start */
  .logo-caricatures-group {
    width: 90%;
  }
  img.waitlist-create-question-logo-caricature-jackhammer, img.waitlist-create-question-logo-caricature-blueprint {
    margin: 20px 0;
  }
  /* - - - - - - - - - - Logo caricatures End */

}