<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="slack-app-id" content="A021726L200">

    <!-- ------------------------------------------------ Connect to Google Fonts Start -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- ------------------------------------------------ Connect to Google Fonts End -->

    <!-- ------------------------------------------------ Favicon Start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/images/logo/favicon_io/site.webmanifest">
    <!-- ------------------------------------------------ Favicon End -->

    <!-- ------------------------------------------------ Global site tag (gtag.js) - Google Analytics Start -->
    <!-- ------------------------------------------------ Global site tag (gtag.js) - Google Analytics End -->
    
    <!-- ------------------------------------------------ Begin Inspectlet Asynchronous Code -->
    <!-- ------------------------------------------------ End Inspectlet Asynchronous Code -->

    <!-- ------------------------------------------------ Font awesome icons Start -->
    <script src="https://kit.fontawesome.com/f23f12952c.js" crossorigin="anonymous"></script>
    <!-- ------------------------------------------------ Font awesome icons End -->

    <!-- ------------------------------------------------ Connect to the style pages Start -->
    <!-- blueprint all root styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base_blueprint_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Index Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_not_signed_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Dashboard Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/dashboard_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Account Page - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/account_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Create Question - Main styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create_question_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/create_question_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Navbars styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_signed_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar_page_styles/navbar_signed_in_page_styles/mobile_index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Company name and channel name styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/company_name_channel_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- Footer styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer_page_styles/footer_logged_in_page_styles/index_style.css') }}?v={{ css_cache_busting }}">
    <!-- ------------------------------------------------ Connect to the style pages End -->

    <!-- ------------------------------------------------ Load javascript function(s) Start -->
    <!-- navbar not signed in javascript -->
    <script src="/static/javascript/components/navbar_not_signed_in_js/nav.js" type="text/javascript" defer></script>
    <!-- navbar signed in javascript -->
    <script src="/static/javascript/components/navbar_signed_in_js/nav.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/navbar_signed_in_js/navbar_hamburger_toggle.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/navbar_signed_in_js/navbar_drill_down.js" type="text/javascript" defer></script>
    <!-- footer signed in javascript -->
    <script src="/static/javascript/components/footer_signed_in_js/footer.js" type="text/javascript" defer></script>
    <!-- dashboard modal javascript -->
    <script src="/static/javascript/javascript_utils/dashboard_page_js/modal_verify.js" type="text/javascript" defer></script>
    <!-- Company name and channel name component javascript -->
    <script src="/static/javascript/components/company_name_channel_js/company_name_channel.js" type="text/javascript" defer></script>
    <!-- Count characters in input text field javascript -->
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsActualQuestion.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsCategory.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsTitle.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsAnswers.js" type="text/javascript" defer></script>
    <script src="/static/javascript/javascript_utils/character_count_input_text_js/createQuestionCountCharsHint.js" type="text/javascript" defer></script>
    <!-- Click submit button only once javascript -->
    <script src="/static/javascript/javascript_utils/submit_button_js/click_submit_button_once.js" type="text/javascript" defer></script>
    <!-- Create Question - Check image file size -->
    <script src="/static/javascript/javascript_utils/create_question_page_js/filesize.js" type="text/javascript" defer></script>
    <!-- ------------------------------------------------ Load javascript function(s) End -->

    <!-- ------------------------------------------------ Additional head elements per page Start -->
    {% block title %}
    {% endblock %}
    <!-- ------------------------------------------------ Additional head elements per page End -->
  </head>

  <body>
  <!-- ------------------------------------------------ body elements per page Start -->
    {% block content %}
    {% endblock %}
  <!-- ------------------------------------------------ body elements per page End -->
  </body>
  
</html>