{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Blog / Triviafy</title>
{% endblock %}

{% block content %}

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro START -->
<div class="blog-section">
  <div class="blog-sub-section-title-and-subtitle-section">
    <p class="blog-sub-section-title"><strong>Blog</strong></p>
    <p class="blog-sub-section-sub-title"><em>Triviafy</em> your workspace.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Intro END -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - All Articles START -->
  <div class="blog-all-articles-section">


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article START -->
    <div class="blog-single-article-section box-shadow-reg-grey">
      <a href="{{ url_for('blog_single_post_0003_index_page_render_template.blog_single_post_0003_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-title">Top 5 Free Slack Apps For Team Building and Employee Engagement</p></a>
      <a href="{{ url_for('blog_single_post_0003_index_page_render_template.blog_single_post_0003_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-author-date">Robert Borowski - 10/06/2021</p></a>
      <a href="{{ url_for('blog_single_post_0003_index_page_render_template.blog_single_post_0003_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-description">Overview List of best free trial Slack apps that automate and outsource team building activities and employee engagement initiatives. Team building activities without the logistical headaches. Give your employees something to talk about besides the weather. 1. Triviafy - Triviafy...</p></a>
      <a href="{{ url_for('blog_single_post_0003_index_page_render_template.blog_single_post_0003_index_page_render_template_function') }}" class="blog-single-article-sub-section-read-more-a"><p class="blog-single-article-sub-section-read-more-p">Read More</p></a>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article END -->
    
    
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article START -->
    <div class="blog-single-article-section box-shadow-reg-grey">
      <a href="{{ url_for('blog_single_post_0002_index_page_render_template.blog_single_post_0002_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-title">Top 3 Hybrid Team Building Activities</p></a>
      <a href="{{ url_for('blog_single_post_0002_index_page_render_template.blog_single_post_0002_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-author-date">Robert Borowski - 10/05/2021</p></a>
      <a href="{{ url_for('blog_single_post_0002_index_page_render_template.blog_single_post_0002_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-description">Question: What is hybrid work? A hybrid work schedule is a combination of working remotely and working in office. Problem: How does hybrid work impact my team? Many companies are adopting the hybrid work model and pushing employees to work in office for longer than 60% of the tim...</p></a>
      <a href="{{ url_for('blog_single_post_0002_index_page_render_template.blog_single_post_0002_index_page_render_template_function') }}" class="blog-single-article-sub-section-read-more-a"><p class="blog-single-article-sub-section-read-more-p">Read More</p></a>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article END -->


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article START -->
    <div class="blog-single-article-section box-shadow-reg-grey">
      <a href="{{ url_for('blog_single_post_0001_index_page_render_template.blog_single_post_0001_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-title">Top 3 Workplace Trivia Platforms That Improve Employee Engagement</p></a>
      <a href="{{ url_for('blog_single_post_0001_index_page_render_template.blog_single_post_0001_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-author-date">Robert Borowski - 08/30/2021</p></a>
      <a href="{{ url_for('blog_single_post_0001_index_page_render_template.blog_single_post_0001_index_page_render_template_function') }}" class="blog-single-article-section-a"><p class="blog-single-article-sub-section-description">Does This Sound Like Your Team’s Weekly Routine? M: “How was your weekend?” T/W: “Can you believe this weather? How was your commute?” Th/F: “Any plans for the weekend?” Results/Cons: Company culture suffers = Work quality suffers. Team members feel unengaged, robotic, and lackin...</p></a>
      <a href="{{ url_for('blog_single_post_0001_index_page_render_template.blog_single_post_0001_index_page_render_template_function') }}" class="blog-single-article-sub-section-read-more-a"><p class="blog-single-article-sub-section-read-more-p">Read More</p></a>
    </div>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Single Article END -->
    
  </div>  
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - All Articles END -->
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos START -->
<div class="blog-triviafy-character">
  <!-- <img src="/static/images/logo/Logo_active/Logo construction jackhammer.png" alt="Logo questioning" class="blog-triviafy-character-sub-section-img"> -->
  <img src="/static/images/logo/Logo_active/Logo construction.png" alt="Logo questioning" class="blog-triviafy-character-sub-section-img">
</div>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Celebrate Logos END -->


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('download_example_quiz_pdf_redirect.download_example_quiz_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->

{% endblock %}