/* - - - - - - - - - - Quiz Settings - Start */
form.edit-quiz-settings-form {
  width: 100%;
  margin: 0 auto;
}
label.edit-quiz-label {
  display: block;
}
select.edit-quiz-select {
  padding: 10px 10px;
  width: 30%;
  border-radius: 10px;
  border-color: var(--company-greyed-out-color);
  margin: 10px 0 40px 0;
}
option.edit-quiz-option {
  text-align: center;
}
/* - - - - - - - - - - Quiz Settings - End */