.test-body {
  height: 2000px;
  width: 100%;
  /* background-color: rgb(175, 175, 175); */
}

/* - - - - - - - - - - Top Shadow - Start */
.navbar-2-outline-shadow {
  /* border: 1px solid black; */
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 99;
}
/* - - - - - - - - - - Top Shadow - Start */


/* - - - - - - - - - - Navbar - Entire - Start */
.navbar-2-not-signed-in {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/* - - - - - - - - - - Navbar - Entire - End */


/* - - - - - - - - - - Navbar - Logo and Name - Start */
.navbar-2-logo-and-name-section {
  /* border: 1px solid black; */
  display: flex;
}
.navbar-2-not-signed-in-logo {
  /* border: 1px solid black; */
  margin: 5px 0 0 0;
  height: 70px;
  width: 70px;
}
.brand-title-2-not-signed-in {
  /* border: 1px solid black; */
  font-size: 50px;
  display: flex;
  align-items: center;
  font-weight: 900;
}
.brand-title-2-not-signed-in a, .brand-title-2-not-signed-in a:hover, .brand-title-2-not-signed-in a:visited {
  color: var(--company-primary-color);
  text-decoration: none;
}
/* - - - - - - - - - - Navbar - Logo and Name - End */


/* - - - - - - - - - - Navbar - Links - Level 1 - Start */
.navbar-links-2-not-signed-in ul {
  /* border: 1px solid black; */
  display: flex;
}
.navbar-links-2-not-signed-in ul li {
  /* border: 1px solid black; */
  list-style: none;
  font-size: 18px;
}
.navbar-links-2-not-signed-in ul li a, .navbar-links-2-not-signed-in ul li a:visited {
  /* border: 1px solid black; */
  text-decoration: none;
  padding: 25px;
  display: block;
  color: black;
}
.navbar-links-2-not-signed-in ul li a:hover {
  color: var(--company-primary-color);
  transition: 0.4s;
}
/* - - - - - - - - - - Navbar - Links - Level 1 - End */


/* - - - - - - - - - - Navbar - Links - Level 2 - Start */
.navbar-links-2-not-signed-in ul li ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0px;
  margin: 0;
  border-radius: 0px 0px 5px 5px;
  width: 300px;
}
.navbar-links-2-not-signed-in ul li:hover ul {
  /* border: 1px solid black; */
  display: block;
}
.navbar-links-2-not-signed-in ul li ul li a {
  padding: 20px 10px;
  margin: 0;
}
.navbar-links-2-not-signed-in ul li ul li {
  width: 100%;
}
/* - - - - - - - - - - Navbar - Links - Level 2 - End */


/* - - - - - - - - - - Navbar - Hamburger Toggle - Start */
.toggle-button-2 {
  /* border: 1px solid black; */
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.toggle-button-2 .toggle-bar-2 {
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(59, 59, 59);
}
/* - - - - - - - - - - Navbar - Hamburger Toggle - End */


/* - - - - - - - - - - Font Awesome Icon - Start */
i.font-awesome-icon {
  font-size: 35px;
  margin: 0 15px 0 15px;
}
/* - - - - - - - - - - Font Awesome Icon - End */


/* - - - - - - - - - - Dropdown Arrow Animation - Start */
li.navbar-list-item-1:hover .navbar-drop-down-arrow-1, li.navbar-list-item-2:hover .navbar-drop-down-arrow-2, li.navbar-list-item-3:hover .navbar-drop-down-arrow-3, li.navbar-list-item-4:hover .navbar-drop-down-arrow-4 {
  animation: rotate-dropdown 300ms ease-in-out forwards;
}
@keyframes rotate-dropdown {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
/* - - - - - - - - - - Dropdown Arrow Animation - End */


/* - - - - - - - - - - Button - Start */
.navbar-not-signed-in-demo-button-section {
  text-align: center;
}
.navbar-not-signed-in-button-position {
  margin: 10px 0 0 0;
}
/* - - - - - - - - - - Button - End */


/* - - - - - - - - - - Spacer - Start */
.spacer-navbar-not-signed-in-2 {
  width: 100%;
  height: 80px;
  background-color: white;
}
/* - - - - - - - - - - Spacer - End */