/* - - - - - - - - - - Navbar - Start */
.navbar-not-signed-in {
  /* border: 1px solid black; */
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 99;
}
/* - - - - - - - - - - Navbar - End */


/* - - - - - - - - - - Company name and logo - Start */
.company-name-and-logo-navbar-not-signed-in {
  /* border: 1px solid black; */
  margin-left: 5rem;
  float: left;
  margin-top: 5px;
}
img.company-logo-navbar-not-signed-in {
  height: 4.5rem;
  width: 4.5rem;
  float: left;
}
h1.company-name-navbar-not-signed-in {
  font-size: 50px;
  float: right;
  color: var(--company-primary-color);
  line-height: 55px;
  margin: 5px 0 0 0;
}
h1.company-name-navbar-not-signed-in a, .h1.company-name-navbar-not-signed-in a:visited {
  text-decoration: none;
  color: var(--company-primary-color);
}
/* - - - - - - - - - - Company name and logo - End */


/* - - - - - - - - - - Navbar links - Start */
.navbar-links-not-signed-in {
  /* border: 1px black solid; */
  float: right;
}
.navbar-links-not-signed-in ul {
  /* border: 1px black solid; */
  margin-right: 5rem;
  background-color: white;
}
.navbar-links-not-signed-in ul li {
  /* border: 1px black solid; */
  float: left;
  list-style: none;
  position: relative;
  margin: 10px 0 0 0;
}
.navbar-links-not-signed-in ul li a {
  display: block;
  color: var(--company-primary-color);
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
}
.navbar-links-not-signed-in ul li a:hover {
  transition: 0.1s ease-in;
  background-color: var(--company-primary-color);
  border-radius: 10px;
  color: white;
}
.login-modal-body ul li a:hover, .create-account-modal-body ul li a:hover {
  background-color: white;
}
.navbar-links-not-signed-in ul li a button {
  /* padding: 0px; */
  margin: -18px 0 0 0;
}
/* - - - - - - - - - - Navbar links - End */


/* - - - - - - - - - - Spacer - Start */
.spacer-navbar-not-signed-in {
  width: 100%;
  height: 80px;
  background-color: white;
}
/* - - - - - - - - - - Spacer - End */


img.slack-image-button-li {
  /* margin: -10px 0 0 0; */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* - - - - - - - - - - Login Modal - Start */
.modal-login-text {
  color: var(--company-primary-color);
  text-decoration: none;
}
.login-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.login-modal-content {
  background-color: white;
  margin: 15% auto;
  width: 400px;
  animation-name: login-modal-open-animation;
  animation-duration: 1s;
}
.login-modal-header {
  background-color: var(--company-primary-color);
  padding: 15px;
  color: white;
  text-align: center;
}
.close-login-modal-x-button {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 30px;
}
.close-login-modal-x-button:hover, .close-login-modal-x-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.login-modal-body {
  /* border: 1px solid black; */
  height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: none;
}
.login-modal-body ul {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0 auto;
  float: none;
}
.login-modal-body ul li {
  /* border: 1px solid green; */
  float: none;
  display: block;
  padding: 4px 0;
}
.login-modal-body ul li a {
  padding: 0;
  margin: 0;
}


.login-modal-footer {
  background-color: var(--company-primary-color);
  padding: 10px;
  color: white;
  text-align: center;
}
@keyframes login-modal-open-animation {
  from{ opacity: 0; }
  to{ opacity: 1; }
}
/* - - - - - - - - - - Login Modal - End */


/* - - - - - - - - - - Create Account Modal - Start */
.modal-create-account-text {
  color: var(--company-primary-color);
  text-decoration: none;
}
.create-account-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.create-account-modal-content {
  background-color: white;
  margin: 15% auto;
  width: 400px;
  animation-name: create-account-modal-open-animation;
  animation-duration: 1s;
}
.create-account-modal-header {
  background-color: var(--company-primary-color);
  padding: 15px;
  color: white;
  text-align: center;
}
.close-create-account-modal-x-button {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 30px;
}
.close-create-account-modal-x-button:hover, .close-create-account-modal-x-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.create-account-modal-body {
  /* border: 1px solid black; */
  height: 200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: none;
}
.create-account-modal-body ul {
  /* border: 1px solid black; */
  width: 100%;
  margin: 0 auto;
  float: none;
}
.create-account-modal-body ul li {
  /* border: 1px solid green; */
  float: none;
  display: block;
  padding: 4px 0;
}
.create-account-modal-body ul li a {
  padding: 0;
  margin: 0;
}


.create-account-modal-footer {
  background-color: var(--company-primary-color);
  padding: 10px;
  color: white;
  text-align: center;
}

@keyframes create-account-modal-open-animation {
  from{ opacity: 0; }
  to{ opacity: 1; }
}
/* - - - - - - - - - - Create Account Modal - End */

/* - - - - - - - - - - Navbar links - Start */
.navbar-links-not-signed-in ul li ul {
  border: none;
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  width: 150px;
}
.navbar-links-not-signed-in ul li:hover ul {
  /* border: 1px solid black; */
  display: block;
}
.navbar-not-signed-in .navbar-links-not-signed-in ul li ul li a {
  /* border: 1px solid black; */
  padding: 10px 14px;
}
.navbar-links-not-signed-in ul li ul li {
  /* border: 1px solid black; */
  width: 100%;
}
/* - - - - - - - - - - Navbar links - End */