.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: rgb(0, 0, 0);
  width: 100%;
  position: fixed;
  z-index: 100;
}

.name-logo {
  float: left;
  margin-left: 5rem;
}

img.triviafy-logo {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  float: left;
}

.brand-title {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  float: left;
}

.brand-title a {
  text-decoration: none;
  color: black;
}

.brand-title a:visited {
  text-decoration: none;
  color: black;
}

.navbar-links {
  margin-right: 5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1rem;
  display: block;
  font-size: 1.1rem;
}

.navbar-links li a:visited {
  text-decoration: none;
  color: black;
}

.navbar-links li a:hover, .brand-title a:hover {
  color: rgb(141, 0, 217);
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-create-account {
  color: #fff;
  background-color: rgb(141, 0, 217);
  border: rgb(141, 0, 217);
}

.btn-create-account:hover {
  color: #fff;
  background-color: rgb(104, 0, 159);
  border: rgb(104, 0, 159);
}

.toggle-button {
  display: none;
}

@media (max-width: 1000px) {
  .name-logo {
    margin-left: 1rem;
  }
  
  .toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
    animation: animate 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
      transform: translateY(-90px);
    }

    50% {
      transform: rotateX(20deg);
    }

    100% {
      opacity: 1;
      transform: rotateX(0 deg);
    }
  }

  .toggle-button.active .middle-bar {
    transition: 0.125s;
    transform: translateX(-30px);
    opacity: 0;
  }

  .toggle-button.active .top-bar {
    transition: 0.5s;
    transform: rotate(45deg) translate(2.5px, 10px);
  }

  .toggle-button.active .bottom-bar {
    transition: 0.5s;
    transform: rotate(-45deg) translate(2.5px, -10px);
  }

}