/* - - - - - - - - - - Navbar - Start */
.navbar-not-signed-in {
  /* border: 1px solid black; */
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 99;
}
/* - - - - - - - - - - Navbar - End */


/* - - - - - - - - - - Company name and logo - Start */
.company-name-and-logo-navbar-not-signed-in {
  /* border: 1px solid black; */
  margin-left: 5rem;
  float: left;
  margin-top: 5px;
}
img.company-logo-navbar-not-signed-in {
  height: 4.5rem;
  width: 4.5rem;
  float: left;
}
h1.company-name-navbar-not-signed-in {
  font-size: 50px;
  float: right;
  color: var(--company-primary-color);
  line-height: 55px;
  margin: 5px 0 0 0;
}
h1.company-name-navbar-not-signed-in a, .h1.company-name-navbar-not-signed-in a:visited {
  text-decoration: none;
  color: var(--company-primary-color);
}
/* - - - - - - - - - - Company name and logo - End */


/* - - - - - - - - - - Navbar links - Start */
.navbar-links-not-signed-in {
  /* border: 1px black solid; */
  float: right;
}
.navbar-links-not-signed-in ul {
  /* border: 1px black solid; */
  margin-right: 5rem;
}
.navbar-links-not-signed-in ul li {
  /* border: 1px black solid; */
  float: left;
  list-style: none;
  position: relative;
  margin: 10px 0 0 0;
}
.navbar-links-not-signed-in ul li a {
  display: block;
  color: var(--company-primary-color);
  font-size: 18px;
  padding: 20px;
  text-decoration: none;
}
.navbar-links-not-signed-in ul li a:hover {
  font-size: 19px;
  transition: 0.2s ease-in;
  text-decoration: underline;
}
.navbar-links-not-signed-in ul li a button {
  /* padding: 0px; */
  margin: -18px 0 0 0;
}
/* - - - - - - - - - - Navbar links - End */


/* - - - - - - - - - - Spacer - Start */
.spacer-navbar-not-signed-in {
  width: 100%;
  height: 80px;
  background-color: white;
}
/* - - - - - - - - - - Spacer - End */