@media (max-width: 1200px) {
  /* - - - - - - - - - - Navbar - Start */
  .navbar-not-signed-in {
    position: relative;
  }
  /* - - - - - - - - - - Navbar - End */

  
  /* - - - - - - - - - - Logo and Company Name Start */
  .company-name-and-logo-navbar-not-signed-in {
    /* border: 1px solid black; */
    margin-left: 1rem;
  }
  img.company-logo-navbar-not-signed-in {
    margin-top: 5px;
  }
  h1.company-name-navbar-not-signed-in {
    margin-top: 10px;
  }
  /* - - - - - - - - - - Logo and Company Name End */


  /* - - - - - - - - - - Navbar mobile toggle - Start */
  .toggle-button-not-signed-in {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .toggle-button-not-signed-in .bar {
    height: 3px;
    width: 100%;
    /* background-color: rgb(0, 0, 0); */
    background-color: var(--company-primary-color);
    border-radius: 10px;
  }
  .toggle-button-not-signed-in.active .middle-bar {
    transition: 0.125s;
    transform: translateX(-30px);
    opacity: 0;
  }
  .toggle-button-not-signed-in.active .top-bar {
    transition: 0.5s;
    transform: rotate(45deg) translate(2.5px, 10px);
  }
  .toggle-button-not-signed-in.active .bottom-bar {
    transition: 0.5s;
    transform: rotate(-45deg) translate(2.5px, -10px);
  }
  /* - - - - - - - - - - Navbar mobile toggle - End */


  /* - - - - - - - - - - Navbar links - Start */
  .navbar-links-not-signed-in {
    display: none;
    width: 100%;
  }
  .navbar-links-not-signed-in.active {
    display: flex;
    animation: animate-drop-down-menu 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  .navbar-links-not-signed-in ul {
    /* border: 1px solid black; */
    float: none;
    margin-right: 0rem;
    width: 100%;
    flex-direction: column;
  }
  .navbar-links-not-signed-in ul li {
    float: none;
    text-align: center;
    width: 100%;
  }
  .navbar-not-signed-in .navbar-links-not-signed-in ul li a {
    color: var(--company-primary-color);
    font-size: 20px;
    padding: 30px;
  }
  .navbar-not-signed-in .navbar-links-not-signed-in ul li a:hover {
    transition: none;
    background-color: white;
  }
  /* - - - - - - - - - - Navbar links - Start */


  /* - - - - - - - - - - Spacer for main - Start */
  .spacer-navbar-not-signed-in {
    width: 100%;
    height: 0px;
    background-color: white;
  }
  /* - - - - - - - - - - Spacer for main - End */

  /* - - - - - - - - - - Login Modal - Start */
  .login-modal-content {
    width: 90%;
  }
  .login-modal-body {
    /* border: 1px solid black; */
    height: 260px;
  }
  .login-modal-body ul li {
    /* margin-left: 5%; */
    font-size: 15px;
  }
  /* - - - - - - - - - - Login Modal - End */


  /* - - - - - - - - - - Create Account Modal - Start */
  .create-account-modal-content {
    width: 90%;
  }
  .create-account-modal-body {
    /* border: 1px solid black; */
    height: 260px;
  }
  .create-account-modal-body ul li {
    /* margin-left: 5%; */
    font-size: 15px;
  }
  /* - - - - - - - - - - Create Account Modal - End */


  /* - - - - - - - - - - Navbar links - Start */
  nav.navbar-not-signed-in .navbar-links-not-signed-in ul {
    /* border: 1px solid black; */
    width: 100%;
  }
  nav.navbar-not-signed-in .navbar-links-not-signed-in ul li:hover ul {
    /* border: 1px solid black; */
    display: none;
  }
  /* Mobile only added the active click with JavaScript */
  nav.navbar-not-signed-in .navbar-links-not-signed-in ul li ul.active {
    /* border: 1px solid black; */
    display: block;
    background-color: var(--company-secondary-color);
    z-index: 100;
    position: absolute;
    animation: animate-drop-down-menu 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  nav.navbar-not-signed-in .navbar-links-not-signed-in ul li ul.active li a {
    /* border: 1px solid black; */
    color: black;
    padding: 30px;
  }
  /* - - - - - - - - - - Navbar links - Start */


  /* - - - - - - - - - - Navbar links - Animation - Start */
  @keyframes animate-drop-down-menu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
      transform: translateY(-90px);
    }
    50% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0 deg);
    }
  }
  /* - - - - - - - - - - Navbar links - Animation - End */
}