@media (max-width: 1200px) {
  /* - - - - - - - - - - Top Shadow - Start */
  .navbar-2-outline-shadow {
    position: relative;
  }
  /* - - - - - - - - - - Top Shadow - Start */


  /* - - - - - - - - - - Navbar - Entire - Start */
  .navbar-2-not-signed-in {
    /* border: 1px solid black; */
    width: 100%;
    height: 60px;
    flex-direction: column;
    align-items: flex-start;
  }
  /* - - - - - - - - - - Navbar - Entire - End */


  /* - - - - - - - - - - Navbar - Logo and Name - Start */
  .navbar-2-logo-and-name-section {
    margin: 0 0 0 25px;
  }
  .navbar-2-not-signed-in-logo {
    /* border: 1px solid black; */
    height: 50px;
    width: 50px;
  }
  .brand-title-2-not-signed-in {
    /* border: 1px solid black; */
    font-size: 40px;
  }
  /* - - - - - - - - - - Navbar - Logo and Name - End */


  /* - - - - - - - - - - Navbar - Hamburger Toggle - Start */
  .toggle-button-2 {
  display: flex;
  }
  /* - - - - - - - - - - Navbar - Hamburger Toggle - End */


  /* - - - - - - - - - - Navbar - Links - Level 1 - Start */
  .navbar-links-2-not-signed-in {
    /* border: 1px solid black; */
    display: none;
    width: 100%;
    background-color: white;
  }
  .navbar-links-2-not-signed-in.active {
    display: flex;
    /* animation: drop-down-animation 1s ease-in-out forwards; */
  }
  .navbar-links-2-not-signed-in ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links-2-not-signed-in ul li {
    text-align: center;
  }
  .navbar-links-2-not-signed-in ul li a {
    padding: 20px;
  }
  /* - - - - - - - - - - Navbar - Links - Level 1 - End */


  /* - - - - - - - - - - Navbar - Links - Level 2 - Start */
  .navbar-links-2-not-signed-in ul li ul {
    position: relative;
    width: 100%;
  }
  /* - - - - - - - - - - Navbar - Links - Level 2 - End */


  /* - - - - - - - - - - Spacer - Start */
  .spacer-navbar-not-signed-in-2 {
    height: 0px;
  }
  /* - - - - - - - - - - Spacer - End */


  /* - - - - - - - - - - Animation - Start */
  /* @keyframes drop-down-animation {
    0% {
      opacity: 0;
      transform: translateY(-200px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  /* - - - - - - - - - - Animation - End */
}