{% extends "base_blueprint/base.html" %}

<!-- head tag block content -->
{% block title %}
  <title>Triviafy</title>
  <meta name="slack-app-id" content="A021726L200">

  <!-- Connect to the style pages Start -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_landing_page/style_landing_nav.css') }}?v={{ css_cache_busting }}">
  <!-- Connect to the style pages End -->

  <!-- Load javascript function(s) Start -->
  <!-- To get the nav from another html file -->
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <!-- Load javascript function(s) End -->
{% endblock %}

{% block content %}
  <!--Navigation bar-->
  <div id="nav-placeholder">

  </div>

  <script>
  $(function(){
    $("#nav-placeholder").load("base_blueprint/nav_not_logged_in.html");
  });
  </script>
  <!--end of Navigation bar-->
{% endblock %}