<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Triviafy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Connect to Google Fonts Start -->
  <!-- Connect to Google Fonts End -->

  <!-- Favicon Start -->
  <!-- Favicon End -->
  
  <!-- Connect to the style pages Start -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_landing_page/style_landing_page.css') }}?v={{ css_cache_busting }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_pages.css') }}">
  <!-- Connect to the style pages End -->
  
  <!-- Load javascript function(s) Start -->
  <!-- Load javascript function(s) End -->

  <!-- Global site tag (gtag.js) - Google Analytics Start -->
  <!-- Global site tag (gtag.js) - Google Analytics End -->
  
  <!-- Begin Inspectlet Asynchronous Code -->
  <!-- End Inspectlet Asynchronous Code -->
</head>

<body>
  <nav>
  </nav>
  <main>
    <h1>Triviafy, a work in progress.</h1>
  </main>
  <footer>
  </footer>
</body>
</html>