{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Example Quiz / Triviafy</title>
{% endblock %}



{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<!--Navigation bar-->
<nav-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                              link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                              link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                              link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                              pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                              pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                              pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                              pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                              pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                              pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                              link_demo_js="{{ url_for('demo_page_render_template.demo_page_render_template_function') }}",
                              link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</nav-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->


<main class="logged-in">
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Intro Start -->
  <company-name-channel-component company_name_js="Your Company Name",
                                  channel_name_js="your-teams-trivia-slack-channel",
                                  free_trial_ends_info_js="">
  </company-name-channel-component>

  <div class="default-signed-in-page-into-background default-box-shadow-black-small">
    <div class="default-signed-in-page-intro">
      <p class="default-signed-in-page-intro-title default-signed-in-page-intro-title-dashboard" id='default-signed-in-words-stroke-shadow'>Quiz 1</p>
      <p class="default-signed-in-page-intro-sub-title default-signed-in-page-intro-sub-title-dashboard">Due: 4 PM, Wed, 2099-12-31</p>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Modal Start -->
      <a href="#"><p class="modal-see-rules" id="quiz-rules-activate-modal">See Rules</p></a>
      <div id="quiz-rules-details-modal" class="quiz-modal">
        <div class="modal-content default-box-shadow-black-small">
          
          <div class="modal-header">
            <span class="close-modal-x-button">&times;</span>
            <h2>Quiz Rules</h2>
          </div>
          
          <div class="modal-body">
            <ul>
              <li>First place = 1 <em>'Bragging-Right-Card'</em> & 10 <em>'Bragging-Right-Cards'</em> = <span class="modal-bolder-rules">Gift Card Prize!</span></li>
              <li>Think for yourself. Looking up anything = <span class="modal-bolder-rules">cheating</span>.</li>
              <li><span class="modal-bolder-rules">Spelling errors</span> should not affect score, but try your best.</li>
              <li>Answers should only contain letters, numbers, and spaces. <span class="modal-bolder-rules">No special characters</span>.</li>
              <li>Answers should not be more than <span class="modal-bolder-rules">100 characters</span>.</li>
              <li>Email: <span class="modal-bolder-rules">Robert@Triviafy.com</span> with any feedback.</li>
            </ul>
          </div>
          
          <div class="modal-footer">
            <h3>Triviafy</h3>
          </div>
        </div>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Modal End -->
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Intro End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Current Quiz Form Start -->
  <form action="{{ url_for('index_page_render_template.index_page_render_template_function') }}" method="post" enctype="multipart/form-data" onsubmit="return clickSubmitButtonOnce()">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz All Questions Start -->
    {% for i in quiz_questions_obj_arr_of_dicts_html %}
    <div class="quiz-question-section default-box-shadow-grey-reg">

      
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Logo START -->
      <div class="quiz-question-sub-section-logo">
        <img src="/static/images/logo/Logo.png" alt="Triviafy Logo">
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Logo END -->
      

      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Number, Title, Categories, Difficulty START -->
      <div class="quiz-question-sub-section-background-color">
        <div class="quiz-question-sub-section-number-and-title">
          <p>Q{{ i['quiz_question_number'] }}: {{ i['question_title'] }}</p>
        </div>
        <div class="quiz-question-sub-section-categories">
          <p>Categories: {{ i['question_categories_list'] }}</p>
        </div>
        <div class="quiz-question-sub-section-difficulty">
          <p>Difficulty: {{ i['question_difficulty'] }}</p>
        </div>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Number, Title, Categories, Difficulty END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Actual Question START -->
      <div class="quiz-question-sub-section-actual-question">
        <p>{{ i['question_actual_question'] }}</p>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Actual Question END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Image START -->
      <div class="quiz-question-sub-section-image">
        <img src="{{ i['question_image_aws_url'] }}" alt="Triviafy question image" class='class-check-if-image-is-present'>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Image END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Hint START -->
      <div class="quiz-question-sub-section-hint">
        <p class="class-check-if-hint-is-present">Hint: {{ i['question_hint'] }}</p>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question Hint END -->


      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question User Answers START -->
      <div class="quiz-question-sub-section-user-answer">
        <p style='color:var(--company-greyed-out-color)'>To Answer Quiz Questions: Create Account > Add To Slack > Select your team's Slack channel.</p>
      </div>
      <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Question User Answers END -->


    </div>
    {% endfor %}
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz All Questions End -->


  </form>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Current Quiz Form END -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Download PDF Link START -->
  <div class="example-quiz-not-signed-in-download-pdf-section">
    <a href="{{ url_for('download_sql_example_quiz_pdf_redirect.download_sql_example_quiz_pdf_redirect_function') }}" class="example-quiz-not-signed-in-a">Share This Quiz PDF With Team</a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Download PDF Link END -->



  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Small Logo Caricature Start -->
  <div class="default-signed-in-logo-caricature-small-section">
    <img src="/static/images/logo/Logo_active/Logo_cheering_purple.png" alt="Logo cheering purple" class="default-signed-in-logo-caricature-img">
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Small Logo Caricature End -->

</main>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer START -->
<!-- Footer Not Signed In -->
<footer-not-signed-in-component-2 link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
                                link_about_js="{{ url_for('about_index_page_render_template.about_index_page_render_template_function') }}",
                                link_blog_js="{{ url_for('blog_index_page_render_template.blog_index_page_render_template_function') }}",
                                link_privacy_js="{{ url_for('privacy_policy_index_page_render_template.privacy_policy_index_page_render_template_function') }}",
                                link_terms_conditions_js="{{ url_for('terms_of_service_index_page_render_template.terms_of_service_index_page_render_template_function') }}",
                                pdf_example_quiz_js="{{ url_for('example_quiz_team_analytics_render_template.example_quiz_team_analytics_render_template_function') }}",
                                pdf_example_quiz_javascript_js="{{ url_for('example_quiz_javascript_render_template.example_quiz_javascript_render_template_function') }}",
                                pdf_example_quiz_excel_js="{{ url_for('example_quiz_excel_render_template.example_quiz_excel_render_template_function') }}",
                                pdf_example_quiz_sql_js="{{ url_for('example_quiz_sql_render_template.example_quiz_sql_render_template_function') }}",
                                pdf_example_quiz_tableau_js="{{ url_for('example_quiz_tableau_render_template.example_quiz_tableau_render_template_function') }}",
                                pdf_slack_setup_js="{{ url_for('download_triviafy_setup_slack_pdf_redirect.download_triviafy_setup_slack_pdf_redirect_function') }}",
                                link_faq_js="{{ url_for('faq_index_page_render_template.faq_index_page_render_template_function') }}">
</footer-not-signed-in-component-2>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Footer END -->
{% endblock %}