{% extends "AA_SUPPORTING_PAGE_TEMPLATES/index.html" %}

{% block title %}
<title>Quiz Settings / Triviafy</title>
{% endblock %}



{% block content %}
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar START -->
<nav-component link_home_js="{{ url_for('index_page_render_template.index_page_render_template_function') }}",
              link_account_js="{{ url_for('account_index_page_render_template.account_index_page_render_template_function') }}",
              link_create_question_js="{{ url_for('create_question_index_page_render_template.create_question_index_page_render_template_function') }}",
              link_quiz_settings_index_js="{{ url_for('quiz_settings_index_page_render_template.quiz_settings_index_page_render_template_function') }}",
              link_quiz_feedback_index_js="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}",
              link_leaderboard_js="{{ url_for('leaderboard_page_render_template.leaderboard_page_render_template_function') }}",
              link_quiz_archive_js="{{ url_for('quiz_archive_page_render_template.quiz_archive_page_render_template_function') }}",
              link_subscription_js="{{ url_for('subscription_index_page_render_template.subscription_index_page_render_template_function') }}",
              link_claim_prize_js="{{ url_for('claim_prize_index_page_render_template.claim_prize_index_page_render_template_function') }}">
</nav-component>
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar END -->

<main class="logged-in">

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro Start -->
  <company-name-channel-component company_name_js="{{ user_company_name_to_html }}",
                                  channel_name_js="{{ user_channel_name_to_html }}",
                                  free_trial_ends_info_js="{{ free_trial_ends_info_to_html }}">
  </company-name-channel-component>

  <div class="template-page-intro-background default-box-shadow-black-small">
    <div class="template-page-intro">
      <p class="template-page-intro-title template-page-intro-title-quiz-settings"id='words-stroke-shadow'>Quiz Settings</p>
    </div>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Page Intro End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Start -->
  <div class="quiz-settings-section">
    <div class="quiz-settings-sub-section default-box-shadow-grey-reg">
      <p class="quiz-settings-sub-section-title">Quiz Start</p>
      <p class="quiz-settings-sub-section-title-description">Recommended: Monday, 9 AM</p>
      <div class="quiz-settings-sub-section-items-group">
        <p class="quiz-settings-sub-section-item-single">{{ company_quiz_settings_start_day_html }}</p>
        <p class="quiz-settings-sub-section-item-single">{{ company_quiz_settings_start_time_html }} - EST (New York Time)</p>
      </div>
    </div>

    <div class="quiz-settings-sub-section default-box-shadow-grey-reg">
      <p class="quiz-settings-sub-section-title">Quiz End</p>
      <p class="quiz-settings-sub-section-title-description">Recommended: Wednesday, 7 PM</p>
      <div class="quiz-settings-sub-section-items-group">
        <p class="quiz-settings-sub-section-item-single">{{ company_quiz_settings_end_day_html }}</p>
        <p class="quiz-settings-sub-section-item-single">{{ company_quiz_settings_end_time_html }} - EST (New York Time)</p>
      </div>
    </div>

    <div class="quiz-settings-sub-section default-box-shadow-grey-reg">
      <p class="quiz-settings-sub-section-title">Questions per Quiz</p>
      <p class="quiz-settings-sub-section-title-description">Recommended: 10</p>
      <div class="quiz-settings-sub-section-items-group">
        <p class="quiz-settings-sub-section-item-single">{{ company_quiz_settings_questions_per_quiz_html }}</p>
      </div>
    </div>

    <div class="quiz-settings-sub-section-last-update">
      <p>Quiz Settings Last Updated: {{ company_quiz_settings_last_updated_timestamp_html }}</p>
    </div>
  
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Edit Start -->
  <div class="quiz-settings-edit-section">
    <p id="quiz-settings-if-payment-admin">{{ user_payment_admin_status_html }}</p>
    <a href="{{ url_for('edit_quiz_settings_index_page_render_template.edit_quiz_settings_index_page_render_template_function') }}"><button class="button-default button-default-color-primary" type="submit" value="submit" onclick="return clickSubmitButtonOnce()">Edit Settings</button></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Edit End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Explain Start -->
  <div class="quiz-settings-explain-section">
    <p class="quiz-settings-explain-sub-section-permission">Only payment admin's can change quiz settings</p>
    <p class="quiz-settings-explain-sub-section-permission">To see user's with "Payment Admin Access" go to Account > Settings.</p>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Settings Explain End -->


  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Feedback Start -->
  <div class="template-hyperlink-redirect-section">
    <a href="{{ url_for('quiz_feedback_index_page_render_template.quiz_feedback_index_page_render_template_function') }}" class="template-hyperlink-redirect-section-a"><p class="template-hyperlink-redirect-section-p">Request more quiz categories.</p></a>
  </div>
  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - Quiz Feedback End -->
</main>

<footer-signed-in-component></footer-signed-in-component>
{% endblock %}