/* - - - - - - - - - - Quiz Intro - Start */
.example-quiz-not-signed-in-download-pdf-section {
  /* border: 1px solid black; */
  text-align: center;
  padding: 25px 0;
}
.example-quiz-not-signed-in-a, .example-quiz-not-signed-in-a:hover, .example-quiz-not-signed-in-a:visited {
  color: var(--company-primary-color);
  font-size: 20px;
}
/* - - - - - - - - - - Modal - Start */
