/* - - - - - - - - - - Navbar - Start */
.navbar-signed-in {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  z-index: 99;
}
/* - - - - - - - - - - Navbar - End */


/* - - - - - - - - - - Spacer for main - Start */
.spacer {
  width: 100%;
  height: 60px;
  background-color: white;
}
/* - - - - - - - - - - Spacer for main - End */


/* - - - - - - - - - - Company name and logo - Start */
.company-name-and-logo {
  /* border: 1px solid black; */
  margin-left: 5rem;
  float: left;
}
.company-name-and-logo img {
  height: 3.7rem;
  width: 3.7rem;
  float: left;
}
.company-name-and-logo h1 {
  font-size: 40px;
  float: right;
  color: var(--company-primary-color);
  line-height: 55px;
}
.company-name-and-logo h1 a, .company-name-and-logo h1 a:visited {
  text-decoration: none;
  color: var(--company-primary-color);
}
/* - - - - - - - - - - Company name and logo - End */


/* - - - - - - - - - - Navbar links - Start */
.navbar-links ul {
  /* border: 1px solid black; */
  float: right;
  margin-right: 5rem;
  background-color: white;
}
.navbar-links ul li {
  float: left;
  list-style: none;
  position: relative;
}
.navbar-signed-in .navbar-links ul li a {
  display: block;
  color: var(--company-greyed-out-color);
  font-size: 15px;
  padding: 20px 15px;
  text-decoration: none;
}
.navbar-links ul li a:hover {
  color: var(--company-primary-color);
  transition: 0.2s ease-in;
}
.navbar-links ul li ul {
  border: 1px solid var(--company-primary-color);
  display: none;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}
.navbar-links ul li ul.thicker-ul-item {
  width: 150px;
}
.navbar-links ul li:hover ul {
  display: block;
}
.navbar-signed-in .navbar-links ul li ul li a {
  padding: 10px 14px;
}
.navbar-links ul li ul li a:hover {
  color: var(--company-primary-color);
  transition: 0.2s ease-in;
}
/* - - - - - - - - - - Navbar links - End */