/* ============================================== */
/* ================= MOBILE ===================== */
/* ============================================== */
@media (max-width: 1200px) {
  /* - - - - - - - - - - Navbar - Start */
  nav.navbar-signed-in {
    position: relative;
  }
  /* - - - - - - - - - - Navbar - End */

  /* - - - - - - - - - - Spacer for main - Start */
  .spacer {
    width: 100%;
    height: 0px;
    background-color: white;
  }
  /* - - - - - - - - - - Spacer for main - End */

  /* - - - - - - - - - - Company name and logo - Start */
  nav.navbar-signed-in .company-name-and-logo {
    /* border: 1px solid black; */
    margin-left: 1rem;
  }
  nav.navbar-signed-in .company-name-and-logo img {
    height: 3.3rem;
    width: 3.3rem;
    margin-top: 5px;
  }
  nav.navbar-signed-in .company-name-and-logo h1 {
    font-size: 35px;
    margin-top: 5px;
  }
  /* - - - - - - - - - - Company name and logo - End */

  /* - - - - - - - - - - Navbar mobile toggle - Start */
  nav.navbar-signed-in .toggle-button {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  nav.navbar-signed-in .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  nav.navbar-signed-in .toggle-button.active .middle-bar {
    transition: 0.125s;
    transform: translateX(-30px);
    opacity: 0;
  }
  nav.navbar-signed-in .toggle-button.active .top-bar {
    transition: 0.5s;
    transform: rotate(45deg) translate(2.5px, 10px);
  }
  nav.navbar-signed-in .toggle-button.active .bottom-bar {
    transition: 0.5s;
    transform: rotate(-45deg) translate(2.5px, -10px);
  }
  /* - - - - - - - - - - Navbar mobile toggle - End */

  /* - - - - - - - - - - Navbar links - Start */
  nav.navbar-signed-in .navbar-links {
    display: none;
    width: 100%;
  }
  nav.navbar-signed-in .navbar-links.active {
    display: flex;
    animation: animate-drop-down-menu 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  nav.navbar-signed-in .navbar-links ul {
    /* border: 1px solid black; */
    float: none;
    margin-right: 0rem;
    width: 100%;
    flex-direction: column;
  }
  nav.navbar-signed-in .navbar-links ul li {
    float: none;
    text-align: center;
    width: 100%;
  }
  nav.navbar-signed-in .navbar-links ul li a {
    color: var(--company-primary-color);
    font-size: 20px;
    padding: 30px;
  }
  nav.navbar-signed-in .navbar-links ul li a:hover {
    transition: none;
  }
  nav.navbar-signed-in .navbar-links ul li ul {
    display: none;
  }
  nav.navbar-signed-in .navbar-links ul li:hover ul {
    display: none;
  }
  nav.navbar-signed-in .navbar-links ul li ul li a {
    color: white;
  }
  nav.navbar-signed-in .navbar-links ul li ul li a:hover {
    color: white;
    transition: none;
  }
  /* Mobile only added the active click with JavaScript */
  nav.navbar-signed-in .navbar-links ul li ul.active {
    display: block;
    background-color: var(--company-secondary-color);
    z-index: 100;
    position: absolute;
    animation: animate-drop-down-menu 300ms ease-in-out forwards;
    animation-delay: 0ms;
  }
  nav.navbar-signed-in .navbar-links ul li ul.thicker-ul-item {
    width: 100%;
  }
  nav.navbar-signed-in .navbar-links ul li ul.active li a {
    color: black;
    padding: 30px;
  }
  /* - - - - - - - - - - Navbar links - Start */

  /* - - - - - - - - - - Navbar links - Animation - Start */
  @keyframes animate-drop-down-menu {
    0% {
      opacity: 0;
      transform: rotateX(-90deg);
      transform: translateY(-90px);
    }
    50% {
      transform: rotateX(20deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(0 deg);
    }
  }
  /* - - - - - - - - - - Navbar links - Animation - End */
}