/* - - - - - - - - - - Claim Prize Form Start */
form.subscription-form {
  width: 50%;
  margin: 60px auto;
}
.subscription-section {
  text-align: center;
  padding: 20px 20px 40px 20px;
}
.subscription-section-description {
  font-size: 25px;
  color: var(--company-primary-color);
  padding: 0 0 15px 0;
}
.subscription-section-sub-description {
  font-size: 15px;
  color: var(--company-greyed-out-color);
  margin: 10px 0;
}

.subscription-span {
  color: var(--company-primary-color);
  font-size: 18px;
}
/* - - - - - - - - - - Claim Prize Form End */

.subscription-paypal-section {
  /* border: 1px solid black; */
  text-align: center;
}
img.subscription-paypal-img {
  /* border: 1px solid black; */
  height: 150px;
  max-height: 150px;
}

.subscription-section-payment-admin-title {
  color: var(--company-primary-color);
  font-size: 20px;
  margin: 50px 0 0 0;
}
.subscription-section-payment-admin-item {
  margin: 10px 0;
}