/* - - - - - - - - - - Quiz Past Due Intro Start */
.quiz-past-due-intro-background {
  height: 150px;
  width: 100%;
  background-color: var(--company-primary-color);
}
.quiz-past-due-intro {
  text-align: center;
  padding-top: 10px;
}
.quiz-past-due-title {
  color: white;
  font-size: 50px;
}
/* - - - - - - - - - - Quiz Past Due Intro End */


/* - - - - - - - - - - Quiz Past Due Desc Start */
.quiz-past-due-section {
  text-align: center;
  margin: 50px 0;
}
.quiz-past-due-sub-section-description {
  color: var(--company-greyed-out-color);
  width: 95%;
  margin: 0 auto;
}
/* - - - - - - - - - - Quiz Past Due Desc End */