<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Triviafy - Create Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Connect to Google Fonts Start -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
  <!-- Connect to Google Fonts End -->

  <!-- Favicon Start -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/favicon_io/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/logo/favicon_io/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo/favicon_io/favicon-16x16.png">
  <link rel="manifest" href="/static/images/logo/favicon_io/site.webmanifest">
  <!-- Favicon End -->
  
  <!-- Connect to the style pages Start -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_all_pages.css') }}?v={{ css_cache_busting }}">

  <!-- Connect to the style pages End -->
  
  <!-- Load javascript function(s) Start -->
  <script src="/backend/utils/javascript/check_before_submit.js" type="text/javascript" ></script>
  <!-- Load javascript function(s) End -->

  <!-- Global site tag (gtag.js) - Google Analytics Start -->
  <!-- Global site tag (gtag.js) - Google Analytics End -->

  <!-- Begin Inspectlet Asynchronous Code -->
  <!-- End Inspectlet Asynchronous Code -->
</head>

<body>
  <header>
    <nav>
      <a href="{{ url_for('landing_page_render.landing_page_render_function') }}"><h1>Triviafy</h1></a>
      <p>navbar here</p>
    </nav>
  </header>

  <main>
    </div>
    <form action="{{ url_for('create_account_to_postgres.create_account_to_postgres_function') }}" method="post" class="login_and_create_account_form" onsubmit="return checkBeforeSubmit()">
      <div class = "create_account_inputs">
        <div class = "subheader">
          <p><strong>Join Triviafy</strong></p>
        </div>
        <div class = "create_account_first_name">
          <label for="user_first_name"><b>First Name</b></label>
          <input type="text" class="input_type_login_and_create_account" placeholder="Enter First Name" name="user_first_name" pattern="[A-Za-z]{1,50}" required>
        </div>
        <div class = "create_account_last_name">
          <label for="user_last_name"><b>Last Name</b></label>
          <input type="text" class="input_type_login_and_create_account" placeholder="Enter Last Name" name="user_last_name" pattern="[A-Za-z]{1,50}" required>
        </div>
        <div class = "create_account_company_name">
          <label for="user_company_name"><b>Company Name</b></label>
          <input type="text" class="input_type_login_and_create_account" placeholder="Enter Company Name" name="user_company_name" pattern="[A-Za-z]{1,50}" required>
        </div>
        <div class = "create_account_department_name">
          <label for="user_department_name"><b>Company Department</b></label>
          <input type="text" class="input_type_login_and_create_account" placeholder="Enter Department" name="user_department_name" pattern="[A-Za-z]{1,50}" required>
        </div>
        <div class = "create_account_email">
          <label for="email"><b>Work Email</b></label>
          <input type="text" class="input_type_login_and_create_account" placeholder="Enter Email" name="email" pattern="[A-Za-z0-9._-]{1,50}@[A-Za-z0-9._-]{1,30}\.[A-Za-z]{2,3}" required>
        </div>
        <div class = "create_account_password">
          <label for="psw"><b>Password</b></label>
          <p>Format: 8-20 chars, at least 1 [uppercase, lowercase, number, special]</p>
          <input type="password" class="input_type_login_and_create_account" placeholder="Enter Password" name="psw" pattern="(?=^.{8,20}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Minimum 8 charactes, Maximum 20 characters: Uppercase, Lowercase, Number, Special" required>
        </div>
        <div class = "create_account_button">
          <button type="submit" class="button_login_and_create_account">Create Account</button>
        </div>
      </div>
    </form>
  </main>

  <footer>
    <p>footer here</p>
  </footer>
</body>
</html>