/* - - - - - - - - - - Image - Start */
.blog-single-post-img-section {
  margin: 50px auto 0 auto;
  text-align: center;
}
img.blog-single-post-img {
  border-radius: 24px;
  width: 100%;
  border: 2px solid var(--company-greyed-out-color);
}
/* - - - - - - - - - - Image - End */


/* - - - - - - - - - - Whole Article - Start */
.blog-single-post-all-articles-section {
  /* border: 1px solid black; */
  margin: 50px 0;
  line-height: 2;
}
.blog-single-post-regular-bullet-point {
  padding: 0 0 0 25px;
}
/* - - - - - - - - - - Whole Article - End */


/* - - - - - - - - - - Divider - Start */
.blog-single-post-space-divider {
  /* border: 1px solid black; */
  margin: 30px 0;
}
/* - - - - - - - - - - Divider - End */


/* - - - - - - - - - - Finish Article Line - Start */
.blog-single-post-finish-article-line {
  border: 1px solid var(--company-greyed-out-color);
}
/* - - - - - - - - - - Finish Article Line - End */


/* - - - - - - - - - - Supporting Links - Start */
.blog-single-post-supporting-links-section {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 15px;
  line-height: 2;
  padding: 25px 0;
}
/* - - - - - - - - - - Supporting Links - End */


/* - - - - - - - - - - Date Published - Start */
.blog-single-post-date-published {
  /* border: 1px solid black; */
  text-align: center;
  padding: 25px 0;
}
/* - - - - - - - - - - Date Published - End */


/* - - - - - - - - - - About the Author - Start */
.blog-single-post-about-author-section {
  /* border: 1px solid black; */
  padding: 25px 0;
  display: flex;
  width: 60%;
  max-width: 650px;
  margin: 0 auto;
}
img.blog-single-post-about-author-sub-section-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.blog-single-post-about-author-sub-section-words {
  /* border: 1px solid black; */
  margin: 0 0 0 20px;
}
/* - - - - - - - - - - About the Author - End */






/* - - - - - - - - - - Email Form - Start */
.blog-single-post-email-collect-section {
  /* border: 1px solid black; */
  padding: 75px;
}
/* - - - - - - - - - - Email Form - End */