/* - - - - - - - - - - Intro - Start */
.blog-single-post-section {
  /* border: 1px solid black; */
  width: 50%;
  margin: 0 auto;
}
.blog-single-post-sub-section-title-and-subtitle-section {
  /* border: 1px solid black; */
  text-align: center;
}
p.blog-single-post-sub-section-title {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
  font-size: 60px;
  padding: 50px 0 10px 0;
}
p.blog-single-post-sub-section-sub-title {
  /* border: 1px solid black; */
  color: var(--company-primary-color);
  font-size: 25px;
}
/* - - - - - - - - - - Intro - End */


/* - - - - - - - - - - Image - Start */
img.blog-single-post-img {
  border-radius: 15px;
  width: 100%;
  margin: 50px 0 0 0;
  border: 1px solid var(--company-greyed-out-color);
}
/* - - - - - - - - - - Image - End */



/* - - - - - - - - - - Whole Article - Start */
.blog-single-post-all-articles-section {
  /* border: 1px solid black; */
  margin: 50px 0;
  line-height: 2;
}
.blog-single-post-regular-paragraph {
  color: black;
  font-size: 18px;
}
.blog-single-post-regular-bullet-point {
  padding: 0 0 0 25px;
}
.blog-single-post-highlight-color {
  color: var(--company-primary-color);
}
/* - - - - - - - - - - Whole Article - End */

.blog-single-post-space-divider {
  margin: 30px 0;
}


/* - - - - - - - - - - Finish Article Line - Start */
.blog-single-post-finish-article-line {
  border: 1px solid var(--company-greyed-out-color);
}
/* - - - - - - - - - - Finish Article Line - End */


/* - - - - - - - - - - Supporting Links - Start */
.blog-single-post-supporting-links-section {
  font-size: 15px;
  line-height: 2;
  margin: 25px 0;
}
/* - - - - - - - - - - Supporting Links - End */


/* - - - - - - - - - - Contact - Start */
.blog-single-post-contact-info-section {
  text-align: center;
  color: var(--company-primary-color);
  font-size: 20px;
}
/* - - - - - - - - - - Contact - End */


/* - - - - - - - - - - Triviafy Characters - Start */
.blog-single-post-triviafy-character {
  /* border: 1px solid black; */
  text-align: center;
  margin: 40px 0;
}
img.blog-single-post-triviafy-character-sub-section-img {
  /* border: 1px solid black; */
  height: 300px;
  width: 300px;
}
/* - - - - - - - - - - Triviafy Characters - End */