@media (max-width: 1200px) {
  /* - - - - - - - - - - About the Author - Start */
  img.blog-single-post-about-author-sub-section-img {
    height: 100px;
    width: 100px;
  }
  .blog-single-post-about-author-section {
    width: 90%;
  }
  /* - - - - - - - - - - About the Author - End */
}