/* - - - - - - - - - - Logo Caricature 1 Start */
.waitlist-create-question-logo-image-1, .waitlist-create-question-logo-image-2 {
  text-align: center;
}
.waitlist-create-question-logo-image-1 img.logo-waitlist-create-question-construction-outfit-1, .waitlist-create-question-logo-image-2 img.logo-waitlist-create-question-construction-outfit-2 {
  height: 250px;
  width: 250px;
  padding: 10px;
}
/* - - - - - - - - - - Logo Caricature 1 End */


/* - - - - - - - - - - Waitlist form Start */
form.waitlist-form {
  background-color: white;
  text-align: center;
  width: 50%;
  margin: 0px auto;
  border: 5px solid var(--company-primary-color);
  border-radius: 10px;
  padding: 30px;
}


/* - - - - - - - - - - Waitlist title, description, and email Start */
.waitlist-title {
  color: var(--company-primary-color);
  margin-bottom: 20px;
  font-size: 40px;
}
.waitlist-description p, .user_email_section p {
  color: var(--company-greyed-out-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
/* - - - - - - - - - - Waitlist title, description, and email End */


/* - - - - - - - - - - Waitlist Submit Form Start */
.waitlist_submit_button_section {
  margin-top: 40px;
  margin-bottom: 20px;
}
/* - - - - - - - - - - Waitlist Submit Form End */


/* - - - - - - - - - - Go back Start */
/* - - - - - - - - - - Go back End */
/* - - - - - - - - - - Waitlist form End */


/* - - - - - - - - - - Logo Caricature 2 Start */
/* - - - - - - - - - - Logo Caricature 2 End */