/* - - - - - - - - - - Demo - Start */
.demo-section {
  /* border: 1px solid black; */
  height: 700px;
  width: 80%;
  max-width: 1200px;
  margin: 100px auto 0 auto;
}
.demo-section-grid {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: minmax(300px,585px) minmax(350px,467px);
  grid-template-rows: 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

/* - - - - - - - - - - Demo Left - Start */
.demo-section-grid-left {
  /* border: 1px solid black; */
  grid-area: 1 / 1 / 2 / 2;
  margin: 80px 0 0 0;
}
.demo-page-position-header {
  /* border: 1px solid black; */
  margin: 0 0 30px 0;
}
.demo-page-position-subheader {
  /* border: 1px solid black; */
  margin: 0 0 30px 0;
}
.demo-page-position-subheader-ul {
  /* border: 1px solid black; */
  margin: 0 0 0 30px;
}
.demo-page-position-subheader-li {
  /* border: 1px solid black; */
  margin: 20px 0;
}
.demo-logo, img.demo-logo-img {
  /* border: 1px solid black; */
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
/* - - - - - - - - - - Demo Left - End */


/* - - - - - - - - - - Demo Right - Start */
.demo-section-grid-right {
  /* border: 1px solid black; */
  grid-area: 1 / 2 / 2 / 3;
  padding: 80px 0 0 0;
}
.demo-section-grid-right-inner-section {
  /* border: 1px solid black; */
  margin: 0;
  padding: 40px;
  border-radius: 24px;
}
form.demo-form {
  display: grid !important;
  opacity: 1 !important;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
.form-input-section {
  /* border: 1px solid black; */
  width: 100% !important;
}
.demo-page-form-label {
  /* border: 1px solid black; */
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.demo-text-input-position {
  width: 100%;
}
/* - - - - - - - - - - Demo Right - End */
/* - - - - - - - - - - Demo - End */